{% csrf_token %}
{%  include 'elections/webform_format/election_date.html' %}
{%  include 'elections/webform_format/election_time.html' %}
{%  if positions is not None %}
    <p>Valid Positions:
        {% for position in positions %}
        {{ position }},
        {% endfor %}
    </p>
{%  endif %}
{%  include 'elections/webform_format/election_type.html' %}
{%  include 'elections/webform_format/election_websurvey.html' %}
{%  include 'elections/webform_format/submission_buttons.html' %}
<br><br><br>
<input type="button" value="Add another Nominee" onClick="addBlankNominee('{{nominee_div__name}}');">
<div id="{{nominee_div__name}}"></div>
<input type="button" value="Add another Nominee" onClick="addBlankNominee('{{nominee_div__name}}');">
<br><br><br>
{%  include 'elections/webform_format/submission_buttons.html' %}
<br>
