.csss_frosh_instagram_button {
    font-size:64px;
    color:#517fa4;
}

.csss_frosh_facebook_button {
    font-size:64px;
    color:#3b5998;
}

.csss_frosh_twitter_button {
    font-size:64px;
    color:#00aced;
}

.csss_frosh_discord_button {
    font-size:64px;
}

.csss_frosh_google_form_1 {
    margin-top:9px;
}

.csss_frosh_google_form_2 {
    margin-top:9px;
    margin-left:5px;
}

