{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{%  static 'csss_static/csss_custom.css' %}">
	<h2 class="title is-size-2">Create new Election</h2>
	{%  include 'elections/json/creating_election_errors.html' %}
	<form method="post" class="form">
		{%  include 'elections/webform/form__webform.html' %}
	</form>

	<script>
		function removeDiv(divName){$(divName).remove();}

		{%  include 'elections/webform/js_functions/on_load_js_function/main_function.html' %}

		{%  include 'elections/webform/js_functions/add_blank_nominee.html' %}

		{%  include 'elections/webform/js_functions/add_blank_speech.html' %}
	</script>
{% endblock %}
