{% extends "csss/header.html" %}

{% block content %}
  {{ block.super }}
  <h1>The 750 Project</h1>
  <h2>Goal</h2>
  <p>The 750 Project is a CSSS initative designed to encourage and support students who wish to work on personal and/or group projects. &nbsp;Why would students want to do this? &nbsp;They get to apply the concepts and theories they learn in class to projects that they want and are passionate about. &nbsp;They are exposed to new languages, technology, and hardware. &nbsp;And, by adding projects to their resume, they can find a co-op or a new job after they graduate more quickly. &nbsp;</p>
  <h2>History</h2>
  <p>The initial idea started in fall 2014 when the CSSS held a fundraiser to purchase an assortment of dev kits and equipment. &nbsp;Working with the School of Computing Science, we sold CS branded t-shirts and hoodies. &nbsp; After a week we had raised around $750 which the CSSS then doubled by using excess core funds supplied every term by the Simon Fraser Student Society.</p>
  <p>With that money we purchased an assortment of development equipment that allowed students to work on embedded systems, VR, HCI, and distributed systems projects, all of which are aspects of SFU's Computing Science academic branches. &nbsp;</p>
  <p>Since then, we've raised additional funds through the support of the Simon Fraser Student Society, School of Computing Science, the Faculty of Applied Science, and corporate sponsors like Mobify. &nbsp;These funds have gone towards extending and improving our equipment library. &nbsp;</p>
  <h2>Activities</h2>
  <p>Currently the CSSS supports students in two ways, through hosting a yearly hackathon in the spring, and holding weekly Hack Time events every semester.</p>
  <h2>Hack Time</h2>
  <p>HackTime provides a space for students to focus on creating personal/group projects and get help with programming from their peers. This activity was started in the summer of 2015 after our first development equipment purchases. &nbsp;CSSS executives and interested students met biweekly to learn about the equipment and work on small projects. &nbsp;It has since expanded to weekly meetings in the spring and fall. &nbsp;</p>
  <p>At the end of each semseter we hold a Hack Time Milestone event where students present their projects to other students and share their experiences, challenges, and what they learned. &nbsp;Financial sponsors are invited to this event to talk to and network with students.</p>
  <p>We'll be running equipment-specific workshops to help support inexperienced students in becoming more self-sufficient in fall 2016.</p>
  <h2>Hackathons</h2>
  <p>The CSSS held their first hackathon in spring 2015 during the spring reading break. &nbsp;Each hackathon has a unique theme and set of restrictions, for instance, the first hackathon attendees were restricted to making a mobile app or game that had an "end of the world" theme as it was held on Friday the 13th. &nbsp;</p>
  <p>We also support the WICS+WEG fall hackathons by providing financial and/or other resource support be it volunteers, advertisement, etc. &nbsp;</p>
{% endblock %}
