{% extends "csss/header.html" %}

{% block content %}
{{ block.super }}

<h1>Workshops</h1>

<h2>Linux</h2>

<p>CS students need Linux experience in our program of study as early as CMPT 125. For students who grew up mainly with Windows software or mobile apps, the sudden jump to a hands-on development environment in Linux can be disorienting.</p>

<p>Millions of people use Linux everyday, and plenty of them aren't programmers. In the Linux tutorial, we show students the ins-and-outs of Linux: how to make it their everyday machine, and how to become a more proficient developer with it.</p>

<p>The CSSS recommends the following Linux distributions to our members:</p>
<ul>
  <li><a href="http://linuxmint.com/">Linux Mint</a></li>
  <li><a href="http://www.ubuntu.com/">Ubuntu</a></li>
  <li><a href="https://antergos.com/">Antergos</a></li>
</ul>

<h2>Git</h2>

<p>Many new CS students are unfamiliar with the concept of <b>version control</b>. Version control software allows one to save snapshots of their changes to code/documents. These snapshots form a history which allows a developer to moniter the evolution of a project. More importantly, it allows one to revert to <i>any</i> previous versions of their work.</p>

<p>Forget emailing code snippets to other team members. If you plan to enter the industry as a programmer, you <i>will</i> use version control software. Currently, the most popular is <a href="http://www.git-scm.com/">Git</a>. <a href="https://github.com/">Github</a> and <a href="https://about.gitlab.com/">GitLab</a> is widely used for online code hosting. There are also many opportunities for students for free access to various online tools in the <a href="https://education.github.com/pack">Github Education Pack</a>.</p>

<p>We hold a Git tutorial to get students in the habit of using version control at every opportunity.</p>

{% endblock %}
