backports.functools-lru-cache==1.5
certifi==2018.11.29
chardet==3.0.4
Django==2.2.13
django-bootstrap3==11.0.0
django-bootstrap3-form==0.6.0
django-environ==0.4.5
django-file-form==0.4.0
django-jinja==2.4.1
django-mailbox==4.8.1
django-pony-forms==0.6.0
gitdb2==2.0.5
gunicorn==19.9.0
idna==2.8
Jinja2==2.10.1
MarkupSafe==1.1.0
pathlib==1.0.1
pytz==2018.7
six==1.12.0
smmap2==2.0.5
stripe==2.33.0
django-allauth==0.39.1
querystring_parser
psycopg2-binary
django-markdown-app
pandas
tzlocal

# google_drive requirements
google-api-python-client==1.7.8
google-auth-oauthlib==0.3.0
# google-auth==1.6.3
google-auth-httplib2==0.0.3
oauth2client==3.0.0


# github management
PyGithub

# gitlab management
python-gitlab