<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SFU CSSS</title>
		{% load staticfiles %}
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<link rel="stylesheet" href="{% static 'csss_static/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'csss_static/csss_header_custom.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css">
		<style>
			.bg-img {
				background-image: url({% static 'csss_static/sfu_hero_image.jpg' %}) ;
				background-position: center;
				background-repeat:  no-repeat;
				background-attachment: fixed;
				background-size:  cover;
				background-color: #A6192E;
				background: rgb(255,255,255);
				background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(166,25,46,1) 49%);
			}
		</style>
	</head>
	<body>
		<nav class="navbar is-light is-fixed-top" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="{{URL_ROOT}}">
					<img src="{% static 'csss_static/logo.png' %}" width="30" height="30" alt="CSSS Logo">
				</a>
			</div>
			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">

					<!--About-->
					<div class="navbar-item has-dropdown is-hoverable">
						{% if tab == 'about' %}
							<a class="navbar-link is-active">About</a>
						{% else %}
							<a class="navbar-link">About</a>
						{% endif %}
						<div class="navbar-dropdown">
							{%  if current_webmaster_or_doa is True or root_user is True %}
                                <a href="{{ URL_ROOT }}about/specify_new_officers" class="navbar-item">New Officer Links</a>
								<a href="{{ URL_ROOT }}about/show_page_for_inputting_officer_info" class="navbar-item">Upload Officer List</a>
								<a href="{{ URL_ROOT }}about/officer_position" class="navbar-item">Officer Positions</a>
							    <a href="{{ URL_ROOT }}about/current_email_mappings" class="navbar-item">Current Email Mappings</a>
                            {%  endif %}
							{%  if current_sys_admin is True or root_user is True %}
								<a href="{{ URL_ROOT }}about/github_mapping" class="navbar-item">Officer Github Mapping</a>
							{%  endif %}
							{% if current_webmaster_or_doa is True or current_sys_admin is True or root_user is True %}
									<hr class="dropdown-divider">
							{% endif %}
							<a href="{{URL_ROOT}}about/who_we_are" class="navbar-item">Who We Are</a>
							<a href="{{URL_ROOT}}about/list_of_current_officers" class="navbar-item">List of Current Officers</a>
							<a href="{{URL_ROOT}}about/list_of_past_officers" class="navbar-item">List of Past Officers</a>
						</div>
					</div>

					<!--Documents-->
					<div class="navbar-item has-dropdown is-hoverable">
						{% if tab == 'documents' %}
							<a class="navbar-link is-active">Documents</a>
						{% else %}
							<a class="navbar-link">Documents</a>
						{% endif %}
						<div class="navbar-dropdown">
							<a target="_blank" class="navbar-item" href="https://github.com/CSSS/public-docs/tree/master/constitutions">CSSS Constitution</a>
							<a target="_blank" class="navbar-item" href="https://github.com/CSSS/public-docs/tree/master/policies">CSSS Policies</a>
							<a target="_blank" class="navbar-item" href="https://sfss.ca/about/meeting-times-minutes/council/">SFSS Council Minutes</a>
							<a target="_blank" href="https://vault.sfu.ca/index.php/s/Z4JEfabBnAnbOcA" class="navbar-item" >Photo Galleries</a>
							<a target="_blank" href='https://vault.sfu.ca/index.php/s/zCHRkcCR8QHAZpg' class="navbar-item">Upload Photo/Videos from CSSS Events</a>
						</div>
					</div>

					<!--Events-->
					<div id="events" class="navbar-item has-dropdown is-hoverable">
						{% if tab == 'events' %}
							<a class="navbar-link is-active">Events</a>
						{% else %}
							<a class="navbar-link">Events</a>
						{% endif %}
						<div class="navbar-dropdown">
							<a href="{{URL_ROOT}}events/regular_events" class="navbar-item">Regular Events</a>
							<a href="{{URL_ROOT}}events/tech_fair/2022" class="navbar-item">Tech Fair 2022</a>
							<a href='{{ URL_ROOT}}events/frosh/' class="navbar-item">CSSS FroshWeek</a>
							<a href="{{URL_ROOT}}events/mm/2023" class="navbar-item">Mountain Madness 2023</a>
							<a href="{{URL_ROOT}}events/fall_hacks/2020" class="navbar-item">Fall Hacks 2020</a>
						</div>
					</div>
					<div class="navbar-item has-dropdown is-hoverable">
						{% if tab == 'elections' %}
							<a class="navbar-link is-active">Elections</a>
						{% else %}
							<a class="navbar-link">Elections</a>
						{% endif %}
						<div class="navbar-dropdown">
							{% if current_election_officer or root_user %}
								<a href="{{URL_ROOT}}elections/new_election_via_nominee_links" class="navbar-item">Create Election with Nominee Links</a>
								<a href="{{URL_ROOT}}elections/new_election_webform" class="navbar-item">Create Election with WebForm</a>
								<a href="{{URL_ROOT}}elections/new_election_json" class="navbar-item">Create Election with JSON</a>
								{%  if election_list != None %}
									<hr class="dropdown-divider">
								{%  endif %}
							{% endif %}
							{% for election in election_list %}
								<a href="{{URL_ROOT}}elections/{{election.slug}}" class="navbar-item" >{{election.human_friendly_name}}</a>
							{% endfor %}
						</div>
					</div>



					<!--More-->
					<div class="navbar-item has-dropdown is-hoverable">
						{%  if tab == 'more' %}
							<div class="navbar-link is-active">More</div>
						{% else %}
							<div class="navbar-link">More</div>
						{%  endif %}
						<div class="navbar-dropdown">
							<a class="navbar-item" href="{{URL_ROOT}}statics/guide">Software Guide</a>
							<a class="navbar-item" href="{{URL_ROOT}}statics/bursaries">Bursaries and Awards</a>

							<hr class="dropdown-divider">

							<div class="navbar-item">Associated Clubs and DSUs</div>

							<a target="_blank" class="navbar-item csss_header_more_sub_items_indent" href="https://www.sfu.ca/computing/wics/">Women in Computing Science</a>
							<a target="_blank" class="navbar-item csss_header_more_sub_items_indent" href="https://sfumsu.github.io/" >Mathematics Student Union</a>
							<a target="_blank" class="navbar-item csss_header_more_sub_items_indent" href="http://esss.ca/" >Engineering Science Student Society</a>
							<a target="_blank" class="navbar-item csss_header_more_sub_items_indent" href="https://msess.ca" >Mechatronics Systems Engineering Student Society</a>
							<a target="_blank"  class="navbar-item csss_header_more_sub_items_indent" href='https://ssss-sfu.github.io' >Software Systems Student Society</a>
							<a target="_blank" class="navbar-item csss_header_more_sub_items_indent" href='http://www.sfu.ca/clubs/wie.html' >Women in Engineering</a>


							<!-- Resource Management -->
							{% if officer_in_past_5_terms or root_user %}
								<div class="navbar-item">Resource Management</div>
								<a class="navbar-item csss_header_more_sub_items_indent" href="{{ URL_ROOT }}resource_management/show_resources_for_validation" >Validate Access On All Resources</a>
								<a class="navbar-item csss_header_more_sub_items_indent" href='{{ URL_ROOT }}resource_management/gdrive' >Modify Google Drive Access</a>
								<a class="navbar-item csss_header_more_sub_items_indent" href='{{ URL_ROOT }}resource_management/github' >Modify SFU Github Access</a>
								<a class="navbar-item csss_header_more_sub_items_indent" href='{{ URL_ROOT }}resource_management/nags' >Nags</a>
								<a class="navbar-item csss_header_more_sub_items_indent" href='{{ URL_ROOT }}resource_management/media_to_be_moved' >Media that has to be moved</a>
                                <a class="navbar-item csss_header_more_sub_items_indent" href='{{ URL_ROOT }}cron' >Cron Services</a>
							{% endif %}
						</div>
					</div>
					<div class="navbar-item is-hoverable">
						{% if user.is_authenticated %}
							<p>Logged in as {{user.username}}. <a href="{{ LOGOUT_URL }}">Logout</a></p>
						{%  else %}
								<a  class="navbar-link login-navbar-link" href="{{ LOGIN_URL }}">Sign In</a>
						{%  endif %}
					</div>
				</div>
			</div>
		</nav>

		<!--Hacky way to lower the hero so it's not covered by the fixed navbar-->
		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<!--Hacky way to give the hero a background image-->
		<section class="hero bg-img is-small">
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered">
						<div id="logo_id" class="column is-one-quarter">
							<div class="has-text-centered">
								<figure class="image is-128x128 is-inline-block">
									<img src="{% static 'csss_static/logo.png' %}" alt="CSSS Logo">
								</figure>
							</div>
						</div>
						<div class="column">
							<h1 id="hero_title_id" class="title has-text-white has-text-centered is-size-2 csss_header_text_shadowing">
								SFU's Computing Science Student Society
							</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% block content %}
		{% endblock %}

		<br>
		<br>
		<br>
		<footer class="csss_fix_footer_placement">
			<div class="container-fluid csss_footer_text_margins" >
				<div id="footer-links">
					<p><a href="mailto:csss-exec-current@sfu.ca" target="blank">Contact</a> | <a href="https://www.facebook.com/sfucsss/" target="blank">Facebook</a> | <a href="https://twitter.com/sfucsss" target="blank">Twitter</a> | <a href="https://www.instagram.com/sfu_csss/" target="blank">Instagram</a>| <a href="http://discord.sfucsss.org/" target="blank">CSSS Discord Guild</a></p>
				</div>
			</div>
		</footer>

		<script>
			$(document).ready(function() {

				// Check for click events on the navbar burger icon
				$(".navbar-burger").click(function() {

					// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
					$(".navbar-burger").toggleClass("is-active");
					$(".navbar-menu").toggleClass("is-active");

				});

			});


			//This javascript changes the hero when on mobile

			if ($(window).width() < 600) {
				$('#logo_id').hide();
				$('#hero_title_id').removeClass("is-size-2");
				$('#hero_title_id').addClass("is-size-3");
			} else {
				$('#logo_id').show();
				$('#hero_title_id').removeClass("is-size-3");
				$('#hero_title_id').addClass("is-size-2");
			}


			$(window).resize(function () {
				if ($(window).width() < 600) {
					$('#logo_id').hide();
					$('#hero_title_id').removeClass("is-size-2");
					$('#hero_title_id').addClass("is-size-3");
				} else {
					$('#logo_id').show();
					$('#hero_title_id').removeClass("is-size-3");
					$('#hero_title_id').addClass("is-size-2");
				}
			});

		</script>

		<!--Fork me on github image-->
		<a class="github-fork-ribbon is-hidden-mobile is-fixed-top" href="https://github.com/CSSS/csss-site" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
	</body>
</html>

