new_officer = document.createElement('div');
new_officer.setAttribute('id',new_officer_div_name);
new_officer.setAttribute('class', 'csss_box_borders_new_entries');
new_officer.innerHTML += `<input type="button" value="Remove New Officer" onClick="removeDiv('#${new_officer_div_name}');"><br><br>`;
if (draft_or_finalized_nominee_to_display == true){
	{%  if include_id_for_nominee_in_weform__html_name is True %}
		new_officer.innerHTML += `<input type="text" name="[{{nominee_div__name}}][${new_officer_index}][{{input_nominee_id__name}}]" value="id" hidden readonly>`;
	{%  endif %}
	new_officer.innerHTML += `<p>Full Name: <input type="text" name="[{{nominee_div__name}}][${new_officer_index}][{{input_nominee_name__name}}]" value="name" required></p>`;
	new_officer.innerHTML += `<p>Facebook Link: <input type="text" name="[{{nominee_div__name}}][${new_officer_index}][{{input_nominee_facebook__name}}]" value="facebook" required></p>`;
	new_officer.innerHTML += `<p>LinkedIn Link: <input type="text" name="[{{nominee_div__name}}][${new_officer_index}][{{input_nominee_linkedin__name}}]" value="linkedin" required></p>`;
	new_officer.innerHTML += `<p>Email Address: <input type="text" name="[{{nominee_div__name}}][${new_officer_index}][{{input_nominee_email__name}}]" value="email" required></p>`;
	new_officer.innerHTML += `<p>Discord Username: <input type="text" name="[{{nominee_div__name}}][${new_officer_index}][{{input_nominee_discord__name}}]" value="discord" required></p>`;

}else{
    new_officer.innerHTML += `<p style="display:inline">Position:<div class="red_dot_mandatory" >*</div>`;

    var position_menu = document.createElement("SELECT");
    position_menu.setAttribute("name", `[new_officers][${new_officer_index}][selected_position]`);
    {%  for position in positions %}
        position_option = document.createElement(`option`);
        {%  if position == current_term__html_name %}
            position_option.setAttribute(`value`, `{{position}}`);
        {%  else %}
            position_option.setAttribute(`value`, `{{position}}`);
        {%  endif %}
        position_option.appendChild(document.createTextNode(`{{position}}`));
        position_menu.appendChild(position_option);
    {%  endfor %}
    new_officer.appendChild(position_menu);

    new_officer.innerHTML += `</p><br>`;
    new_officer.innerHTML += `<p style="display:inline">Discord ID:<input type="text" name="[new_officers][${new_officer_index}][discord_id]">SFU computing ID:<div class="red_dot_mandatory" >*</div><input type="text" name="[new_officers][${new_officer_index}][sfu_computing_id]" required></p><br>`;
    new_officer.innerHTML += `<p style="display:inline">Start Date:<div class="red_dot_mandatory" >*</div><br>Re-use start date from Previous Term:<div class="red_dot_mandatory" >*</div><input type="checkbox" name="[new_officers][${new_officer_index}][re_use_start_date]" onclick="$('.enable_date_${new_officer_index}').prop('disabled', !$('.enable_date_${new_officer_index}').prop('disabled'))"><br>New Start Date:<div class="red_dot_mandatory" >*</div><input type="date" class="enable_date_${new_officer_index}" value="{{ pre_populated_date }}" name="[new_officers][${new_officer_index}][start_date]"><br><br>`;
    new_officer.innerHTML += `<p style="display:inline">Overwrite Current Officer:<div class="red_dot_mandatory" >*</div><input type="checkbox" name="[new_officers][${new_officer_index}][overwrite_current_officer]"></p>`;
}
document.getElementById(new_officers_div_name).appendChild(new_officer);