{% load set_variable %}
$(document).ready(function () {
	let new_officers_div_name = 'new_officers';
    {%  if new_officers__html_name is None or new_officers__html_name|length == 0 %}
        /* if accessing via /elections/new_election_webform or /election/<election_slug>/election_modification_webform
        and there are no new_officers, will display a form to enter the first new_officer
        */
        addNewOfficer(new_officers_div_name)
    {%  else %}
		let new_officer_index;
		let new_officer_dom_obj;
		let new_officer_position;
		let new_officer_div_name;
		let draft_or_finalized_new_officer_to_display={{draft_or_finalized_new_officer_to_display__html_name}};

        let position_name;
        let discord_id;
		let sfu_computing_id;
		let re_use_start_date;
        let full_name;

        let id;
		let start_date;
		let overwrite_current_officer;
        let term;
        link_dom_obj = document.createElement('div');
        link_dom_obj.innerHTML = `Link to give to officers: <a href="{{officer_enter_info_url}}">{{officer_enter_info_url}}</a>`;
        document.getElementById(new_officers_div_name).appendChild(link_dom_obj);
        {%  for new_officer in new_officers__html_name %}
            new_officer_index = document.getElementById(new_officers_div_name).childElementCount;
            new_officer_div_name = 'new_officer_' + new_officer_index;
            id="{{new_officer.id}}";
			discord_id="{{new_officer.discord_id}}";
			sfu_computing_id="{{new_officer.sfu_computing_id}}";
            full_name="{{new_officer.full_name}}";
			start_date="{{new_officer.start_date}}";

            {% define new_officer.position_name as position_name %}
            {% define new_officer.re_use_start_date as re_use_start_date %}
            {% define new_officer.overwrite_current_officer as overwrite_current_officer %}
            {% define new_officer.term as term %}

            {%  include 'about/input_new_officers/js_functions/on_load_js_functions/display_new_officer_info.html' %}
        {%  endfor %}
    {%  endif %}
}); 