{% load staticfiles %}
<link rel="stylesheet" href="{% static 'csss_static/csss_custom.css' %}">

$(document).ready(function () {
    let nominee_index;
    let new_nominee;
    let nominee_speeches;
    let speech_index;
    let new_nominee_speech;
    let nominee_position;
    let speech_div_name;
    let nominee_div_name;
    let speech_parent_div_name;
    let nominees_div_name = '{{nominee_div__name}}';
    {%  if nominees__html_name is None %}
        addBlankNominee(nominees_div_name)
    {%  else %}
        {%  for nominee in nominees__html_name %}
            nominee_index = document.getElementById(nominees_div_name).childElementCount;
            nominee_div_name = 'nominee_' + nominee_index;
            speech_parent_div_name = nominee_div_name + '_speeches';
            new_nominee = document.createElement('div');
            new_nominee.setAttribute('id',nominee_div_name);
            new_nominee.setAttribute('class', 'csss_box_bordering_1');
            new_nominee.innerHTML += "<input type=\"button\" value=\"Remove Nominee\" onClick=\"removeDiv('#"+nominee_div_name+"');\">";
            {%  if create_new_election__html_name is not True %}
                new_nominee.innerHTML += "<input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_id__name}}]\" value=\"{{nominee.id}}\" hidden readonly>";
            {%  endif %}
            new_nominee.innerHTML += "<p>Full Name: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_name__name}}]\" value=\"{{nominee.name}}\" required></p>";
            new_nominee.innerHTML += "<p>Facebook Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_facebook__name}}]\" value=\"{{nominee.facebook}}\" required></p>";
            new_nominee.innerHTML += "<p>LinkedIn Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_linkedin__name}}]\" value=\"{{nominee.linkedin}}\" required></p>";
            new_nominee.innerHTML += "<p>Email Address: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_email__name}}]\" value=\"{{nominee.email}}\" required></p>";
            new_nominee.innerHTML += "<p>Discord Username: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_discord__name}}]\" value=\"{{nominee.discord}}\" required></p>";
            new_nominee.innerHTML += "<input type=\"button\" value=\"Add Another Speech\" onClick=\"addBlankSpeech('"+nominee_index+"');\">";
            document.getElementById(nominees_div_name).appendChild(new_nominee);
            nominee_speeches = document.createElement('div');
            nominee_speeches.setAttribute('id',speech_parent_div_name);
            new_nominee.appendChild(nominee_speeches);

            {% if create_new_election__html_name is True %}
                {%  include 'elections/webform/js_functions/on_load_js_function/position_names_and_speech_pairings/new_election.html' %}
            {%  else %}
                {%  include 'elections/webform/js_functions/on_load_js_function/position_names_and_speech_pairings/existing_election.html' %}
            {%  endif %}
        {%  endfor %}
    {%  endif %}
});