$(document).ready(function () {
	let nominees_div_name = '{{nominee_div__name}}';
    {%  if nominees__html_name is None %}
        addBlankNominee(nominees_div_name)
    {%  else %}
		let nominee_index;
		let new_nominee;
		let nominee_speeches;
		let speech_index;
		let new_nominee_speech;
		let nominee_position;
		let speech_div_name;
		let nominee_div_name;
		let speech_parent_div_name;
		let add_blank_nominee;
		let id;
		let name;
		let facebook;
		let linkedin;
		let email;
		let discord;
        {%  for nominee in nominees__html_name %}
            nominee_index = document.getElementById(nominees_div_name).childElementCount;
            nominee_div_name = 'nominee_' + nominee_index;
			add_blank_nominee=false;
			id="{{nominee.id}}";
			name="{{nominee.name}}";
			facebook="{{nominee.facebook}}";
			linkedin="{{nominee.linkedin}}";
			email="{{nominee.email}}";
			discord="{{nominee.discord}}";
			speech_parent_div_name = nominee_div_name + '_speeches';
			{%  include 'elections/webform_format/display_nominee_info.html' %}
        {%  endfor %}
    {%  endif %}
});