{% extends "shopping/header.html" %}

{% block content %}
  {{ block.super }}
  {% load static %}
  {% load staticfiles %}

  <form action="/shopping/" method="post">
    {% csrf_token %}
    <input type="hidden" name="clear" value="clear" readonly>
    <input type="submit" value="Clear Session" />
  </form>

  {% for merchandise in object_list %}

  <div >
    <form action="/shopping/add_item_to_cart/" method="post">
      {% csrf_token %}
      <img src="{% static merchandise.image_absolute_file_path %}" alt="img" width="10%">
      <b>Merchandise Type:</b> {{merchandise.merchandise_type}}<input type="hidden" name="selected_merchandise" value="{{merchandise.merchandise_type}}" readonly><br>
      <p>Price: {{merchandise.price}} </p>
      {% for feature in merchandise.feature.all %}
        {{feature.feature_type}}
          <select name="{{feature.feature_type}}">
            {% for Specification in feature.spec.all %}
              <option value="{{Specification.specification_type}}">{{Specification.specification_type}}</option>
            {% endfor %}
          </select>
      {% endfor %}
      {{merchandise.merchandise_type}} Quantity: <input type="number" name="Quantity" value="1" min="1">
      <input type="submit" value="Submit">
    </form>

  </div>
  {% endfor %}
{% endblock %}
