{%  if draft_nominee_links|length > 0 or nominee_links|length  > 0 %}
<table>
	<tr>
		<th>Select Links to Delete</th>
		<th>Nominee Link ID</th>
		<th>Nominee SFU ID</th>
		<th>Nominee Name</th>
		<th>Nominee Discord ID</th>
		<th>Nominee</th>
		<th>Modify Nominee</th>
	</tr>
	{%  include 'elections/nominee_links/create_or_update_election/update_election/nominee_links_table/draft_nominee_links.html' %}
	{%  include 'elections/nominee_links/create_or_update_election/update_election/nominee_links_table/final_nominee_links.html' %}
</table>
{%  endif %}