$(document).ready(function () {
    let speech_parent_div_name;
    let nominees_div_name = '{{nominee_div__name}}';
	let nominee_index;
	let nominee_speeches;
	let draft_or_finalized_nominee_to_display;
	let new_nominee;
    {%  if draft_nominee__html_name is None %}
        /* when there is no info regarding the nominee yet */
		if (document.getElementById(nominees_div_name).lastChild === null){
			nominee_index = document.getElementById(nominees_div_name).childElementCount;
		}else{
			nominee_index = parseInt(document.getElementById(nominees_div_name).lastChild.id.replace('nominee_',"")) + 1
		}
		const nominee_div_name = 'nominee_' + nominee_index;
		speech_parent_div_name = nominee_div_name + '_speeches';

		draft_or_finalized_nominee_to_display=true;
		{%  include 'elections/webform_format/display_nominee_info.html' %}
		addBlankSpeech(nominee_index)
    {%  else %}
		nominee_index = document.getElementById(nominees_div_name).childElementCount;
		const nominee_div_name = 'nominee_' + nominee_index;
		speech_parent_div_name = nominee_div_name + '_speeches';

		draft_or_finalized_nominee_to_display=false;
		id="not needed since nominee is tracked via passphrase";
		name="{{draft_nominee__html_name.name}}";
		facebook="{{draft_nominee__html_name.facebook}}";
		linkedin="{{draft_nominee__html_name.linkedin}}";
		email="{{draft_nominee__html_name.email}}";
		discord="{{draft_nominee__html_name.discord}}";
		{%  include 'elections/webform_format/display_nominee_info.html' %}
    {%  endif %}
});