{% extends "csss/header.html" %}

{% block content %}
    {{ block.super }}
    {% load static %}
    {% load staticfiles %}
	{%  include 'csss/error_htmls/html_snippet_for_general_error_validations.html' %}
    {%  if not not_affiliated_user %}
        <form method="post">
            {% csrf_token %}
            <p>
                <b>Term</b>: <input type="text" name="{{term__html_name}}" value="{{term__html_value}}" readonly size="6" >
                <b>Year</b>: <input type="text" name="{{year__html_name}}" value="{{year__html_value}}" readonly size="4" ><br>
                <b>Position</b>: <input type="text" name="{{position_name__html_name}}" value="{{position_name__html_value}}" readonly size="25" ><br>
                <b>Start Date</b>: <input type="text" name="{{date__html_name}}" value="{{date__html_value}}" readonly size="25" >
            </p>
            <p><b>Name</b>: <input type="text" name="{{officer_name__html_name}}" value="{{name__html_value}}" required ></p>
            <p><b>SFUID</b>: <input type="text" name="{{officer_sfuid__html_name}}" value="{{sfuid__html_value}}" readonly required >@sfu.ca</p>
            <p><b>SFUID Email alias</b>: <input type="text" name="{{officer_email_alias__html_name}}" value="{{sfuid_email_alias__html_value}}" required readonly >@sfu.ca</p>
            <p>
                <b>Additional email addresses you may use to send emails to the CSSS student body</b><br>
                <i>use commas to separate multiple emails</i>:<br>
                <textarea name="{{officer_announcement_emails__html_name}}" cols="80" rows="2">{{announcement_emails__html_value}}</textarea>
            </p>
            {%  if position_name__html_value != "By-Election Officer" and position_name__html_value != "General Election Officer" and position_name__html_value != "SFSS Council-Representative"%}
                <p><b>Gmail</b>: <input type="text" name="{{officer_gmail__html_name}}" value="{{gmail__html_value}}" required></p>
            {%  endif %}
            <b>Phone Number</b>:<br>
            <i>if you are comfortable with the CSSS having it</i><br>
            <input type="number" name="{{officer_phone_number__html_name}}" required value="{{phone_number__html_value}}">
            {%  if position_name__html_value != "SFSS Council-Representative"%}
                <p><b>Github Username</b>: <input type="text" name="{{officer_github_username__html_name}}" value="{{github_username__html_value}}" required></p>
            {%  endif %}
            <b>Your 2 Favorite SFU Course</b>:<br>
            <i>preferably comp sci related</i><br>
            <input type="text" name="{{officer_fav_course_1__html_name}}" value="{{course1__html_value}}" required > & <input type="text" name="{{officer_fav_course_2__html_name}}" value="{{course2__html_value}}" required><br>
            <b>Your 2 Favorite Computer Science programming languages of choice</b>:<br>
            <input type="text" name="{{officer_fav_language_1__html_name}}" value="{{language1__html_value}}" required> & <input type="text" name="{{officer_fav_language_2__html_name}}" value="{{language2__html_value}}" required><br>
            <b>Bio</b>:
            <i>
                needs to already be in <a href="{{ URL_ROOT }}markdown/" target="_blank">Markdown format</a><br>
                For examples look at <a href="http://sfucsss.org/about/list_of_past_officers" target="_blank"> Past Bios</a>
            </i><br>
            <textarea name="{{officer_bio__html_name}}" cols="40" rows="5" required>{{bio__html_value}}</textarea><br>
            <input type="submit" value="Submit">
        </form>
    {%  endif %}
{% endblock %}
