{% extends "csss/new_header.html" %}

{% load static %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
    {% if error_messages %}
        <p style="color: red">Experienced Following Error<br>
            {% for error_message in error_messages %}
                {{ error_message }}<br>
            {%  endfor %}
        </p>
    {%  endif %}
    {%  if position_mapping is not None %}
        <table>
            <tr>
                <th>Position Mapping IDs</th>
                <th>Officer Position Indices</th>
                <th>Officer Position Names</th>
                <th>Officer SFU Email-List Addresses</th>
            </tr>
            {%  for position in position_mapping %}
                <tr>
                    <form method="post">
                        {%  csrf_token %}
                        <td><input type="number" name="{{ OFFICER_POSITION_MAPPING__ID_KEY }}" value="{{ position.id }}" readonly required></td>
                        <td><input type="number" name="{{ OFFICER_POSITION_MAPPING__POSITION_INDEX_KEY }}" value="{{ position.term_position_number }}" required></td>
                        <td><input type="text" name="{{ OFFICER_POSITION_MAPPING__POSITION_NAME_KEY }}" value="{{ position.officer_position }}"  required></td>
                        <td><input type="text" name="{{ OFFICER_POSITION_MAPPING__POSITION_EMAIL_KEY }}" value="{{ position.email }}" required></td>
                        <td>
                            {%  if position.marked_for_deletion is True %}
                                <button name="action" value="un_delete" type="submit">Un-Delete</button>
                            {%  else %}
                                <button name="action" value="update" type="submit">Update</button>
                                <button name="action" value="delete" type="submit">Delete</button>
                            {%  endif %}
                        </td>
                    </form>
                </tr>
            {%  endfor %}
        </table>
    {%  endif %}

    <form method="post" >
        {%  csrf_token %}
        <div id="new_officer_positions">
            {%  for unsaved_position_mapping in unsaved_position_mappings %}
                <div style="border: 3px solid black; padding: 10px;">
                    <label for="position_index">Officer Position Index</label>
                    <input type="number" id="position_index" name="position_index" value="{{ unsaved_position_mapping.position_index }}" required><br>
                    <label for="position_name">Officer Position Name</label>
                    <input type="text" id="position_name" name="position_name" value="{{ unsaved_position_mapping.position_name }}" required><br>
                    <label for="position_email">Officer Position Email</label>
                    <input type="text" id="position_email" name="position_email" value="{{ unsaved_position_mapping.position_email }}" required><br>
                </div>
            {%  endfor %}
            {%  if unsaved_position_mappings is None %}
                <div style="border: 3px solid black; padding: 10px;">
                    <label for="position_index">Officer Position Index</label>
                    <input type="number" id="position_index" name="position_index" required><br>
                    <label for="position_name">Officer Position Name</label>
                    <input type="text" id="position_name" name="position_name" required><br>
                    <label for="position_email">Officer Position Email</label>
                    <input type="text" id="position_email" name="position_email" required><br>
                </div>
            {%  endif %}
        </div>
        <input type="button" value="Add another Position" onClick="addNominee('new_officer_positions');">
        <input type="button" value="Remove the last Position Slot" onClick="removeNominee('#new_officer_positions');">
        <button type="submit">Submit</button>
    </form>

    {%  if github_teams is not None %}
        <table>
        <tr>
            <th>Github Mapping ID</th>
            <th>Officer</th>
            <th>Github Team</th>
        </tr>
        {% for github_team in github_teams %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input type="number" name="{{ GITHUB_TEAM__ID_KEY }}" value="{{ github_team.id }}" readonly required></td>
                    <td>
                        <select name="{{ GITHUB_TEAM__OFFICER_KEY }}" id="{{ GITHUB_TEAM__OFFICER_KEY }}">
                            {%  for position in position_mapping %}
                                {% if github_team.officer.id == position.id %}
                                    <option selected value="{{ position.id }}">{{ position.officer_position }}</option>
                                {%  else %}
                                    <option value="{{ position.id }}">{{ position.officer_position }}</option>
                                {%  endif %}
                            {%  endfor %}
                        </select>
                    </td>
                    <td><input type="text" name="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" value="{{ github_team.team_name }}"></td>
                </form>
            </tr>
        {%  endfor %}
        </table>
    {%  endif %}
    <script type="text/javascript">
        function addNominee(divName){
            var newNominee = document.createElement('div');
            newNominee.setAttribute("style","border: 3px solid black; padding: 10px;");
            newNominee.innerHTML += "<label for=\"position_index\">Officer Position Index</label>";
            newNominee.innerHTML += "<input type=\"number\" id=\"position_index\" name=\"position_index\" required><br>";
            newNominee.innerHTML += "<label for=\"position_name\">Officer Position Name</label>";
            newNominee.innerHTML += "<input type=\"text\" id=\"position_name\" name=\"position_name\" required><br>";
            newNominee.innerHTML += "<label for=\"position_email\">Officer Position Email</label>";
            newNominee.innerHTML += "<input type=\"text\" id=\"position_email\" name=\"position_email\" required><br>";
            newNominee.innerHTML += "</div>";
            document.getElementById(divName).appendChild(newNominee);
        }
        function removeNominee(divName){
            $(divName).children().last().remove();
        }
    </script>
{% endblock %}