{% extends "csss/new_header.html" %}

{% load static %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
        {% if error_message %}
        <p style="color: red">Experienced Following Error<br>
            {{ error_message }}<br>
        </p>
    {%  endif %}
    <div style="border: 1px solid black;">
        <h1 class="title">JSON Uploading</h1>
        <h2 class="title">Upload JSON for Specific term</h2>
        <form method="post" action="{{ URL_ROOT}}about/upload_officer_list" enctype="multipart/form-data">
            {%  csrf_token %}
            <input type="file" name="term_json">
            <input type="checkbox" id="overwrite_term" name="overwrite" value="true">
            <label for="overwrite_term">Overwrite Officers for inputted term</label><br>
            <button type="submit">Submit</button>
        </form>

        <a href="{% static 'about_static/term.json' %}" download  >Download sample term specific json</a>

        <br><br>

        <h2 class="title">Upload JSON for specified year[s]</h2>
        <form method="post" action="{{ URL_ROOT}}about/upload_officer_list" enctype="multipart/form-data">
            {%  csrf_token %}
            <input type="file" name="years_json">
            <input type="checkbox" id="overwrite_years" name="overwrite" value="true">
            <label for="overwrite_years">Overwrite Officers for inputted year[s]</label><br>
            <button type="submit">Submit</button>
        </form>

        <a href="{% static 'about_static/years.json' %}" download  >Download sample json for year[s]</a>
    </div>



    <br><br><br><br>

    <div style="border: 1px solid black;">
        <h1 class="title">Upload CSV for specified term[s] or year[s]</h1>

        <b>Markdown Information</b>
        <ol style="margin-left: 2em;">
            <li>a newline may be placed in the bio for an officer with a "\n"</li>
            <li>a comma can be put into an entry with "[comma]"</li>
            <li>Some fields, such as github teams or announcement emails can take in multiple values. For those fields, you can separate the multiple values by using "|" as a delimiter</li>
        </ol>
        <form method="post" action="{{ URL_ROOT}}about/upload_officer_list" enctype="multipart/form-data">
            {%  csrf_token %}
            <input type="file" name="csv">
            <input type="checkbox" id="overwrite_csv" name="overwrite" value="true">
            <label for="overwrite_csv">Overwrite Officers for inputted year[s]</label><br>
            <button type="submit">Submit</button>
        </form>

        <a href="{% static 'about_static/years.csv' %}" download  >Download sample csv for year[s]</a>
    </div>

{% endblock %}