{% extends "csss/header.html" %}

{% block content %}
	{{ block.super }}
	<section class="section">
		<div class="container">
			<div class="content" >
				<h2 class="title is-size-2">The Computing Science Student Society(CSSS)</h2>
				<h3 class="title is-size-3">History</h3>
				<p>
					Since its founding in the 1970s, the Computing Science Student Society has existed to promote the interests of students within the School of Computing Science at Simon Fraser University. The Society strives to support and build a vibrant community of individuals and create an environment that produces social, academic, and professional success.<br><br>
					The CSSS continues this tradition today by running numerous social events throughout the school year, as well as hosting workshops, talks by industry speakers, and development contests for budding programmers.
				</p>

				<h3 class="title is-size-3">The Common Room</h3>
				<p>
					Located next to the Computing Science Instructional Lab (CSIL) in the Applied Sciences Building (ASB) in room ASB9802, the Common Room serves as a place for CS students to relax, study, and socialize. Inside, you will also find a Coke machine serving the cheapest pop on campus, couches, a fridge, and a free-to-use computer terminal. There's even an exam bank of past tests for most courses. Just ask someone at the back of the room to direct you towards an officer who can show you.<br/>
					If you want to get involved with the CSSS, this is the best place to start.
				</p>

				<h3 class="title is-size-3">Frosh Week</h3>
				<p>
					Frosh Week is our yearly, week-long welcome event for new students. Held every Fall, Frosh Week is meant to foster early camaraderie between new and old CS students. How do we do this? With games, BBQs, and midnight dodgeball, of course! <br>
					More information can be found under Events > Frosh Week.
				</p>

				<h3 class="title is-size-3">Fall Hacks</h3>
				<p>
				Fall Hacks is our annual hackathon that runs in the Fall. This is a 10-12 hour competition to develop a project in a team based around some central theme. It's a lot of fun and great to students of all experience levels! 
				</p>


				<h3 class="title is-size-3">Mountain Madness</h3>
				<p>
				Mountain Madness is our annual hackathon that runs in the Spring. This is a 24-hour competition to develop a project in a team based around some central theme. It's a lot of fun and great to students of all experience levels! 
				</p>
				
				<h3 class="title is-size-3">Tech Fair</h3>
				<p>
				Tech Fair is an annual technology based career fair in Fall focused on companies who hire computing science students for co-op and/or full-time employment.
				</p>
				
				<h3 class="title is-size-3">FAS Formal</h3>
				<p>
				FAS Formal is an annual dinner/dance hosted with the other FAS student unions/groups.
				</p>
				
				<h3 class="title is-size-3">Silicon Valley Trip</h3>
				<p>
				Our Silicon Valley trip is a trip (we try to) take anually down to Silicon Valley in California. On the trip we bring students and visit various different local technology companies and learn about them.
				</p>

				{% for c in content %}
					<p>{{c}}</p>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
