{% extends "about/list_of_officers.html" %}
{% block content %}
{{ block.super }}
<h1>CSSS Executives During Fall 2017</h1>
<div class="row">
    <div class="col-md-4">
        <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=david-4.jpg&t=ZXXRV4le7qoH58J&scalingup=0"></center>
    </div>
    <div class="col-md-6">
        <p class="lead">President - <b>David Miiller (Miiller spelt Miiller)</b></p>
        <p class="lead">Favourite Courses - <b>CMPT 127</b> | <b>MACM 101</b></p>
        <p class="lead">Languages of Choice - <b>C++</b> | <b>C</b></p>
        <p class="lead">Contact - <a href="mailto:csss-president[at]sfu.ca ">csss-president[at]sfu.ca </a></br> or leave a note encrypted in ROT13 in the common room, and David will leave another note encrypted in ROT26 for you to pick up within the week.</p>
        <p class="lead">Bio - Born and raised in North Vancouver, David came to SFU for various reasons, one of which was because some random guy in a TF2 server said something about SFU being good for Computing, and he decided that was good evidence. It ended up being pretty true. David can now be found sitting in the common room too much, generally being loud and occasionally running down the halls. David likes to think he's decently friendly, so feel free to bug him about pretty much anything.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=jon-1.jpg&t=AjadLY2PhroksS1&scalingup=0"></center>
    </div>
    <div class="col-md-6">
        <p class="lead">Vice President - <b>Jonathan Loewen</b></p>
        <p class="lead">Favourite Courses - <b>CMPT 225</b> | <b>CMPT 320</b></p>
        <p class="lead">Languages of Choice - <b>C#</b> | <b>SQL</b></p>
        <p class="lead">Contact - <a href="mailto:csss-vp[at]sfu.ca">csss-vp[at]sfu.ca</a></p>
        <p class="lead">Bio - Jonathan is a transfer student from the University of Manitoba and Red River College in Winnipeg. He hails from the mosquito-infested Lands of Always +/- 40°C, also known as South-East Manitoba. Previously employed slinging SQL for hospital systems, he decided that he loved school too much to work for the rest of his life. He enjoys wasting precious hours playing Civilization 5 and Dark Souls, listening to awful Soundcloud mashups, and playing board games in the common room.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=dustin-1.jpg&t=q924rPSZ6400pjz&scalingup=0"></center>
    </div>
    <div class="col-md-6">
        <p class="lead">Treasurer - <b>Dustin Cao</b></p>
        <p class="lead">Favourite Courses - <b>CMPT 276</b> | <b>CMPT 320</b></p>
        <p class="lead">Languages of Choice - <b>C</b> | <b>Java</b></p>
        <p class="lead">Contact - <a href="mailto:csss-treasurer[at]sfu.ca">csss-treasurer[at]sfu.ca</a></p>
        <p class="lead">Bio - Dustin is a boring person. Come talk to him to brighten up the monotony of his life.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=courtenay-1.jpg&t=ZMQ4n8t3UpUE3uR&scalingup=0"></center>
    </div>
    <div class="col-md-6">
        <p class="lead">Director of Events - <b>Courtenay Huffman</b></p>
        <p class="lead">Favourite Courses - <b>CMPT 295</b> | <b>PSYC 280</b></p>
        <p class="lead">Languages of Choice - <b>C++</b> | <b>Assembly</b></p>
        <p class="lead">Contact - <a href="mailto:csss-doe[at]sfu.ca">csss-doe[at]sfu.ca</a></p>
        <p class="lead">Bio - Courtenay is a fifth year student studying computing science and psychology. She can often be found either in the common room, at the gym, or hiding behind her massive computer in the corner of a coffee shop. She likes pushing the limits of sleep deprivation so please bring her coffee and tea.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=eric-1.jpg&t=XK3Qe6yy7CkhkIn&scalingup=0"></center>
    </div>
    <div class="col-md-6">
        <p class="lead">Director of Events - <b>Dawn Stella Chandler</b></p>
        <p class="lead">Favourite Courses - <b>MACM 201</b> | <b>LING 220</b></p>
        <p class="lead">Languages of Choice - <b>Python</b> | <b>C</b></p>
        <p class="lead">Contact - <a href="mailto:csss-doe[at]sfu.ca">csss-doe[at]sfu.ca</a></p>
        <p class="lead">BBio - Dawn is an upper level Computing Science Honours and Linguistics Minor student. Despite being busy as the President of Women in Computing Science (WiCS), Dawn is nonetheless eager to serve the CSSS by shuffling and filing papers. You can find her carefully selecting emojis, deciding what to wear, or adjusting to life in the 21st century.</p>
    </div>
</div>
{% endblock %}