{% extends "about/header.html" %}

{% block content %}
{{ block.super }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
Please feel free to contact us anytime.
<ul>
    <li>General Inquires for</li>
    <ul>
        <li>External communications [if you are not an SFU faculty or student], please contact the President or Director of Communications at : <a href="mailto:csss[at]sfu.ca">csss[at]sfu.ca</a></li>
        <li>Only Current Execs : <a href="mailto:csss-exec-current[at]sfu.ca">csss-exec-current[at]sfu.ca</a></li>
        <li>All Current and Past Execs : <a href="mailto:csss-exec[at]sfu.ca">csss-exec[at]sfu.ca</a></li>
    </ul>
    <li>Computing Science Office: <a href="mailto:csdept[at]sfu.ca">csdept[at]sfu.ca</a></li>
</ul>
</p>
<p>Note: If you wish to contact an Executive member directly, see their addresses as listed below.</p>
<p>The CSSS is run by students who are chosen every year in a Department-wide election. They ensure the business of the Society runs smoothly, and are always available to help any fellow student in need. Any CS student can run for these positions. Every station, save Exec-at-Large, serves for an entire year.</br>Responsibilities for each Role can be found in the <a href="https://github.com/CSSS/public-docs/tree/master/constitutions">CSSS Constitution</a> under section 4.1</p>
<hr>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/about/list_of_officers/spring_2018">Spring 2018</a></li>
  <li role="presentation"><a href="/about/list_of_officers/fall_2017">Fall 2017</a></li>
  <li role="presentation"><a href="/about/list_of_officers/summer_2017">Summer 2017</a></li>
  <li role="presentation"><a href="/about/list_of_officers/spring_2017">Spring 2017</a></li>
</ul>
{% endblock %}