{% extends "about/header.html" %}

{% block content %}
{{ block.super }}
	Please feel free to contact us anytime.
	<ul>
		<li>General Inquires for</li>
		<ul>
			<li>External communications [if you are not an SFU faculty or student], please contact the President or Director of Communications at : <a href="mailto:csss[at]sfu.ca">csss[at]sfu.ca</a></li>
			<li>Only Current Execs : <a href="mailto:csss-exec-current[at]sfu.ca">csss-exec-current[at]sfu.ca</a></li>
			<li>All Current and Past Execs : <a href="mailto:csss-exec[at]sfu.ca">csss-exec[at]sfu.ca</a></li>
		</ul>
		<li>Computing Science Office: <a href="mailto:csdept[at]sfu.ca">csdept[at]sfu.ca</a></li>
	</ul>
</p>
<p>Note: If you wish to contact an Executive member directly, see their addresses as listed below.</p>
<hr>
<h1>Current CSSS Executives</h1>
<p>The CSSS is run by students who are chosen every year in a Department-wide election. They ensure the business of the Society runs smoothly, and are always available to help any fellow student in need. Any CS student can run for these positions. Every station, save Exec-at-Large, serves for an entire year.</br>
<p>Responsibilities for each Role can be found in the <a href="https://github.com/CSSS/public-docs/tree/master/constitutions">CSSS Constitution</a> under section 4.1</p>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=david-4.jpg&t=ZXXRV4le7qoH58J&scalingup=0"></center>
        </div>
        <div class="col-md-6">
            <p class="lead">President - <b>David Miiller (Miiller spelt Miiller)</b></p>
            <p class="lead">Favourite Courses - <b>CMPT 127</b> | <b>MACM 101</b></p>
            <p class="lead">Languages of Choice - <b>C++</b> | <b>C</b></p>
            <p class="lead">Contact - <a href="mailto:csss-president[at]sfu.ca ">csss-president[at]sfu.ca </a></br> or leave a note encrypted in ROT13 in the common room, and David will leave another note encrypted in ROT26 for you to pick up within the week.</p>
            <p class="lead">Bio - Born and raised in North Vancouver, David came to SFU for various reasons, one of which was because some random guy in a TF2 server said something about SFU being good for Computing, and he decided that was good evidence. It ended up being pretty true. David can now be found sitting in the common room too much, generally being loud and occasionally running down the halls. David likes to think he's decently friendly, so feel free to bug him about pretty much anything.</p>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=jon-1.jpg&t=AjadLY2PhroksS1&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
    	    <p class="lead">Vice President - <b>Jonathan Loewen</b></p>
    	    <p class="lead">Favourite Courses - <b>CMPT 225</b> | <b>CMPT 320</b></p>
    	    <p class="lead">Languages of Choice - <b>C#</b> | <b>SQL</b></p>
    	    <p class="lead">Contact - <a href="mailto:csss-vp[at]sfu.ca">csss-vp[at]sfu.ca</a></p>
    	    <p class="lead">Bio - Jonathan is a transfer student from the University of Manitoba and Red River College in Winnipeg. He hails from the mosquito-infested Lands of Always +/- 40°C, also known as South-East Manitoba. Previously employed slinging SQL for hospital systems, he decided that he loved school too much to work for the rest of his life. He enjoys wasting precious hours playing Civilization 5 and Dark Souls, listening to awful Soundcloud mashups, and playing board games in the common room.</p>
    	</div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=dustin-1.jpg&t=q924rPSZ6400pjz&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
	        <p class="lead">Treasurer - <b>Dustin Cao</b></p>
	        <p class="lead">Favourite Courses - <b>CMPT 276</b> | <b>CMPT 320</b></p>
	        <p class="lead">Languages of Choice - <b>C</b> | <b>Java</b></p>
	        <p class="lead">Contact - <a href="mailto:csss-treasurer[at]sfu.ca">csss-treasurer[at]sfu.ca</a></p>
	        <p class="lead">Bio - Dustin is a boring person. Come talk to him to brighten up the monotony of his life.</p>
    	</div>
	</div>
	<br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=courtenay-1.jpg&t=ZMQ4n8t3UpUE3uR&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">Director of Events - <b>Courtenay Huffman</b></p>
            <p class="lead">Favourite Courses - <b>CMPT 295</b> | <b>PSYC 280</b></p>
            <p class="lead">Languages of Choice - <b>C++</b> | <b>Assembly</b></p>
            <p class="lead">Contact - <a href="mailto:csss-doe[at]sfu.ca">csss-doe[at]sfu.ca</a></p>
            <p class="lead">Bio - Courtenay is a fifth year student studying computing science and psychology. She can often be found either in the common room, at the gym, or hiding behind her massive computer in the corner of a coffee shop. She likes pushing the limits of sleep deprivation so please bring her coffee and tea.</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=eric-1.jpg&t=Cyu52bxL8gvFbzw&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">Director of Archives - <b>Eric Meng Gao</b></p>
            <p class="lead">Favourite Courses - <b>MACM 201</b> | <b>MATH 152</b></p>
            <p class="lead">Languages of Choice - <b>C<b> | <b>Java</b></p>
            <p class="lead">Contact - <a href="mailto:csss-secretary[at]sfu.ca">csss-secretary[at]sfu.ca</a> | <a href="mailto:csss-doa[at]sfu.ca">csss-doa[at]sfu.ca</a>></p>
            <p class="lead">Bio - a man on the run. Hiding from enemy spies since 2015. Currently posing as a 3rd year Computer Science Major. Is often mistaken for a cloud. Can be seen in the common room practicing battle tactics and simulations.</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=henry-1.jpg&t=lFC2Uy5wGJVWIF3&scalingup=0"></center>
        </div>
        <div class="col-md-6">
            <p class="lead">Director of Communications - <b>Henry Zhao</b></p>
            <p class="lead">Favourite Courses - <b>MACM 316</b> | <b>CMPT 276</b> </p>
            <p class="lead">Languages of Choice - <b>C</b> | <b>C++</b></p>
            <p class="lead">Contact - <a href="mailto:csss-doc[at]sfu.ca">csss-doc[at]sfu.ca</a></p>
            <p class="lead">Bio - Lord of Discord</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=kia-16.jpg&t=aDTWoFFllXLEdeC&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">Director of Resources - <b>Paul Allan</b></p>
            <p class="lead">Favourite Courses - <b>CMPT 127</b> | <b> CMPT 165</b></p>
            <p class="lead">Languages of Choice - <b>C</b> |<b> Python</b></p>
            <p class="lead">Contact - <a href="mailto:csss-dor[at]sfu.ca">csss-dor[at]sfu.ca</a> </p>
            <p class="lead">Bio - Paul is a second year Computing Science student. Paul went to a small high-school in Port Coquitlam and chose SFU because of how close it was to his house compared to UBC. Initially a 2012 froshee, Paul took 2 1/2 years off school to work after the Fall 2013 term, returning to find things somewhat similar to how he left them, except with the CSSS having a new vending machine and the froshees looking different than how he remembered them. In the past, he has been the Secretary (now know as the Director of Archives and Director of Communications) and the Executive at Large twice.</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">Exec-at-Large - <b>Keon Li</b></p>
            <p class="lead">Favourite Courses - <b>CMPT 127</b> | <b>MACM 101</b></p>
            <p class="lead">Languages of Choice - <b>Python</b> | <b>C</b></p>
            <p class="lead">Contact - <a href="csss-eal[at]sfu.ca">csss-eal[at]sfu.ca</a></p>
            <p class="lead">Bio - Born and raised in Richmond, B.C. Keon is a first-year computer science student. Often found in the CSSS common room, on the run, or at his apartment on the SFU Burnaby campus. He constantly suffers from sleep deprivation, but five cokes a day keep the sleep away. He’s an avid gamer, but also loves to spend time with friends. Despite his appearance, he loves talking and socializing with people, so don’t be afraid of talking to him!</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=kia-16.jpg&t=6XvElWcXCKIxpog&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">Exec-at-Large - <b>Jack Zhou</b></p>
            <p class="lead">Favourite Courses - <b>C</b> | <b>TCL</b></p>
            <p class="lead">Languages of Choice - <b>MATH 152</b> | <b>PSYC 300W</b></p>
            <p class="lead">Contact -
                <a href="mailto:csss-eal[at]sfu.ca">csss-eal[at]sfu.ca</a>
            </p>
            <p class="lead">Bio - I am a CMPT major and maybe other things but that's the best way to know me.</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=anna-1.jpg&t=IY1pUB3NP1JnFrK&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">First-Year Rep - <b>Anna Y Tang</b></p>
            <p class="lead">Favourite Courses - <b>MATH 151</b> | <b>BPK 140</b></p>
            <p class="lead">Languages of Choice - <b>Ruby</b> | <b>Javascript</b></p>
            <p class="lead">Contact -
                <a href="mailto:csss-fyr[at]sfu.ca">csss-fyr[at]sfu.ca</a>
            </p>
            <p class="lead">Bio - Anna is a first year computing science student in the dual degree program. You'll probably find her in the common room constantly studying or goofing around. She's usually a very shy person, but feel free to approach her and start a conversation.</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=noble-2.jpg&t=r016dObeCeVSlQP&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">First-Year Rep - <b>Noble Tan</b></p>
            <p class="lead">Favourite Courses - <b>CMPT 120</b> | <b>MATH 151</b></p>
            <p class="lead">Languages of Choice - <b>Python</b> | <b>Undecided</b></p>
            <p class="lead">Contact -
                <a href="mailto:csss-fyr[at]sfu.ca">csss-fyr[at]sfu.ca</a>
            </p>
            <p class="lead">Bio - Born in Vancouver and raised in Surrey, Noble enjoys talking to people and making new friends. She also loves to bake food for her friends during free time. She is often on her phone/laptop, but when you get to know her, she can be very loud yet friendly. She is very excited for what there is to come during her first year in university, so feel free to invite her to play a game or to an event!</p>
        </div>
    </div>
</div>
<hr>
<h1>Current CSSS Elected Representatives</h1>
<div class="container">
    <div class="row">
    	<div class="col-md-4">
    		<center><img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=250&y=375&a=true&file=kia-16.jpg&t=vxYtYG3YFyU40Ns&scalingup=0"></center>
    	</div>
    	<div class="col-md-6">
            <p class="lead">Council Representative - <b>Kia Mirsalehi</b></p>
            <p class="lead">Favourite Courses - <b>CMPT 127</b> | <b> CMPT 225</b></p>
            <p class="lead">Languages of Choice - <b>C</b> |<b> Python</b></p>
            <p class="lead">Contact - <a href="mailto:csss-councilrep[at]sfu.ca">csss-councilrep[at]sfu.ca</a> </p>
            <p class="lead">Bio - A third year computing science student, he likes to spend his time within the common room, where he can often be seen sleeping or playing music on the speakers.</p>
        </div>
    </div>
	<br/>
    <br/>
	<div class="row">
    	<div class="col-md-10">
            <p class="lead">Elections Officer -<b>To Be Elected in Spring 2018 Term</b></p>
            <p class="lead">Favourite Courses -<b></b> | <b> </b></p>
            <p class="lead">Languages of Choice -<b></b> |<b></b></p>
            <p class="lead">Contact -
                <a href="mailto:"></a>
            </p>
            <p class="lead">Bio -</p>
        </div>
    </div>
	<br/>
    <br/>
	<div class="row">
    	<div class="col-md-10">
            <p class="lead">Frosh Week Chair -<b>To Be Elected in Spring 2018 Term</b></p>
            <p class="lead">Favourite Courses -<b></b> | <b> </b></p>
            <p class="lead">Languages of Choice -<b></b> |<b></b></p>
            <p class="lead">Contact -
                <a href="mailto:"></a>
            </p>
            <p class="lead">Bio -</p>
        </div>
    </div>
</div>   
<h1>Current SFSS FAS Representative</h1>
<p><i>Please note that an SFSS FAS Rep is not a CSSS officer</i></p>
<div class="container">
	<div class="row">
		<div class="col-md-4">
            <center></center>
        </div>
		<div class="col-md-6">
			<p class="lead">SFSS FAS Representative - <b> Jeffrey Leung</b></p>
			<p class="lead">Favourite Courses - <b> CMPT 276 </b> | <b> CMPT 127</b></p>
			<p class="lead">Languages of Choice - <b> C++ </b> | <b> anything that is not JavaScript </b></p>
			<p class="lead">Contact - <a href="mailto:appscirep[at]sfss.ca">appscirep[at]sfss.ca</a></p>
			<p class="lead">Responsibilities - Jeffrey occupies one of the 16 seats at the Board of Directors, the highest governing executive body of the SFSS whose task is to "determine what the members want and need, prioritize amongst those needs, and ensure that the organization actually provides for those needs". Jeffrey works closely with the student unions and students of FAS to ensure that their views and needs are represented. He also works on various SFSS committees for projects such as governance reform and Surrey Campus advocacy/events.</p>
			<p class="lead">Bio - A 4th year student and loyal convert from Computing Science to Software Systems, Jeffrey spends a lot of his time in the CSSS common room as a traitor and spy. Though some people believe he enjoys the work he does for the student societies, he's actually just here for the free pizza. Just like Corbett Gildersleve, one of his predecessors, Jeffrey has no plans whatsoever for graduation.</p>
		</div>
	</div>
</div>
{% endblock %}

