{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}

<body>
    <section class="section">
        <div class="container">
            <div class="content" >
                <h1 class="title">Helpful Software</h1>

                <h3>Office Software</h3>
                <hr>
                <h4><a href="https://www.libreoffice.org/">Libre Office</a></h4>
                <p>In 2010 concern over the long term future of Apache Open Office as an open source project led to the creation of Libre Office, an entirely free and open source derivative. </p>
                <p>Libre Office is a free and open source office suite that serves the functionality of Microsoft Office reliably and extensively. Often it is the default office suite shipped with a Linux Distro. </p>
                <p>Libre Office offers a text editor, spreadsheet editor, draw program, slideshow editor, and math program. </p>
                <h4>LaTeX</h4>
                <p>LaTeX is a free word processor that actually uses a markup language to define the general structure of a page. It uses TeX to handle the layout while it provides an easy way to edit the content. In most cases you can work with other user defined templates, rather than having to create your own. </p>
                <p>A nice feature of LaTeX and other software that uses TeX, is it provides a fast and efficient way to present mathematics. </p>
                <p>Learning the basics takes an afternoon. See below for an excellent resource:</p>
                <p><a href="https://en.wikibooks.org/wiki/LaTeX">Wikibooks on LaTeX</a></p>
                <h3>Photoshop Alternatives</h3>
                <hr>
                
                <h4><a href="https://krita.org/">Krita</a></h4>
                <p>Krita is a free and open source painting program that is essentially a drop-in replacement for Photoshop in terms of functionality. It has many more features than GIMP and is quite aesthetically pleasing.</p>
                <h4><a href="http://www.gimp.org/">GIMP</a></h4>
                <p>Gimp is the traditional free photoshop alternative for Linux. It is entirely extendable, modable, and open source. </p>
                <h3>Code Editors</h3>
                <hr>
                
                <h4><a href="http://www.sublimetext.com/">Sublime Text</a></h4>
                <p>A favourite of many CS students, Sublime Text is a feature-rich, popular GUI text editor. It is available for all the major platforms (Linux, Mac, Windows), and while technically proprietary, has an indefinite free trial.</p>
                <h4><a href="https://atom.io/">Atom</a></h4>
                <p>A recent entry to the editor world, Atom is free, featureful program produced by Github. It has a built-in package manager for handling its plugins.</p>
                <h4><a href="https://www.gnu.org/software/emacs/">Emacs</a></h4>
                <p>Powerful and customisable, millions upon millions of lines of code have been written in Emacs over the decades. It is free software, created by members of the <a href="https://www.fsf.org/">Free Software Foundation</a>, and has its own internal language - <a href="https://en.wikipedia.org/wiki/Emacs_Lisp">Emacs Lisp</a> - for writing plugins and defining custom behaviour. </p>
                <h4><a href="http://www.vim.org/">Vim</a></h4>
                <p>Vim (from Vi iMproved) is another editor with a long history, and has a huge userbase. It has many plugins and an internal scripting language called Vimscript. However, like Vim is a superset of the original Vi editor, Vim also has a superset: <a href="https://neovim.io/">NeoVim</a>. NeoVim has a number of advantages over Vim:</p>
                <ul>
                <li>Able to write plugins in any language</li>
                <li>Plugins run asynchronously</li>
                <li>30% less source code than Vim</li>
                <li>Embedded terminal emulator</li>
                <li>More active project than Vim</li>
                </ul>
                <h3>Web Development</h3>
                <hr>
                
                <h4><a href="http://getbootstrap.com/">Bootstrap</a></h4>
                <p>Bootstrap is a popular, free and open source framework for CSS, HTML, and Javascript.  It allows designers and non-designers alike to create aesthetically pleasing websites with minimal effort. In fact, Bootstrap was used on this very web site.</p>
                <h4><a href="https://www.djangoproject.com/">Django</a></h4>
                <p>Django is a web framework for Python. It is fairly friendly to use, features its own ORM for database access, has a built-in "administration" system for non-coders to add website content, and it powers this very site.</p>
                <br>
                <br>
                <br>

            </div>
        </div>
    </section>
</body>
{% endblock %}
