{% extends "csss/new_header.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
<body>


<div class="columns">
    <div class="column is-three-quarters ">

        {% for post in posts %}

        <section class="section">
            <div class="container">
                <article class="notification" >
                    <h3 class="title">{{post.subject}}</h3>
                    <p class="is-size-6 has-text-grey has-text-right">Posted by {{post.from_header}} on {{post.processed}}</p>
                    <hr style=
                    "border:solid 1px grey;
                    height: 0px;">
                    <div class="is-size-6">
                    {% if post.html|safe|length > 0 %}
                        {{post.html|safe}}
                    {% else %}
                        {{post.body|safe|linebreaks}}
                    {% endif %}
                    </div>
                    {% for attachment in post.attachments.all %}
                        <p> attachment: </p> <a href="{% get_media_prefix %}{{ attachment.document|cut:'documents/staticfiles/' }}">{{ attachment.document|cut:'documents/staticfiles/' }}</a><br>
                    {% endfor %}
                </article>
            </div>
        </section>
        {% endfor %}
        <section class="section">
            <div class="container">

                <nav class="pagination is-right" role="navigation" aria-label="pagination">
                    <a href="{{ previousButtonLink|safe }}" class="pagination-previous">Previous</a>
                    <a  href="{{ nextButtonLink|safe }}" class="pagination-next">Next page</a>
                </nav>  
            </div>
        </section>

    </div>
</div>


</body>

<script>
//This javascript removes the grey box around the announcements when on mobile so that
// the text isnt as squished

//todo: do something better than this

 var screen = $(window);  
 if (screen.width() < 600) {
         $('article').removeClass('notification');
     } else {
         $('article').addClass('notification');
     }


 $(window).resize(function () {
     var screen = $(window);  
     if (screen.width() < 600) {
         $('article').removeClass('notification');
     } else {
         $('article').addClass('notification');
     }
})
</script>


{% endblock %}

