{% extends "csss/header.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
	<div class="columns">
		<div class="column">
			<section class="section" style="padding-bottom: 0;">
				<div class="container">
					<p class="title is-size-4" id="announcement">Announcements:</p>
				</div>
			</section>
			{% for announcement in announcements %}
				<section class="section">
					<div class="container">
						<article class="box is-light">
							{%  if error_message is not None %}
								{{ error_message|safe }}
							{% else %}
								<h3 class="title is-size-3">
									{%  if announcement.email is None %}
										{{ announcement.manual_announcement.title }}
									{%  else %}
										{{announcement.email.subject}}
									{%  endif %}
								</h3>
								<p class="is-size-6 has-text-grey has-text-right">
									<em>posted by {{announcement.author}} on {{announcement.date}}</em>
								</p>
								<hr class="csss_announcement_subject_underline">
								<div class="is-size-6">
								{% if announcement.email is None %}
									{{announcement.manual_announcement.content|safe|linebreaks }}
								{%  else %}
									<!-- hacky fix for phantom scrollbars -->
									<div class="hide_email_embeds" style="overflow-x: hidden;">
										{% if announcement.email.html|safe|length > 0 %}
											{{announcement.email.html|safe}}
                                        {%  elif announcement.email.html_text|safe|length > 0 %}
                                            {{announcement.email.html_text|safe}}
                                        {% else %}
											{{announcement.email.body|safe|linebreaks}}
										{% endif %}
									</div>
								{%  endif %}
								</div>
								{% for attachment in announcement.email.attachments.all %}
									<a href="{{ URL_ROOT_FOR_EMAIL_ATTACHMENTS }}{%  get_media_prefix %}{{ attachment.document }}">attachment {{ forloop.counter }}</a><br>
								{% endfor %}
							{%  endif %}
						</article>
					</div>
				</section>
			{% endfor %}
			<section class="section">
				<div class="container">

					<nav class="pagination is-right" role="navigation" aria-label="pagination">
						<a href="{{ previousButtonLink|safe }}" class="pagination-previous">Previous</a>
						<a  href="{{ nextButtonLink|safe }}" class="pagination-next">Next page</a>
					</nav>
				</div>
			</section>

		</div>
	</div>


	<script>
	//This javascript removes the grey box around the announcements when on mobile so that
	// the text isnt as squished

	//todo: something better than this


	 if ($(window).width() < 600) {
			 $('article').removeClass('box');
		 } else {
			 $('article').addClass('box');
		 }


	 $(window).resize(function () {
		 if ($(window).width() < 600) {
			 $('article').removeClass('box');
		 } else {
			 $('article').addClass('box');
		 }
	});
	</script>


{% endblock %}

