{%  for draft_nominee_link in draft_nominee_links %}

	<tr>
		<td>
			{%  if draft_nominee_link.delete is not None %}
				<input type="checkbox" class="{{nominee_link_to_delete__html_class_name}}" checked name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{delete__html_name}}]" value="True">
			{%  else %}
				<input type="checkbox" class="{{nominee_link_to_delete__html_class_name}}" name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{delete__html_name}}]" value="True">
			{%  endif %}
		</td>
		<td>
			<input type="number" name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{saved_nominee_link__id__html_name}}]" value="{{ draft_nominee_link.saved_nominee_link__id }}" readonly required>
		</td>
		<td>
			<input type="text" name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{ saved_nominee_link__sfuid__html_name }}]" value="{{ draft_nominee_link.saved_nominee_link__sfuid }}" required>
		</td>
		<td>
			<select name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{saved_nominee_link__nominee__html_name}}]">
				<option value="{{no_nominee_linked__html_name}}">No Nominee Linked</option>
				{% for nominee in current_election.nominee_set.all %}
					{% if draft_nominee_link.saved_nominee_link__nominee == nominee.id|stringformat:"i" %}
						<option selected value="{{ nominee.id }}">{{ nominee.full_name }}</option>
					{%  else %}
						<option value="{{ nominee.id }}">{{ nominee.full_name }}</option>
					{%  endif %}
				{%  endfor %}

			</select>
		</td>
		<td>
			<a target="_blank" href='{{ draft_nominee_link.link }}'>Nominee Link</a>
		</td>
		<td>
			<a target="_blank" href="{{ URL_ROOT }}elections/{{create_or_update_nominee_via_nominee_link__html_name}}/?{{nominee_link_id__html_name}}={{ draft_nominee_link.saved_nominee_link__id }}">
				{%  if draft_nominee_link.saved_nominee_link__nominee == no_nominee_linked__html_name %}
					Created Linked Nominee
				{%  else %}
					Edit Linked Nominee
				{%  endif %}
			</a>
		</td>
	</tr>
{%  endfor %}