{%  if draft_nominee_links is None %}
	{%  for nominee_link in nominee_links %}
		<tr>
			<td>
				<input type="checkbox" class="{{nominee_link_to_delete__html_class_name}}" name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{delete__html_name}}]" value="True">
			</td>
			<td>
				<input type="number" name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{saved_nominee_link__id__html_name}}]" value="{{ nominee_link.id }}" readonly required>
			</td>
			<td>
				<input type="text" name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{ saved_nominee_link__name__html_name }}]" value="{{ nominee_link.name }}" required>
			</td>
			<td>
				<select name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{saved_nominee_link__nominee__html_name}}]">
					<option value="{{no_nominee_linked__html_name}}">No Nominee Linked</option>
					{% for nominee in nominee_link.election.nominee_set.all %}
						{% if nominee_link.nominee == nominee %}
							<option selected value="{{ nominee.id }}">{{ nominee.name }}</option>
						{%  else %}
							<option value="{{ nominee.id }}">{{ nominee.name }}</option>
						{%  endif %}
					{%  endfor %}

				</select>
			</td>
			<td>
				<a target="_blank" href='{{ nominee_link.link }}'>Nominee Link</a>
			</td>
			<td>
				<a target="_blank" href="{{ URL_ROOT }}elections/{{create_or_update_nominee_via_nominee_link__html_name}}/?{{nominee_link_id__html_name}}={{ nominee_link.id }}">
					{%  if nominee_link.nominee is None %}
						Created Linked Nominee
					{%  else %}
						Edit Linked Nominee
					{%  endif %}
				</a>
			</td>
		</tr>
	{%  endfor %}
{%  endif %}