{% extends "csss/new_header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	<h1>Update Officers for Given Term</h1>
	<form action="{{URL_ROOT}}administration/officer/create_or_update_json" method="post" class="form">
		{% csrf_token %}
		<p>Instructions
			<ul>
				<li>Options for "term": "Spring", "Summer", "Fall"</li>
				<li>the year needs to be in YYYY format.</li>
				<li>bio needs to already be in HTML format: <a href="https://wordtohtml.net/" target="_blank"> Useful Speech Formatter</a></li>
			</ul>
		</p>
		<textarea name="input_json" cols="70" rows="30" required>
			{
				"year" : "YYYY",
				"term" : "",
				"execs" :
					[
						{
								"exec_position" : "",
								"name" : "",
								"sfuid" : "",
								"announcement_emails" : [
										""
								],
								"phone_number" : "0",
								"github_username" : "",
								"gmail" : "",
								"fav_course_1" : "",
								"fav_course_2" : "",
								"fav_language_1" : "",
								"fav_language_2" : "",
								"bio" : "",

								"profile_pic_path" : ""
						}
					]
			}


		</textarea>
		<br><input type="submit" value="submit" />
		<br>
		<br>
		<br>
	</form>
	</script>
{% endblock %}
