{% extends "events/frosh/2014/header.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
{{ block.super }}
			<h1>FAQ</h1>

			<p>Got a question? Email it to: <a href="mailto:csss-frosh@sfu.ca">csss-frosh@sfu.ca</a></p>

			<ol>
			    <li><a href="#faq_1">What's the difference between FroshWeek and Discover SFU Orientation?</a></li>
			   	<li><a href="#faq_2">Do I need to attend all the events in the schedule as I have classes that conflict with them?</a></li>
				<li><a href="#faq_3">How much does FroshWeek cost?</a></li>
				<li><a href="#faq_4">I am a mature student or am already very familiar with campus and services offered. Do I still need to go?</a></li>
				<li><a href="#faq_5">What is the best way to get more information about FroshWeek?</a></li>
			   	<li><a href="#faq_6">I am unable to make an event. Can events be missed, entered late, or left early?</a></li>
			    <li><a href="#faq_7">I have a lab/tutorial during one of the events.</a></li>
				<li><a href="#faq_8">I am located at the Surrey campus, can I still attend FroshWeek?</a></li>	
			</ol>

			<h1>The Answers</h1>

			<p class="question"><a id="faq_1">1. What's the difference between FroshWeek and </a><a href="http://www.sfu.ca/studentlife/orientation/index.html">Discover SFU Orientation</a>?</p>

			<p>Discover SFU Orientation is a very informative 2 days in August that teaches you where stuff on campus is, how to be successful, and prepares you for a solid start at university. You will meet one upper-year student, called your Orientation Leader (OL) who may or may not be in Computing Science, and ~15 other students in Applied Science. It's useful, especially for those who don't know the campus very well.</p>
			    
			<p>FroshWeek is just pure, unadulterated FUN, and is for all CS students, regardless of how well you know the campus. You will meet dozens of wise upper-year students and other first years in CS. You will learn things the Orientation Leaders aren't allowed to tell you. You'll compete for awesome prizes, and receive tons of food. You'll make memories that you'll look back on 20 years down the road. Awesome!</p>

			<p>FroshWeek is the easiest way to meet  people, and is completely different from the 2 days of information you'll receive during SFU Orientation.</p>


			<p class="question"><a id="faq_2">2. Do I need to attend all the events in the schedule as I have classes that conflicts with them?</a></p>

			<p>We know that we have lots going on during the first week and although it would be great to attend all of them we know it is not realistically possible. So we have marked the events that are essential to go to, i.e. Registration BBQ and Late Night Lunacy.</p>

			<p>If you have any classes that conflicts with those events contact us using <a href="mailto:csss-frosh@sfu.ca">csss-frosh@sfu.ca</a> as early as possible and we'll let you know what to do.</p>


			<p class="question"><a id="faq_3">3. How much does FroshWeek cost?</a></p>

			<p>It's free!</p>


			<p class="question"><a id="faq_4">4. I am a mature student or am already very familiar with campus and services offered. Do I still need to go?</a></p>

			<p>Of course! Don't think of FroshWeek as an orientation, but a chance to meet a lot of the people you will be studying and working with for the next few years and party it up a little. The point of it all, aside from meeting people, is to have fun!</p>


			<p class="question"><a id="faq_5">5. What is the best way to get more information about FroshWeek?</a></p>

			<p>The best way to get information is checking the website periodically since we add more content to it as we get closer to FroshWeek. However if you have a question that hasn't been answered, send our <a href="mailto:csss-frosh@sfu.ca">team</a> an email and we will get back to you as soon as possible. If it is a general question we will post it on the website for everybody else as well.</p>


			<p class="question"><a id="faq_6">6. I am unable to make an event. Can events be missed, entered late, or left early?</a></p>

			<p>Yes. We understand that students may not be able to make every event. Although, we would prefer it if all participants were able to make these events: Registration BBQ, RAMing Ceremony, PacMacro and Late Night Lunacy as they are essential to the FroshWeek experience. If you need to leave an event early, just let a Frosh leader know what's going on. If you need to join an event late, please find out before hand where we will be, as some of our events will move around to different areas.</p>


			<p class="question"><a id="faq_7">7. I have a lab/tutorial during one of the events.</a></p>

			<p>It isn't mentioned in your schedule, but generally during the first week of classes there are no tutorials or labs. Make sure you still attend your lecture and be attentive, ensuring this is the case for your class. However, you will likely be able to attend the event.</p>


			<p class="question"><a id="faq_8">8. I am located at the Surrey campus, can I still attend FroshWeek?</a></p>

			<p>Although some of the events are held at the Burnaby campus, FroshWeek is open to any and all Computing Science Students. Feel free to come join us for any of the events that you are able to make. Unfortunately some events will be during your classes at Surrey, other events are held later in the day or in downtown Vancouver. Check out the <a href="{{ URL_ROOT }}events/frosh/2014/schedule">schedule</a> for more details on event locations and times.</p>
			<p>Additionally, Software Systems and Mechatronics have their own <a href="http://msess.ca/2014/08/frosh-2014-wants-you-participants-look-here/">FroshWeek events at the Surrey campus</a>.</p>


{% endblock %}