{% extends "events/frosh/2014/header.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
{{ block.super }}


			<h1>FroshWeek Sponsors</h1>

			<p>Interested in sponsoring the CSSS FroshWeek 2014? For more information on how you can support this great week of events, send an email to <a href="mailto:csss-frosh@sfu.ca">csss-frosh@sfu.ca</a>. We'll get back to you as soon as possible to with an answer to your query. Sponsoring FroshWeek 2014 is a great way to increase your company's brand presence and includes many other benefits.</p>

			<p>Check out the <a href="{% static 'events_static/frosh/2014/sponsorship_guide.pdf' %}">FroshWeek 2014 Sponsorship Package</a> for more details on levels of sponsorship.</p>

			<div class="sponsor">

				<a href="https://athinkingape.com/"><h3>A Thinking Ape</h3></a>
	                <img src="{% static 'events_static/frosh/2014/images/sponsor_logo/a_thinking_ape.png' %}" class="sponsor" alt="a thinking ape logo" />
					<h3>Bronze Sponsor</h3>

			</div>

{% endblock %}