{% extends "csss/header.html" %}
{% load staticfiles %}
{% block content %}
{{ block.super }}
	<link rel="stylesheet" href="{% static 'mountain_madness_static/2021/csss_custom.css' %}">
	<section id='above-fold'>
		<header>
			<h1 class="title is-size-2">Submissions from the Computing Science Student Society Mountain Madness Hackathon 2021</h1>
		</header>

		<div id='building' aria-hidden="true"></div>

		<div id='mountain' aria-hidden="true">
			<div class='grass'></div>
			<div class='grass'></div>
			<div class='grass'></div>
		</div>

	</section>
	Please note, these projects may have been made private or changed since submission. Run at your own risk.

	<h2 class="title is-size-2">Submissions</h2>

	<table>
		<tr>
			<th>Prize</th>
			<th>Project Name </th>
			<th>Project Description</th>
			<th>Project Link</th>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">First Place</td>
            <td class="csss_mountain_madness_submission_row">Cosmos</td>
			<td class="csss_mountain_madness_submission_row">Cosmos, an Android app guiding a rocket through levels</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/Jimson123/MountainMadness2021---Cosmos">https://github.com/Jimson123/MountainMadness2021---Cosmos</a></td>
		</tr>
        <tr>
			<td class="csss_mountain_madness_submission_row">Second Place</td>
            <td class="csss_mountain_madness_submission_row">Interrupting Chicken</td>
			<td class="csss_mountain_madness_submission_row">Interrupting Chicken, an annoying typing game that interrupts your typing</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/jacksonn-gtc/MountainMadness2021">https://github.com/jacksonn-gtc/MountainMadness2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Third Place</td>
            <td class="csss_mountain_madness_submission_row">The Meme Machine</td>
			<td class="csss_mountain_madness_submission_row">The Meme Machine, website that shows and allows for creation and sharing of memes</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/asim-shrestha/mountain-madness-2021">https://github.com/asim-shrestha/mountain-madness-2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The Rubey</td>
            <td class="csss_mountain_madness_submission_row">Nightwatch</td>
			<td class="csss_mountain_madness_submission_row">Nightwatch, a discord bot "built to be your companion under starry night"</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/AshCatchEmAll/NightWatch">https://github.com/AshCatchEmAll/NightWatch</a></td>
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<th>Project Name </th>
			<th>Project Description</th>
			<th>Project Link</th>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Rent a girlfriend</td>
			<td class="csss_mountain_madness_submission_row">Alone on Valentine? Rent an automated girlfriend in the comfort of your own home.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/sebastianbugal/MountainMadnessHackathon2021/tree/main">https://github.com/sebastianbugal/MountainMadnessHackathon2021/tree/main</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">20,000 Leagues Under the Sea</td>
			<td class="csss_mountain_madness_submission_row">This game is an endless sidescroller, where the player plays as a submarine traversing the depths of the sea. On the player’s journey, they will be met with various obstacles such as geysers, naval mines, and the denizens of the sea who will stop at nothing to stop the player in their tracks. How long will the player be able to survive the harsh conditions of the deep?</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/myang0/mm-game">https://github.com/myang0/mm-game</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Interrupting Chicken</td>
			<td class="csss_mountain_madness_submission_row">A typing test that interrupts you with a chicken that pops up occasionally.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/jacksonn-gtc/MountainMadness2021"></a>https://github.com/jacksonn-gtc/MountainMadness2021</td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Cyberpunk Stle Face ID System</td>
			<td class="csss_mountain_madness_submission_row">This a stand-alone system that is able to identify people in frames from static images, captured video, or live camera feeds. This technology is mentioned in many books like 1984 where big government uses big data and AI to track its citizens. This is a prototype version of this technology.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/kvalemi/Mountain-Madness-Hackathon"></a>https://github.com/kvalemi/Mountain-Madness-Hackathon</td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">CarbonCounter</td>
			<td class="csss_mountain_madness_submission_row">A calculator/tracker for carbon emissions based on what the user does on a daily/weekly basis.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://csil-git1.cs.surrey.sfu.ca/jma165/carboncounter"></a>https://csil-git1.cs.surrey.sfu.ca/jma165/carboncounter</td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Saur0n3ye</td>
			<td class="csss_mountain_madness_submission_row">An android app that finds books on a bookshelf and extracts information about them.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/jryzkns/mtn_madness_2021"></a>https://github.com/jryzkns/mtn_madness_2021</td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Oh the Places You'll Go (After COVID)</td>
			<td class="csss_mountain_madness_submission_row">Generates a destination for the user to travel to and provides information on the place place.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://csil-git1.cs.surrey.sfu.ca/kmc36/oh-the-places-youll-go"></a>https://csil-git1.cs.surrey.sfu.ca/kmc36/oh-the-places-youll-go</td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The Giving Tree</td>
			<td class="csss_mountain_madness_submission_row">Clicker game where you click on a tree and it spawns apples.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/ColinKYuen/Mountain-Madness-2021">https://github.com/ColinKYuen/Mountain-Madness-2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">One Fish, Two Fish, Red Fish, Flippy fish</td>
			<td class="csss_mountain_madness_submission_row">The game is flippy fish which the player controls a fish that has to swim while avoiding fish hooks and seaweed</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/CarStereo/Mountain-Madness-2021">https://github.com/CarStereo/Mountain-Madness-2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The Meme Machine</td>
			<td class="csss_mountain_madness_submission_row">A website for sharing, generating, and learning about memes.</td>
			<td class="csss_mountain_madness_submission_row"><a href="www.github.com/asim-shrestha/mountain-madness-2021">www.github.com/asim-shrestha/mountain-madness-2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The Art of Sorting.</td>
			<td class="csss_mountain_madness_submission_row">Interactive sorting algorithm simulator.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://bitbucket.org/holychicken99/proj_main/src/master/">https://bitbucket.org/holychicken99/proj_main/src/master/</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Cosmos</td>
			<td class="csss_mountain_madness_submission_row">Cosmos (first published 1980) by Carl Sagan explores the history of the universe, science, and our understanding of the world. Your task is to guide a rocket through several levels without blowing up.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/Jimson123/MountainMadness2021---Cosmos">https://github.com/Jimson123/MountainMadness2021---Cosmos</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Snowy Valentine</td>
			<td class="csss_mountain_madness_submission_row">Web storybook based on Snowy Valentine by David Petersen</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/jmardjuki/mountain-madness2021">https://github.com/jmardjuki/mountain-madness2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The book of tomorrow</td>
			<td class="csss_mountain_madness_submission_row">A discord bot that lets the user store books they have read/reading and provides recommendations based on the books stored or based on what genre/subject that the user asked for.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/TheNextLevelPlay/MountainHacks-2021-LGC.git">https://github.com/TheNextLevelPlay/MountainHacks-2021-LGC.git</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Invisible-Man</td>
			<td class="csss_mountain_madness_submission_row">By uploading an image of yourself against a background, and then posting an image of the background by its self, We will remove you from the original image. Will be doing this by using edge detection to map the pixels where you are and then take the equivalent area on the background image and camouflage you with it.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/maheeppartap/Invisible-Man">https://github.com/maheeppartap/Invisible-Man</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Salt Fat Acid Heat - Anti-Fitbit</td>
			<td class="csss_mountain_madness_submission_row">An anti-fitness tracker app for android. Sends notifications when you're moving too much and tracks your calories to make sure you're eating your goal</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/bryanniwa/Salt-Fat-Acid-Heat-Anti-Fitbit.git">https://github.com/bryanniwa/Salt-Fat-Acid-Heat-Anti-Fitbit.git</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">No Longer Human</td>
			<td class="csss_mountain_madness_submission_row">Extra-complicated method of solving a CAPTCHA</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/EarthenSky/mountain-madness-2021">https://github.com/EarthenSky/mountain-madness-2021</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Clippy but pepe</td>
			<td class="csss_mountain_madness_submission_row">It's clippy, but pepe</td>
			<td class="csss_mountain_madness_submission_row"><a href="http://github.com/ssttevee/clippy-but-pepe">http://github.com/ssttevee/clippy-but-pepe</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">MagicWandSimulator</td>
			<td class="csss_mountain_madness_submission_row">Brief Project Description</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/sun950605/MagicWandSimulator">https://github.com/sun950605/MagicWandSimulator</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The Speed of Light</td>
			<td class="csss_mountain_madness_submission_row">A small reaction based game where you click a button when prompted. Your reaction time is given as the distance that light travels before you click the button.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/IAmTheRedSpy/the-speed-of-light">https://github.com/IAmTheRedSpy/the-speed-of-light</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Twitter-Bot</td>
			<td class="csss_mountain_madness_submission_row">Twitter bot that censors tweets based on "newspeech" vocabulary.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/chhokara/Twitter-Bot">https://github.com/chhokara/Twitter-Bot</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">The Weatherman</td>
			<td class="csss_mountain_madness_submission_row">A web application that allows the user to see the current weather in any city. Developed using HTML, CSS, and JavaScript.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/hakimbashe/The-Weatherman/tree/main">https://github.com/hakimbashe/The-Weatherman/tree/main</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Banking_UI-Java</td>
			<td class="csss_mountain_madness_submission_row">A bank application book name: An Introduction to Banking by Steen Blaafalk</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/tejpooni/Banking_UI-Java">https://github.com/tejpooni/Banking_UI-Java</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Into the Wild (By John Krakauer) RESUBMISSION</td>
			<td class="csss_mountain_madness_submission_row">Into the Wild is a book about a man who hitchhiked into the wild and was forced to survive off of the available resources. Our team made a rudimentary child friendly website that easily allows the user to access more information on certain wildlife topics.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/leevictorr/MountainMadness-2021">https://github.com/leevictorr/MountainMadness-2021</a></td>
		</tr>
        <tr>
			<td class="csss_mountain_madness_submission_row">Business Adventures</td>
			<td class="csss_mountain_madness_submission_row">This is an android app that allows users to quickly view stock charts and values, powered by the Yahoo Finance API. To run this app, please clone the repo into android studio and run the app on an emulator. I found using a Pixel 2 API 27 emulator worked best for me. Thanks!</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/Evan-Coulter/BusinessAdventures">https://github.com/Evan-Coulter/BusinessAdventures</a></td>
		</tr>
        <tr>
			<td class="csss_mountain_madness_submission_row">NightWatch</td>
			<td class="csss_mountain_madness_submission_row">NightWatch is a discord bot that will your companion under a starry sky. It will tell u about your horoscope, give you details about solar system bodies (like mass, volume, gravity, dimension, etc), tell you what time will it be dark enough to see the stars, and much more.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/AshCatchEmAll/NightWatch">https://github.com/AshCatchEmAll/NightWatch</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Knockout!</td>
			<td class="csss_mountain_madness_submission_row">Punch the sand bag, then buy items to punch it harder!</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/PigeonZow/knockout">https://github.com/PigeonZow/knockout</a></td>

		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Stock at There</td>
			<td class="csss_mountain_madness_submission_row">Our project topic is stock. We have created three different shinny app with. The app has different tab which could allow the user select different desire information for different stock and properties. The app functions include data visualization, and forecasting. by transforming the data into easy-reading visluzation, our project enabled people gain better insight of stock.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/JJimLee/MountainMadness.git">https://github.com/JJimLee/MountainMadness.git</a></td>
		</tr>
		<tr>
			<td class="csss_mountain_madness_submission_row">Hands-On Web Scraping with Python</td>
			<td class="csss_mountain_madness_submission_row">A horrible website built using flask that allow user to look up course information and prof rating (Only work with Summer 2021 CMPT right now)</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://github.com/muvda/finder_website">https://github.com/muvda/finder_website</a></td>
		</tr>
        <tr>
			<td class="csss_mountain_madness_submission_row">Tic Tac Tome</td>
			<td class="csss_mountain_madness_submission_row">Our project is an expanded version of tic tac toe. The grid size is increased by 2 every time a game ends in a tie. Some blocks in the grid are blocked with every expansion to introduce challenge. The project is coded in css, html and javascript.It is a web based implementation.</td>
			<td class="csss_mountain_madness_submission_row"><a href="https://csil-git1.cs.surrey.sfu.ca/ksparmar/hackathon-2021">https://csil-git1.cs.surrey.sfu.ca/ksparmar/hackathon-2021</a></td>
		</tr>
	</table>
{% endblock %}
