
.csss_box_bordering_1 {
    border: 3px solid black;
    padding: 10px;
}

.csss_box_bordering_2 {
    border: 1px transparent solid;
    display:inline-block;
}

.csss_box_bordering_3 {
    border: 1px solid black;
}

.csss_box_bordering_4 {
    display:inline-block;
}


.csss_error_style {
    color: red
}

.csss_order_list {
    margin-left: 2em;
}