{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
<body>
    <section class="section">
        <div class="container">
            <div class="content" >

                <h2>Upcoming Events</h2>

                <iframe src="https://calendar.google.com/calendar/embed?title=%20&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bbbq60o04q740ms1mjk0d4h259uoston%40import.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FVancouver" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>

            </div>
        </div>
    </section>
    <br>
    <br>
    <br>

</body>

{% endblock %}
