{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	<ul>
		<li><a href='{{URL_ROOT}}events/'>Calendar</a></li>
		<li><a href='{{URL_ROOT}}events/general_meetings'>General Meetings</a></li>
		<li><a href='{{URL_ROOT}}events/board_games'>Board Games Nights</a></li>
		<li><a href='{{URL_ROOT}}events/game_jam'>Game Jam</a></li>
		<li><a href='{{URL_ROOT}}events/frosh_week'>Frosh Week</a></li>
	</ul>
{% include "csss/includes/htmlsnippet.html" %}
{% endblock %}

