{% extends "csss/header.html" %}

{% block content %}
{{ block.super }}

    <section class="section">
        <div class="container">
            <div class="content" >

				<h2 class="title is-size-2">Regular Events</h2>
				You will be alerted to the next regular event, <a target="_blank" href="{{ URL_ROOT }}">both via email</a> and also on the announcements channel of the CSSS Discord Guild.

				<h3 class="title is-size-3">General Meetings</h3>
				The CSSS runs bi-weekly general meetings where the executive team updates the memebership (Computing Science majors, minors, honourary memebers and people just taking a course offered by the school of Computing Science at SFU) of the most current information regarding the society. Updates often include changes to the common room, changes to courses, planned events and opportunity to discuss anything relevant to the society. 
				<ul>
					<li><b>Officer Reports</b>: officer will report on anything that has happened, pertaining to their job that is necessary to announce at a meeting.</li>
					<li><b>Announcements</b>: Attendes will be notified of any upcoming big events that may be happening.</li>
					<li><b>Open Floor</b>: Open Floor provides an opportunity for anyone at the meeting to voice a question, comment or concern about the CSSS, the CS Department, SFSS, etc.</li>
				</ul>
				there may also be other agenda items from time to time.<br>

				<h3 class="title is-size-3">Board Games Nights</h3>
				The CSSS has run bi-weekly board games nights for 5+ years. We provide many board games that you can borrow and play with others! The event usually runs throughout an evening and we try and provide food.

				Board games that we provide include:
				 <ul>
					<li>Settlers of Catan</li>
					<li>Jenga</li>
					<li>Code Names</li>
					<li>Uno</li>
					<li>Exploding Kittens</li>
					<li>Blockus</li>
					<li>Coup</li>
					<li>Apples to Apples</li>
					<li>Ticket to Ride</li>
					<li>Risk</li>
					<li>Chess</li>
				</ul> 		
				
				If you don't recongize all or any of those games, don't worry! There are always people there willing to teach you!

				This event is a great way to meet new people and socialize with your peers!

				If you want to request a particular boardgames, please contact the Assistant Director of Events.

				<h3 class="title is-size-3">Fall Hacks</h3>
				Fall Hacks is our annual hackathon that runs in the Fall. This is a 10-12 hour competition to develop a project in a team based around some central theme. It's a lot of fun and great to students of all experience levels!				

				<h3 class="title is-size-3">Mountain Madness</h3>
				Mountain Madness is our annual hackathon that runs in the Spring. This is a 24-hour competition to develop a project in a team based around some central theme. It's a lot of fun and great to students of all experience levels!


				<h3 class="title is-size-3">Frosh Week</h3>
				Frosh week is run in the first weeks of September each year for new Computing Science students (directly frm high school, internal transfer, extenal transfer, etc.). We run events such as info sessions and social events. Please watch your email for information.

				<h3 class="title is-size-3">End of Semester Social</h3>
				This event is held at the end of a given semester. The event changes every semester, but it is meant to be a social event where you can come and socialize with your peers. In the past we have given discounts at resturants, had karoke/board games, lan parties and more!

            </div>
        </div>
    </section>

{% endblock %}
