{% extends "csss/new_header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	<h1 class="title">Create new Election</h1>
    {% if error_messages %}
        <p style="color: red">Experienced Following Error<br>
			{% for error_message in error_messages %}
            {{ error_message|safe }}<br>
			{% endfor %}
        </p>
    {%  endif %}
	<form method="post" class="form">
		{% csrf_token %}
        <input type="button" value="Beautify JSON" onclick="beautify();" />
        <input type="submit" value="submit" />
		<p><strong>Instructions</strong>
			<ul>
				<li>{{types_of_elections}}</li>
				<li>{{valid_position_names}}</li>
				<li>the HH in date needs to be 24 hour time</li>
				<li>the html links all need to begin with "http://"</li>
				<li>speech needs to already be in HTML format: <a href="https://wordtohtml.net/" target="_blank"> Useful Speech Formatter</a></li>
			</ul>
		</p>
		<textarea name="input_json" cols="80" rows="40" required></textarea></p>
        <input type="button" value="Beautify JSON" onclick="beautify();" />
		<br><input type="submit" value="submit" />
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</form>
    {{ input_json|json_script:"election-json-data" }}
    <script>
        (function () {
            raw_string = document.getElementById('election-json-data').textContent
            el = JSON.parse(JSON.parse(raw_string));
            $('textarea').val(JSON.stringify(el,null,'\t'));
        })();
    </script>
    <script>
    function beautify() {
        raw_string = JSON.stringify(document.getElementsByName('input_json')[0].value);
        el = JSON.parse(JSON.parse(raw_string));
        $('textarea').val(JSON.stringify(el,null,'\t'));
    }
    </script>{% endblock %}
