{% extends "csss/header.html" %}

{% block content %}
	{{ block.super }}
	{%  include 'csss/error_htmls/html_snippet_for_general_error_validations.html' %}
	{%  if error_messages is None or error_messages|length == 0 %}
		{% load staticfiles %}
			<link rel="stylesheet" href="{% static 'csss_static/csss_markdown.css' %}">
			<section class="section">
				<div class="container">
					<div>
						<h2 class="title is-2">{{election__html_name.human_friendly_name}}</h2>
						<br>
						{% if nominees__html_name is None %}
							It seems like the time hasn't come to announce the nominees yet....
						{% else %}

							{% if current_election_officer %}
								<table>
									<tr>
										<td style="width: 25%">
											<h5 class="title is-5">Modify Via JSON</h5>
											<a href="{{ URL_ROOT }}elections/{{ election__html_name.slug }}/election_modification_json">Link</a>
										</td>
										<td style="width: 25%">
											<h5 class="title is-5">Modify Via Webform</h5>
											<a href="{{ URL_ROOT }}elections/{{ election__html_name.slug }}/election_modification_webform">Link</a>
										</td>
										<td style="width: 25%">
											<h5 class="title is-5">Modify Via Nominee Links</h5>
											{%  if pre_existing_election is False %}
												<a href="{{ URL_ROOT }}elections/{{ election__html_name.slug }}/election_modification_nominee_links">Link</a>
											{%  else %}
												{{ delete_existing_nominee_links_message|safe }}
											{%  endif %}
										</td>
										<td style="width: 25%">
											<h5 class="title is-5">Delete Election</h5>
											<a href="{{ URL_ROOT }}elections/{{ election__html_name.slug }}/delete">Link</a>
										</td>
									</tr>
								</table>
							{%  endif %}

							{% if election__html_name.websurvey != "NONE" %}
								<p> <a href="{{election__html_name.websurvey}}" target="_blank" >Websurvey Link</a></p>
							{% endif %}
							<br>
							{% for nominee in nominees__html_name %}
								{% ifchanged nominee.position_name %}
									<h3 class="title is-size-3">Position: {{nominee.position_name}}</h3>
								{% endifchanged %}
								<p>Nominee Name: <b>{{nominee.nominee_speech.nominee.name}}</b></p>
								{{nominee.nominee_speech.social_media_html|safe}}
								<br>
								{%  if nominee.nominee_speech.speech != "NONE" %}
									<p>Nominee Speech:</p>
									<br>
									<div class="csss_markdown">
										<article class="box is-light">
											{{nominee.nominee_speech.formatted_speech|safe}}
										</article>
									</div>
								{%  endif %}
								<hr>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
		<script>
			const screen = $(window);
			if (screen.width() < 600) {
					$('article').removeClass('box');
				} else {
					$('article').addClass('box');
				}


			$(window).resize(function () {
				const screen = $(window);
				if (screen.width() < 600) {
					$('article').removeClass('box');
				} else {
					$('article').addClass('box');
				}
			})
		</script>
	{%  endif %}
{% endblock %}
