{% extends "csss/header.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <link href="{% static 'csss_static/csss_custom.css' %}" rel="stylesheet">
    <h1 class="title is-size-1">Documentation For Election Officer</h1>

    <h2 class="title is-size-2">Table of Contents</h2>
    <ol class="csss_order_list">
        <li><a href="#1-prerequisites-for-sending-emails">Prerequisites for sending off email</a></li>
        <ol class="csss_order_list">
            <li><a href="#12-gain-access-to-necessary-email-lists">Gain access to necessary email-lists</a></li>
        </ol>
        <li><a href="#2-create-election-on-website">Create election on website</a></li>
        <li><a href="#3-nomination-emails">Nomination Emails</a></li>
        <ol class="csss_order_list">
            <li><a href="#31-sending-initial-email">Sending initial email</a></li>
            <li><a href="#32-adding-nominees-to-the-website">Adding nominees to the website</a></li>
            <li><a href="#33-sending-reminder-email">Sending reminder email</a></li>
            <li><a href="#34-sending-nominee-link-emails">Sending Nominee Link Emails</a></li>
            <li><a href="#35-sending-reminder-nominee-link-emails">Sending Reminder Nominee Link Emails</a></li>
        </ol>
        <li><a href="#4-voting-emails">Voting Emails</a></li>
        <ol class="csss_order_list">
            <li><a href="#41-setting-up-websurvey">Setting up Websurvey</a></li>
            <ol class="csss_order_list">
                <li><a href="#411-general">General</a></li>
                <li><a href="#412-questions">Questions</a></li>
                <li><a href="#413-access">Access</a></li>
            </ol>
            <li><a href="#42-updating-websurvey-link-associated-with-election-page-on-sfucsssorg">Updating websurvey link associated with election page on sfucsss.org</a></li>
            <li><a href="#43-sending-initial-email">Sending initial email</a></li>
            <li><a href="#44-sending-reminder-email">Sending reminder email</a></li>
        </ol>
        <li><a href="#5-results-collected">Results Collected</a></li>
        <ol class="csss_order_list">
            <li><a href="#51-sending-results-email">Sending results email</a></li>
            <li><a href="#52-save-results">Save Results</a></li>
            <ol class="csss_order_list">
{#                <li><a href="#521-save-image">Save Image</a></li>#}
{#                <li><a href="#522-save-csv">Save CSV</a></li>#}
                <li><a href="#523-sharing-results-with-csss">Sharing results with <code>CSSS</code></a></li>
            </ol>
        </ol>
    </ol>
    <br><br>
    When you see "<b>[By|General|SFSS] Elections</b>", that means you have to substitute it with either "<b>By-Elections</b>" or "<b>General Election</b>"  or "<b>SFSS Council Rep Election</b>"
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>It is an SFSS Council Rep Election if its the routine during the Spring term for a new SFSS Council Rep Election</li>
        <li>It is a General Election if its the routine time during the Spring term for new elections</li>
        <li>otherwise, it is a By-Election</li>
    </ul>

    <h2 class="title is-size-2"><a id="1-prerequisites-for-sending-emails">1. Prerequisites for sending emails</a></h2>

    <h3 class="title is-size-3"><a id="12-gain-access-to-necessary-email-lists">1.2. Gain access to necessary email-lists</a></h3>
    <ol class="csss_order_list">
        <li>ask the DoA to add you to the <code>csss-elections</code> email list</li>
        <li>you will need to give the DoA your SFUID for this task</li>
    </ol>

    <h2 class="title is-size-2"><a id="2-create-election-on-website">2. Create election on website</a></h2>
    <ol class="csss_order_list">
        <li>go to <a href="https://sfucsss.org/elections/new_election_via_nominee_links/">https://sfucsss.org/elections/new_election_via_nominee_links/</a> and fill in the info for the new election
        </li>
    </ol>

    <h2 class="title is-size-2"><a id="3-nomination-emails">3. Nomination Emails</a></h2>

    <h3 class="title is-size-3"><a id="31-sending-initial-email">3.1. Sending initial email</a></h3>
    {#The below programs are the recommended programs for modifying LaTeX files#}
    {#<ul style="margin-left: 2em;list-style-type: circle;">#}
    {#    <li><a href="http://milq.github.io/install-latex-ubuntu-debian/">Modifying on GNU+Linux</a></li>#}
    {#    <li><a href="https://www.xm1math.net/texmaker/download.html">Modifying on Windows or Mac</a></li>#}
    {#</ul>#}


    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Header: <code>20XX-20XX CSSS [General|By|SFSS] Elections Nominations</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Addresses to send to: <code>csss-announce</code></li>
            <li>Email template: in the text file called <a href="{%  static 'elections_static/election_documentation_emails/1_nomination.txt' %}" download><code>1_nomination.txt</code></a></li>
            <ul style="margin-left: 2em;list-style-type: circle;">
                <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
            </ul>
        </ul>
    </ul>

    <h3 class="title is-size-3"><a id="32-adding-nominees-to-the-website">3.2. Adding nominees to the website</a></h3>
    When nominees start emailing you to indicate that they want to be a nominee, go to <code>https://sfucsss.org/elections/&#60;election_slug&#62;/election_modification_nominee_links/</code> and enter their SFUID into the <code>SFU IDs</code> field and then email back the nominee the link in <code>Link for Nominee</code> for that nominee using the instructions at <a href="#34-sending-nominee-link-emails">3.4. Sending Nominee Link Emails</a>

    <h3 class="title is-size-3"><a id="33-sending-reminder-email">3.3. Sending reminder email</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Heading: <code>REMINDER: 20XX-20XX CSSS [General|By|SFSS] Elections Nominations</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Addresses to send to: <code>csss-announce</code></li>
            <li>Email template: in the text file called <a href="{%  static 'elections_static/election_documentation_emails/2_nomination_reminder.txt' %}" download><code>2_nomination_reminder.txt</code></a></li>
            <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
        </ul>
    </ul>

    <h3 class="title is-size-3"><a id="34-sending-nominee-link-emails">3.4. Sending Nominee Link Emails</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Heading: <code>20XX-20XX CSSS [General|By|SFSS] Elections Nominee Link</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Addresses to send to: <code>csss-announce</code></li>
            <li>Email template: in the text file called <a href="{%  static 'elections_static/election_documentation_emails/3_nominee_link.txt' %}" download><code>3_nominee_link.txt</code></a></li>
            <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
        </ul>
    </ul>

    <h3 class="title is-size-3"><a id="35-sending-reminder-nominee-link-emails">3.5. Sending Reminder Nominee Link Emails</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Heading: <code>REMINDER: 20XX-20XX CSSS [General|By|SFSS] Elections Nominee Link</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Addresses to send to: <code>csss-announce</code></li>
            <li>Email template: in the text file called <a href="{%  static 'elections_static/election_documentation_emails/4_nominee_link_reminder.txt' %}" download><code>4_nominee_link_reminder.txt</code></a></li>
            <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
        </ul>
    </ul>

    <h2 class="title is-size-2"><a id="4-voting-emails">4. Voting Emails</a></h2>

    <h3 class="title is-size-3"><a id="41-setting-up-websurvey">4.1. Setting up Websurvey</a></h3>
    <h4 class="title is-size-4"><a id="411-general">4.1.1. General</a></h4>
    <img src="{% static 'elections_static/election_documentation_images/websurvey_general.png' %}">
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li><i>Survey Name:</i> <code>2021-2022 CSSS [By|General|SFSS] Elections</code></li>
        <li><i>Completed Text:</i> <code>Thank you for casting your vote for our future Executive Officers!</code></li>
        <li><i>Completed URL:</i> <code>https://sfucsss.org/</code></li>
    </ul>

    <h4 class="title is-size-4"><a id="412-questions">4.1.2. Questions</a></h4>
    <img src="{% static 'elections_static/election_documentation_images/websurvey_questions.png' %}"><br>
    <img src="{% static 'elections_static/election_documentation_images/websurvey_title_page.png' %}">
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li><i>Heading:</i> <code>Nominee Speeches</code></li>
        <li><i>Text :</i> <code>&#60;a href="&#60;election_url&#62;" target="_blank"> Nominee Speeches&#60;/a&#62;</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            </li><i>election_url</i> is the page for the current election on sfucsss.org, like <code>https://sfucsss.org/elections/2021-04-06-general_election/</code></li>
        </ul>
    </ul>

    <img src="{% static 'elections_static/election_documentation_images/websurvey_question.png' %}">

    <h4 class="title is-size-4"><a id="413-access">4.1.3. Access</a></h4>
    <img src="{% static 'elections_static/election_documentation_images/websurvey_access.png' %}">
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li><i>Start Date:</i> <code>2021-03-01 12:00 AM</code>
        <li><i>End Date:</i> <code>2021-03-20 12:00 AM</code></li>
        <li><i>SFU Maillist:</i> <code>cmpt-ugrad, csss-honorary, cmpt-minors, cmpt-majors, cmpt-students</code></li>
    </ul>

    <h3 class="title is-size-3"><a id="42-updating-websurvey-link-associated-with-election-page-on-sfucsssorg">4.2. Updating websurvey link associated with election page on sfucsss.org</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Go to <code>https://sfucsss.org/elections/&#60;election_slug&#62;/election_modification_nominee_links/</code> and update the field <code>Websurvey Link :</code> with the link to the websurvey</li>
    </ul>

    <h3 class="title is-size-3"><a id="43-sending-initial-email">4.3. Sending initial email</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Heading: <code>CSSS [By|General|SFSS] Elections 20XX-20XX Voting Period</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Addresses to send email to: <code>csss-announce</code></li>
            <li>Email template: in text file called  <a href="{%  static 'elections_static/election_documentation_emails/5_voting.txt' %}" download><code>5_voting.txt</code></a></li>
            <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
        </ul>
    </ul>

    <h3 class="title is-size-3"><a id="44-sending-reminder-email">4.4. Sending reminder email</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Heading: <code>Final Reminder: CSSS [BY|General|SFSS] Elections 20XX Voting Period</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Addresses to send email to: <code>csss-announce</code></li>
            <li>email template: in text file: <a href="{%  static 'elections_static/election_documentation_emails/6_voting_reminder.txt' %}" download><code>6_voting_reminder.txt</code></a></li>
            <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
        </ul>
    </ul>

    <h2 class="title is-size-2"><a id="5-results-collected">5. Results Collected</a></h2>
    <h3 class="title is-size-3"><a id="51-sending-results-email">5.1. Sending results email</a></h3>
    <ul style="margin-left: 2em;list-style-type: circle;">
        <li>Subject Heading: <code>CSSS [By|General|SFSS] Elections 20XX-20XX Results</code></li>
        <ul style="margin-left: 2em;list-style-type: circle;">
            <li>Address to send email to: <code>csss-announce</code></li>
            <li>Email template: in the text file called <a href="{%  static 'elections_static/election_documentation_emails/7_voting_results.txt' %}" download><code>7_voting_results.txt</code></a></li>
            <li>Please update anything that is enclosed in the angle brackets <code><></code></li>
        </ul>
    </ul>

    <h3 class="title is-size-3"><a id="52-save-results">5.2. Save Results</a></h3>
    <h4 class="title is-size-4"><a id="521-sharing-results-with-csss">5.2.1. Sharing results with <code>CSSS</code></a></h4>
    <ol class="csss_order_list">
    <li>Click on <code>My Surveys</code></li>
    <li>Click on <code>Edit</code> for the relevant election</li>
    <li>Click on <code>Administrators</code></li>
    <li>Enter <code>csss</code> for the computing ID of a new administrator and then <code>Add Administrator</code></li>
    <li>Click on <code>Save Changes</code></li>
    <img src="{% static 'elections_static/election_documentation_images/websurvey_administrator.png' %}">
    <h4 class="title is-size-4"><a id="522-sharing-results-with-csss-website">5.2.2. Sharing results with <code>CSSS Website</code></code></a></h4>
    <ol class="csss_order_list">
    <li>Click on <code>View Submissions</code></li>
    <li>Click on <code>Export</code> for the correct websurvey</li>
    <li>Click on <code>Click Here to Download Exported Records</code></li>
    <li>Go to <code>https://sfucsss.org/elections/<election_slug></code></li>
    <li>Click on <code>Import Websurvey Results</code></li>
    <li>Then you can follow through the workflow</li>
    <li>You can verify that you did it correct by ensuring that the end results in the election is the same as what you see if you click on <code>View</code> under <code>Summary</code> for an election instead of <code>Export</code> in step 2</li>
{% endblock %}
