{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
{% load staticfiles %}
{% block body %}
<body>
    <section class="section">
        <div class="container">
            <div>
				<h1 class="title is-2">{{election.type_of_election}} {{election_date}}</h1>
				<br>
				{% if nominees == "none" %}
				It seems like the time hasn't come to announce the nominees yet....
			{% else %}
				{% if election.websurvey != "NONE" %}
					<p> <a href="{{election.websurvey}}">websurvey Link</a></p>
				{% endif %}
				<br>
				{% for nominee in nominees %}
					{% ifchanged nominee.officer_position %}
						<h1 class="title is-3">Position: {{nominee.officer_position}}</h1>
					{% endifchanged %}
					<p>Nominee Name: <b>{{nominee.name}}</b></p>
					{% if nominee.facebook != "NONE" or nominee.linked_in != "NONE" or nominee.email != "NONE" or nominee.discord != "NONE" %}
						<p> Contact/Social Media:
						{% if nominee.facebook != "NONE" %}
							<a href="{{nominee.facebook}}">Facebook Profile</a> |
						{% endif %}
						{% if nominee.linked_in != "NONE" %}
							<a href="{{nominee.linked_in}}">LinkedIn Profile</a> |
						{% endif %}
						{% if nominee.email != "NONE" %}
							Email: {{nominee.email}} |
						{% endif %}
						{% if nominee.discord != "NONE" %}
							Discord Username: {{nominee.discord}}
						{% endif %}
					{% endif %}
					<br>
					<p>Nominee Speech:</p> 
					<br>
					<article class="box is-light">
						{{nominee.speech|safe|linebreaks}}
					</article>
					<hr>
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</section>
</body>


<script>

var screen = $(window);  
if (screen.width() < 600) {
		$('article').removeClass('box');
	} else {
		$('article').addClass('box');
	}


$(window).resize(function () {
	var screen = $(window);  
	if (screen.width() < 600) {
		$('article').removeClass('box');
	} else {
		$('article').addClass('box');
	}
})
</script>
   
{% endblock %}
{% endblock %}
