{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
{% load staticfiles %}
{% block body %}
<body>
    <section class="section">
        <div class="container">
            <div>
				<h1 class="title is-2">{{election.human_friendly_name}}</h1>
				<br>
				{% if nominees == "none" %}
				It seems like the time hasn't come to announce the nominees yet....
			{% else %}
				{% if election.websurvey != "NONE" %}
					<p> <a href="{{election.websurvey}}">Websurvey Link</a></p>
				{% endif %}
				<br>
				{% for nominee in nominees %}
					{% ifchanged nominee.officer_position %}
						<h1 class="title is-3">Position: {{nominee.officer_position}}</h1>
					{% endifchanged %}
					<p>Nominee Name: <b>{{nominee.nominee.name}}</b></p>
					{% if nominee.social_media is not None %}
						<p> Contact/Social Media: {{nominee.social_media|safe}}
					{% endif %}
					<br>
                    {%  if nominee.nominee.speech != "NONE" %}
                        <p>Nominee Speech:</p>
                        <br>
                        <article class="box is-light">
                            {{nominee.nominee.speech|safe|linebreaks}}
                        </article>
                    {%  endif %}
					<hr>
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</section>
</body>


<script>

var screen = $(window);  
if (screen.width() < 600) {
		$('article').removeClass('box');
	} else {
		$('article').addClass('box');
	}


$(window).resize(function () {
	var screen = $(window);  
	if (screen.width() < 600) {
		$('article').removeClass('box');
	} else {
		$('article').addClass('box');
	}
})
</script>
   
{% endblock %}
{% endblock %}
