{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
{% load staticfiles %}
{% block body %}
<body>
    <section class="section">
        <div class="container">
            <div class="content" >
				<h1>{{election.type_of_election}} {{election_date}}</h1>
				{% if nominees == "none" %}
				It seems like the time hasn't come to announce the nominees yet....
			{% else %}
				{% if election.websurvey != "NONE" %}
					<p> <a href="{{election.websurvey}}">websurvey Link</a></p>
				{% endif %}
				{% for nominee in nominees %}
					{% ifchanged nominee.exec_position %}
						<h1>Position: {{nominee.exec_position}}</h1>
					{% endifchanged %}
					<p><br/><br/>Nominee Name: <b>{{nominee.name}}</b></p>
					{% if nominee.facebook != "NONE" or nominee.linked_in != "NONE" or nominee.email != "NONE" or nominee.discord != "NONE" %}
						<p> Contact/Social Media:
						{% if nominee.facebook != "NONE" %}
							<a href="{{nominee.facebook}}">Facebook Profile</a> |
						{% endif %}
						{% if nominee.linked_in != "NONE" %}
							<a href="{{nominee.linked_in}}">LinkedIn Profile</a> |
						{% endif %}
						{% if nominee.email != "NONE" %}
							Email: {{nominee.email}} |
						{% endif %}
						{% if nominee.discord != "NONE" %}
							Discord Username: {{nominee.discord}}
						{% endif %}
					{% endif %}
					<p>Nominee Speech:</p> {{nominee.speech|safe|linebreaks}}
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</section>
</body>
{% endblock %}
{% endblock %}
