{%  if save_election__button_id is None %}
	<input type="submit" name="{{input_redirect_election_submit__name}}" value="{{ input_redirect_election_submit__value }}" />
{%  else %}
	<input type="submit" id="{{save_election__button_id}}" name="{{input_redirect_election_submit__name}}" value="{{ input_redirect_election_submit__value }}" />
{%  endif %}

{%  if save_new_election_and_continue_editing__button_id is None %}
	<input type="submit" name="{{input_redirect_election_submit__name}}" value="{{ input_redirect_election_submit_and_continue_editing__value}}" />
{%  else %}
	<input type="submit" id="{{save_new_election_and_continue_editing__button_id}}" name="{{input_redirect_election_submit__name}}" value="{{ input_redirect_election_submit_and_continue_editing__value}}" />
{%  endif %}

{%  if json_html %}
	<input type="button" value="Validate JSON" onclick="beautify();" />
{% endif %}