{% load staticfiles %}
<link rel="stylesheet" href="{% static 'csss_static/csss_custom.css' %}">
<form method="post" action="{{ URL_ROOT }}about/officer_position/input_new_officer_positions">
    {%  csrf_token %}
    <div id="new_officer_positions">

        <!--shows the previous position mappings that the user tried to save but there were issues saving it -->
        {%  for unsaved_position_mapping in unsaved_position_mappings %}
            <div class="csss_box_borders_new_entries" >
                <label for="position_index">Officer Position Index</label>
                <input type="number" id="position_index" name="position_index" value="{{ unsaved_position_mapping.position_index }}" required><br>
                <label for="position_name">Officer Position Name</label>
                <input type="text" id="position_name" name="position_name" value="{{ unsaved_position_mapping.position_name }}" required><br>
                <label for="position_email">Officer Position Email</label>
                <input type="text" id="position_email" name="position_email" value="{{ unsaved_position_mapping.position_email }}" required><br>
                <label for="elected_via_election_officer">Elected Via Election Officer</label>
                <select name="elected_via_election_officer" id="elected_via_election_officer" required size="2">
                    {%  if unsaved_position_mapping.elected_via_election_officer is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.elected_via_election_officer is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="github">GitHub Access</label>
                <select name="github" id="github" required size="2">
                    {%  if unsaved_position_mapping.github is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.github is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="google_drive">Google Drive Access</label>
                <select name="google_drive" id="google_drive" required size="2">
                    {%  if unsaved_position_mapping.google_drive is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.google_drive is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>

                <label for="executive">Executive</label>
                <select name="executive" id="executive" required size="2">
                    {%  if unsaved_position_mapping.executive_position is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.executive_position is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="election_officer">Election Officer</label>
                <select name="election_officer" id="election_officer" required size="2">
                    {%  if unsaved_position_mapping.election_officer is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.election_officer is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="sfss_council_rep">SFSS Council Representative</label>
                <select name="sfss_council_rep" id="sfss_council_rep" required size="2">
                    {%  if unsaved_position_mapping.sfss_council_rep is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.sfss_council_rep is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="frosh_week_chair">Frosh Week Chair</label>
                <select name="frosh_week_chair" id="frosh_week_chair" required size="2">
                    {%  if unsaved_position_mapping.frosh_week_chair is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.frosh_week_chair is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="discord_manager">Discord Manager</label>
                <select name="discord_manager" id="discord_manager" required size="2">
                    {%  if unsaved_position_mapping.discord_manager is True %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    {%  elif unsaved_position_mapping.discord_manager is False %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                    {%  endif %}
                </select><br>
                <label for="discord_role_name">Discord Role Name</label>
                <input type="text" id="discord_role_name" name="discord_role_name" value="{{ unsaved_position_mapping.discord_role_name }}" required><br>

                <label for="number_of_terms">Number of Terms</label>
                <select id="number_of_terms" name="number_of_terms" required>
                    {%  for number_of_term in NUMBER_OF_TERMS %}
                        {%  if unsaved_position_mapping.number_of_terms == number_of_term %}
                            <option selected value="{{ number_of_term }}">{{ number_of_term }}</option>
                        {%  else %}
                            <option value="{{ number_of_term }}">{{ number_of_term }}</option>
                        {%  endif %}
                    {%  endfor %}
                </select>
                <label for="starting_month">Starting Month</label>
                <select id="starting_month" name="starting_month" required>
                    {%  for starting_month in STARTING_MONTHS %}
                        {%  if unsaved_position_mapping.starting_month == starting_month %}
                            <option selected value="{{ starting_month }}">{{ starting_month }}</option>
                        {%  else %}
                            <option value="{{ starting_month }}">{{ starting_month }}</option>
                        {%  endif %}
                    {%  endfor %}
                </select>
            </div>
        {%  endfor %}

        <!-- if there are no position mappings that are unsaved, shows just one blank entry for the user to enter a new position mapping -->
        {%  if unsaved_position_mappings is None %}
            <div class="csss_box_borders_new_entries" >
                <label for="position_index">Officer Position Index</label>
                <input type="number" id="position_index" name="position_index" required><br>
                <label for="position_name">Officer Position Name</label>
                <input type="text" id="position_name" name="position_name" required><br>
                <label for="position_email">Officer Position Email</label>
                <input type="text" id="position_email" name="position_email" required><br>
                <label for="elected_via_election_officer">Elected Via Election Officer</label>
                <select name="elected_via_election_officer" id="elected_via_election_officer" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select>
                <label for="github">GitHub Access</label>
                <select name="github" id="github" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select>
                <label for="google_drive">Google Drive Access</label>
                <select name="google_drive" id="google_drive" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select><br>

                <label for="executive">Executive</label>
                <select name="executive" id="executive" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select><br>
                <label for="election_officer">Election Officer</label>
                <select name="election_officer" id="election_officer" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select><br>
                <label for="sfss_council_rep">SFSS Council Representative</label>
                <select name="sfss_council_rep" id="sfss_council_rep" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select><br>
                <label for="frosh_week_chair">Frosh Week Chair</label>
                <select name="frosh_week_chair" id="frosh_week_chair" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select><br>
                <label for="discord_manager">Discord Manager</label>
                <select name="discord_manager" id="discord_manager" required size="2">
                        <option value="True">True</option>
                        <option value="False">False</option>
                </select><br>
                <label for="discord_role_name">Discord Role Name</label>
                <input type="text" id="discord_role_name" name="discord_role_name" required><br>

                <label for="number_of_terms">Number of Terms</label>
                <select id="number_of_terms" name="number_of_terms" required>
                    {%  for number_of_term in NUMBER_OF_TERMS %}
                        <option value="{{ number_of_term }}">{{ number_of_term }}</option>
                    {%  endfor %}
                </select>
                <label for="starting_month">Starting Month</label>
                <select id="starting_month" name="starting_month" required>
                    {%  for starting_month in STARTING_MONTHS %}
                        <option value="{{ starting_month }}">{{ starting_month }}</option>
                    {%  endfor %}
                </select>
            </div>
        {%  endif %}
    </div>
    <input type="button" value="Remove the last Position Slot" onClick="removeOfficerPosition('#new_officer_positions');">
    <input type="button" value="Add another Position Slot" onClick="addOfficerPosition('new_officer_positions');">
    <input type="submit" name="add_new_position_mapping" value="Submit">
</form>
<script>
    function removeOfficerPosition(divName){
        $(divName).children().last().remove();
    }
    function addOfficerPosition(divName){
        const newOfficerPosition = document.createElement('div');
        newOfficerPosition.setAttribute("class","csss_box_borders_new_entries");
        newOfficerPosition.innerHTML += "<label for=\"position_index\">Officer Position Index</label>";
        newOfficerPosition.innerHTML += "<input type=\"number\" id=\"position_index\" name=\"position_index\" required><br>";
        newOfficerPosition.innerHTML += "<label for=\"position_name\">Officer Position Name</label>";
        newOfficerPosition.innerHTML += "<input type=\"text\" id=\"position_name\" name=\"position_name\" required><br>";
        newOfficerPosition.innerHTML += "<label for=\"position_email\">Officer Position Email</label>";
        newOfficerPosition.innerHTML += "<input type=\"text\" id=\"position_email\" name=\"position_email\" required><br>";
        newOfficerPosition.innerHTML += "<label for=\"elected_via_election_officer\">Elected Via Election Officer</label>";

        const true_option = document.createElement('option');
        true_option.value = 'True'
        true_option.innerHTML = 'True'
        const false_option = document.createElement('option');
        false_option.value = 'False'
        false_option.innerHTML = 'False'

        const select_statement_elected_via_officer = document.createElement('select');
        select_statement_elected_via_officer.setAttribute("size", '2');
        select_statement_elected_via_officer.setAttribute('name', 'elected_via_election_officer');
        select_statement_elected_via_officer.setAttribute('id', 'elected_via_election_officer');
        select_statement_elected_via_officer.setAttribute('required', '');

        select_statement_elected_via_officer.appendChild(true_option);
        select_statement_elected_via_officer.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_elected_via_officer);



       newOfficerPosition.innerHTML += "<label for=\"github\">GitHub Access</label>";

        const select_statement_github_access = document.createElement('select');
        select_statement_github_access.setAttribute("size", '2');
        select_statement_github_access.setAttribute('name', 'github');
        select_statement_github_access.setAttribute('id', 'github');
        select_statement_github_access.setAttribute('required', '');

        select_statement_github_access.appendChild(true_option);
        select_statement_github_access.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_github_access);

        newOfficerPosition.innerHTML += "<label for=\"google_drive\">Google Drive Access</label>";

        const select_statement_google_drive_access = document.createElement('select');
        select_statement_google_drive_access.setAttribute("size", '2');
        select_statement_google_drive_access.setAttribute('name', 'google_drive');
        select_statement_google_drive_access.setAttribute('id', 'google_drive');
        select_statement_google_drive_access.setAttribute('required', '');

        select_statement_google_drive_access.appendChild(true_option);
        select_statement_google_drive_access.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_google_drive_access);


        newOfficerPosition.innerHTML += "<label for=\"executive\">Executive</label>";

        const select_statement_executive_bool = document.createElement('select');
        select_statement_executive_bool.setAttribute("size", '2');
        select_statement_executive_bool.setAttribute('name', 'executive');
        select_statement_executive_bool.setAttribute('id', 'executive');
        select_statement_executive_bool.setAttribute('required', '');

        select_statement_executive_bool.appendChild(true_option);
        select_statement_executive_bool.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_executive_bool);

        newOfficerPosition.innerHTML += "<label for=\"election_officer\">Election Officer</label>";

        const select_statement_election_officer_bool = document.createElement('select');
        select_statement_election_officer_bool.setAttribute("size", '2');
        select_statement_election_officer_bool.setAttribute('name', 'election_officer');
        select_statement_election_officer_bool.setAttribute('id', 'election_officer');
        select_statement_election_officer_bool.setAttribute('required', '');

        select_statement_election_officer_bool.appendChild(true_option);
        select_statement_election_officer_bool.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_election_officer_bool);

        newOfficerPosition.innerHTML += "<label for=\"sfss_council_rep\">SFSS Council Representative</label>";

        const select_statement_sfss_council_rep_bool = document.createElement('select');
        select_statement_sfss_council_rep_bool.setAttribute("size", '2');
        select_statement_sfss_council_rep_bool.setAttribute('name', 'sfss_council_rep');
        select_statement_sfss_council_rep_bool.setAttribute('id', 'sfss_council_rep');
        select_statement_sfss_council_rep_bool.setAttribute('required', '');

        select_statement_sfss_council_rep_bool.appendChild(true_option);
        select_statement_sfss_council_rep_bool.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_sfss_council_rep_bool);

        newOfficerPosition.innerHTML += "<label for=\"frosh_week_chair\">Frosh Week Chair</label>";

        const select_statement_frosh_week_chair_bool = document.createElement('select');
        select_statement_frosh_week_chair_bool.setAttribute("size", '2');
        select_statement_frosh_week_chair_bool.setAttribute('name', 'frosh_week_chair');
        select_statement_frosh_week_chair_bool.setAttribute('id', 'frosh_week_chair');
        select_statement_frosh_week_chair_bool.setAttribute('required', '');

        select_statement_frosh_week_chair_bool.appendChild(true_option);
        select_statement_frosh_week_chair_bool.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_frosh_week_chair_bool);


        newOfficerPosition.innerHTML += "<label for=\"discord_manager\">Discord Manager</label>";

        const select_statement_discord_manager_bool = document.createElement('select');
        select_statement_discord_manager_bool.setAttribute("size", '2');
        select_statement_discord_manager_bool.setAttribute('name', 'discord_manager');
        select_statement_discord_manager_bool.setAttribute('id', 'discord_manager');
        select_statement_discord_manager_bool.setAttribute('required', '');

        select_statement_discord_manager_bool.appendChild(true_option);
        select_statement_discord_manager_bool.appendChild(false_option);
        newOfficerPosition.appendChild(select_statement_discord_manager_bool);


        newOfficerPosition.innerHTML += "<label for=\"discord_role_name\">Discord Role Name</label>";
        newOfficerPosition.innerHTML += "<input type=\"text\" id=\"discord_role_name\" name=\"discord_role_name\" required><br>";


        newOfficerPosition.innerHTML += "<br><label for=\"number_of_terms\">Number of Terms</label>";
        const select_statement_number_of_terms = document.createElement('select');
        select_statement_number_of_terms.setAttribute('name', 'number_of_terms');
        select_statement_number_of_terms.setAttribute('required', '');
        let number_of_terms_option;
        {%  for number_of_term in NUMBER_OF_TERMS %}
            number_of_terms_option = document.createElement('option');
            number_of_terms_option.value = '{{number_of_term}}'
            number_of_terms_option.innerHTML = '{{number_of_term}}'
            select_statement_number_of_terms.appendChild(number_of_terms_option);
        {%  endfor %}
        newOfficerPosition.appendChild(select_statement_number_of_terms);


        newOfficerPosition.innerHTML += "<label for=\"starting_month\">Starting Month</label>";
        const select_statement_starting_month = document.createElement('select');
        select_statement_starting_month.setAttribute('name', 'starting_month');
        select_statement_starting_month.setAttribute('required', '');
        let starting_month_option;
        {%  for starting_month in STARTING_MONTHS %}
            starting_month_option = document.createElement('option');
            starting_month_option.value = '{{starting_month}}'
            starting_month_option.innerHTML = '{{starting_month}}'
            select_statement_starting_month.appendChild(starting_month_option);
        {%  endfor %}
        newOfficerPosition.appendChild(select_statement_starting_month);
        newOfficerPosition.innerHTML += "</div>";
        document.getElementById(divName).appendChild(newOfficerPosition);
    }
</script>
