{% extends "events/frosh/2015/header.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
    {{ block.super }}
    <div class="row-fluid">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>About Us</h1>
            <p>The <span class="emphasis">Computing Science Student Society</span> is one of the largest and most active student societies at Simon Fraser University.  We represent around <span class="emphasis">1400 students across three campuses</span> and have a strong relationship with the <span class="emphasis">School of Computing Science</span> and the <span class="emphasis">CS Co-operative Program</span>.</p>

            </p>The society holds multiple events every year ranging from simple socials and panel discussions, to workshops and hackathons.  We are passionate about empowering students by supporting their personal and/or group projects through development workshops, hackathons, and panel discussions.</p>

            <p>If you would like to know more about some of our initiatives, either as a sponsor and/or as a participant, please let us know.</p>

            <h1>Contact Information</h1>

            <p>For more information about the Computing Science FroshWeek, including questions, concerns and sponsorship queries, please contact our FroshWeek team at: <a href="mailto:csss@sfu.ca">csss@sfu.ca</a></p>
        </div>
    </div>
{% endblock %}