{% extends "csss/header.html" %}
{% block content %}
{{ block.super }}
	<h2 class="title is-size-2">Computing Science Student Society Tech Fair 2022</h2>
	

	Tech Fair 2022 is a 2 day career fair held at SFU Burnbaby Campus October 26th-27th 2022. More details can be in the Tech Fair webpage.<br><br>

	The event will contain company booths, careet talks, resume workshops, interview workshops, headshot photography and practice interviews, Please come and check it out! All events are completely free for students to attend!<br>
	<a href="{{ URL_ROOT }}events/tech_fair/2022/main">Tech Fair 2022 Site</a>
{% endblock %}
