{% extends "events/frosh/2012/header.html" %}

{% load static %}
{% load staticfiles %}
{% block content %}
{{ block.super }}

<h1>Contact Information</h1>

<p>To register for FroshWeek please fill out our <a href="{{ URL_ROOT }}events/frosh/2012/registration">Online Registration</a>.

Also be sure to attend the first event:
	
	<p> &nbsp;&nbsp;&nbsp;&nbsp;Registration and BBQ:
	<br>&nbsp;&nbsp;&nbsp;&nbsp;Location: SFU Burnaby, ASB 9802
	<br>&nbsp;&nbsp;&nbsp;&nbsp;Time: 11:30-12:30</p>

<p>For more information about the Computing Science FroshWeek, please contact our FroshWeek team:</p>

<p>FroshWeek Team</p>

<p><a href="mailto:csss-frosh@sfu.ca">csss-frosh@sfu.ca</a></p>

{% endblock %}