{% extends "events/frosh/2012/header.html" %}

{% load static %}
{% load staticfiles %}
{% block content %}
{{ block.super }}

	<h1>FroshWeek Sponsors</h1>
    
    <div class="sponsor">
	    <a href="{{ URL_ROOT }}"><h3>Computing Science Student Society</h3></a>
		
			<img src="{%  static 'events_static/frosh/2012/images/sponsor_logos/csss_logo.png' %}" class="sponsors" alt="CSSS logo" />
			<h3>FroshWeek Founders</h3>
			<p>
			The five day long welcoming activities at Simon Fraser known as FroshWeek have been held annually by the CSSS
			for the past nine years. Without the continued support from both its executive board and members alike, an event 
			as big as this could not of been successful. Going into its ninth year, the society is responsible for planning, 
			organizing, hosting and promoting the event. Without the society's support the FroshWeek tradition could not be 
			enjoyed by the generations to come.
			</p>
	</div>
	
    
	<div class="sponsor">
		<a href="http://www.sfu.ca"><h3>Simon Fraser University</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/sfu_logo.png' %}" class="sponsors" alt="SFU logo"/>
			<h3>Hosts</h3>
			<p>
			The University graciously provides facilities and space to be used for FroshWeek events. Without the continued 
			support from the University FroshWeek could not of become success it is today. Simon Fraser University has supported 
			and encouraged orientation events across its campuses and faculties.
			</p>
	</div>
  	
    
    <div class="sponsor">
	<a href="http://fas.sfu.ca/"><h3>Faculty of Applied Sciences</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/fas_logo.png' %}" class="sfuwhitespace" alt="Faculty of Applied Sciences logo"/>
			<h3>Gold Level School Sponsor</h3>
			<p>
			The Faculty of Applied Sciences at SFU has always encouraged networking and interdisciplinary events. FroshWeek is one of 
			our yearly opportunities to work together with the Engineering Science Student Society towards the same goals. The Faculty's 
			contributions have made Faculty wide events such as FroshWeek successful.
			</p>
	</div>
    
    
    <div class="sponsor">
	<a href="http://cs.sfu.ca"><h3>School of Computing Science</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/cs_logo.png' %}" class="sfuwhitespace" alt="School of Computing Science logo"/>
			<h3>Gold Level School Sponsor</h3>
			<p>
			The School of CS have been huge supporters of the FroshWeek event. Their involvement in both the planning of the event, 
			as well as providing resources and funding have been beneficial to the CSSS. Without the School's support over the past 
			several years we would not of been able to create what is FroshWeek today.
			</p>
    </div>
    
    
	<div class="sponsor">
	<a href="http://sfss.ca"><h3>Simon Fraser Student Society</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/sfss_logo.png' %}" class="sponsors" alt="Simon Fraser Student Society logo"/>
			<h3>Gold Level School Sponsor</h3>
			<p>
			The SFSS has always advocated for increased cooperation and community among the student body. Knowing the value in the experiences 
			and relationships created in those first weeks at Simon Fraser, the SFSS has been a huge sponsor of FroshWeek. By aiding in both 
			the planning and organization of the week, as well as partially financing the event we are happy the FroshWeek tradition lives on 
			through their generous contributions over the years.
			</p>
    </div>
	
    
    <div class="sponsor">
	<a href="http://www.simba.com/"><h3>Simba Technologies</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/simbatech.png' %}" class="sponsors" alt="Simba Technologies logo"/>
			<h3>Gold Level Corporate Sponsor</h3>
			<p>
			Simba has been a FroshWeek sponsor for quite some time now, and we are thankful for their continued support for such 
			an important event for Undergraduate Computing Science students at SFU. With Simba's support we have been able to create 
			the tradition that is FroshWeek, which could not have been done otherwise. We are proud to have Simba Technologies as a 
			Gold Level sponsor once again this year.
			</p>
    </div>
    
    
    <div class="sponsor">
	<a href="http://www.ea.com/ca"><h3>Electronic Arts</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/ea.png' %}" class="sponsors" alt="Electronic Arts logo"/>
			<h3>Gold Level Corporate Sponsor</h3>
			<p>
			EA is a new sponser to FroshWeek this year and with their support we have been able to make this year's FroshWeek one of the
			biggest we've held to date. We are very thankful to have EA's support in running such an important event for Computing Science students.
			</p>
    </div>
    
    
    <div class="sponsor">
	<a href="http://www.coolermaster.com/"><h3>Cooler Master</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/coolermaster.png' %}" class="sponsors" alt="Cooler Master logo"/>
			<h3>Gold Level Corporate Sponsor</h3>
			<p>
			As a first time sponsor of FroshWeek we are excited to have Cooler Master on board sponsoring us this year. The support they've given us
			will allow this year's FroshWeek to be better than any one we've hosted before. We are very grateful for their sponsorship of FroshWeek this
			year.
			</p>
    </div>
    
    
    <div class="sponsor">
	<a href="http://www.microsoft.com/"><h3>Microsoft</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/ms.png' %}" class="sponsors" alt="Microsoft logo"/>
			<h3>Gold Level Corporate Sponsor</h3>
			<p>
			This year is the first year we've had a sponsorship from Microsoft and we are thrilled to have their support in funding FroshWeek 2012.
			With their support we have been able to design some of the best FroshWeek events at SFU for Computing Science students. We really appreciate
			their help in making such a successful event happen.
			</p>
    </div>

    <div class="sponsor">
	    <a href="http://www.mobify.com/"><h3>Mobify</h3></a>
			<img src="{% static 'events_static/frosh/2012/images/sponsor_logos/mobifylogosite.png' %}" class="sponsors" alt="Mobify logo"/>
			<h3>Gold Level Corporate Sponsor</h3>
			<p>
			Mobify is an open platform to make any website adaptive to any device: mobile, tablets and more.
			Enterprises like Starbucks, Lululemon, Bosch, Ideeli and Threadless use Mobify products to serve 
			their customers amazing web experiences in every way they choose to connect.
			Developers build adaptive web experience by remixing HTML, CSS and JavaScript with Mobify open-source tools like Mobify.js and Mobify Cloud services.
			</p>
			<p>
			This is Mobify's first year supporting Frosh Week and we are very grateful for their contributions in helping make this event such a success.
			</p>
    </div>

{% endblock %}