html {
    scroll-padding-top: 115px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 1.3em;
    padding: 8px 0;
}

li {
    font-size: 1.3em;
    margin: 12px;
}

.white-a {
    text-align: center;

    border: #fff 2px solid;
    color: #fff; 
    padding: 8px; 
    text-decoration: none;
    
    width: 95px;
    transition: width 0.25s ease-in-out; 
}
.white-a:hover {
    width: 105px;
    transition: width 0.15s ease-in-out; 
    color: #8db7ff;
}

.tag {
    text-align: center;

    border: #fff 2px solid;
    text-decoration: none;
    
    transition: color 0.25s ease-in-out; 
}
.tag:hover {
    color: #000;
    transition: color 0.15s ease-in-out; 
}

a {
    color: #D6385A;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}

.black-a {
    color: #ee8695;
}
.black-a:hover {
    color: #fff;
    text-decoration: underline;
}

a:target:before {
    content:"› "; /* ※ 》¶ › § */
    font-size: 0.75em;
    position: relative;
    bottom: 4px;
}

/* ************************* */

#column-container {
    margin: 0 auto;
    max-width: 1250px;
    min-height: 100vh;
}

@font-face {
    font-family: "darumadropOne";
    src: url("http://localhost:8000/STATIC_URL/2023/fonts/DarumadropOne-Regular.ttf");
}

@font-face {
    font-family: "NotoSansGeorgian-Regular";
    src: url("http://localhost:8000/STATIC_URL/2023/fonts/NotoSansGeorgian-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans Georgian";
    src: url("http://localhost:8000/STATIC_URL/2023/fonts/NotoSansGeorgian-Regular.ttf");
}

@font-face {
    font-family: "NotoSansGeorgian-Bold";
    src: url("http://localhost:8000/STATIC_URL/2023/fonts/NotoSansGeorgian-Bold.ttf");
}

.title {
    font-family: "darumadropOne", "Lucida Handwriting", cursive;
    padding-top: -18px;
}

.noto {
    font-family: "NotoSansGeorgian-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.noto-bold {
    font-family: "NotoSansGeorgian-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.company-card {
    white-space: normal; 
    display: inline-block; 
    width: 290px; 

    color: #000;
    background-color: #fff; 
    border: #333 1px solid; 
}

.company-card > div > p2 {
    margin-top: 0px;
    margin-bottom: 0px;
    transition: margin-top .2s ease-in-out, margin-bottom .2s ease-in-out;
}

.company-card > img {
    object-position: 40%;
    transition: object-position 0.35s ease-in-out;
}

.company-card:hover > img {
    object-position: 60%;
    transition: object-position 0.5s ease-in-out;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 20px;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}
  
li:before {
    content: "✦";
    padding-right: 8px;
}

.schedule-time {
    width: 5em; 
    text-align: right; 
    padding-right: 8px;
}

/* ************************* */

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ee8695;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* ************************* */

.logo {
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* animations: ************************* */

@keyframes blinking {
    0%   { color: black; }
    35%   { color: black; }
    50%  { color: white; }
    85%   { color: white; }
    100%  { color: black; }
}

/* controllers ******************** */

#logo-container > div > object {
    transform-style: preserve-3d;
    transition: transform 0.25s ease-in-out;
    cursor: pointer; 
}
#logo-container:hover > div > object {
    transform: translate3d(-3px, -16px, 0px);
    transition: transform 0.25s ease-in-out; 
}

#mountain {
    transform-style: preserve-3d;
    transition: transform 0.52s ease-in-out;
}

.nav-button {
    background-color: #fff;
    color: #000;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; 
    
    /*min-width: 78px;*/
    margin-left: 4px;
    margin-right: 4px;

    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.nav-button:hover {
    background-color: #e07b8a;
    color: #fff;
    transition: background-color 0.125s ease-in-out, color 0.125s ease-in-out; 
}

.nav-button-s {
    background-color: #fff;
    color: #000;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out; 
    
    /*min-width: 78px;*/
    margin-left: 4px;
    margin-right: 4px;

    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.nav-button-s:hover {
    background-color: #4a7a96;
    color: #fff;
    transition: background-color 0.055s ease-in-out, color 0.055s ease-in-out; 
}

.nav-button-w {
    background-color: #fff;
    color: #000;
    border-color: #fff;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out; 
    
    border: #fff 1px solid;

    /*min-width: 78px;*/
    margin-left: 4px;
    margin-right: 4px;

    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.nav-button-w:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
    transition: background-color 0.125s ease-in-out, color 0.125s ease-in-out, border-color 0.125s ease-in-out; 
}

.nav-button > span, .nav-button-s > span, .nav-button-w > span {
    transition: transform 0.25s ease-in-out; 
}
.nav-button:hover > span, .nav-button-s:hover > span, .nav-button-w:hover > span {
    transition: transform 0.25s ease-in-out; 
}

.nav-button:active > span, .nav-button-s:active > span, .nav-button-w:active > span {
    transform: translate3d(0, 6px, 0);
    transition: transform 0.05s ease-in-out; 
}

/* ************************** */
.zoom {
    transition: transform .15s ease-in-out;
}
.zoom:hover {
    transform: scale(1.04);
}

.zoom2 {
    transition: transform .15s ease-out;
}
.zoom2:hover {
    text-decoration: underline !important;
    transform: scale(1.08);
}

.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
    