{% extends "csss/new_header.html" %}

{% block content %}
    {{ block.super }}
    {% load static %}
    {% load staticfiles %}
        {% if error_message %}
        <p style="color: red">Experienced Following Error<br>
            {{ error_message }}<br>
        </p>
    {%  endif %}
        <form action="{{URL_ROOT}}about/input_officer_info" method="post">
            {% csrf_token %}
            <p>
                <b>Term</b>: <input type="text" name="term" value="{{term_value}}" readonly size="6" >
                <b>Year</b>: <input type="text" name="year" value="{{year_value}}" readonly size="4" ><br>
                <b>Position</b>: <input type="text" name="term_position" value="{{term_position_value}}" readonly size="25" ><br>
                <b>Start Date</b>: <input type="text" name="date" value="{{date_value}}" readonly size="25" >
            </p>
            <input hidden type="text" name="position_index" value="{{term_position_number_value}}" >
            <input hidden type="text" name="sfu_email_list_address" value="{{sfu_email_list_address_value}}" >
            <p><b>Name</b>: <input type="text" name="name" value="{{name_value}}" required ></p>
            <p><b>SFUID</b>: <input type="text" name="sfuid" value="{{sfuid_value}}" required >@sfu.ca</p>
            <p><b>SFUID Email alias</b>: <input type="text" name="sfuid_email_alias" value="{{sfuid_email_alias_value}}" required >@sfu.ca</p>
            <p>
                <i>Follow these instructions to determine your SFUID Email alias:</i>
                <ol style="margin-left: 2em;">
                    <li>Login to <a href="https://www.sfu.ca/sfuds" target="_blank">SFU Directory Entry</a></li>
                    <li>click on <code>[Edit My Entry]</code></li>
                    <li>Enter the email that appear in the list for <code>Email Address ("From" address in SFU Mail):</code> that is not <code>sfuid@sfu.ca</code></li>
                </ol>
            </p>

            <p>
                <b>Additional email addresses you may use to send emails to the CSSS student body</b> <br>
                (use commas to separate multiple emails):<br>
                <textarea name="email" cols="80" rows="2">{{email_value}}</textarea>
            </p>
            {%  if term_position_value != "By-Election Officer" and term_position_value != "General Election Officer" and term_position_value != "SFSS Council-Representative"%}
                <p><b>Gmail</b>: <input type="text" name="gmail" value="{{ gmail_value }}" required></p>
            {%  endif %}
            <p>
                <b>Phone Number</b>: <br>
                (if you are comfortable with the CSSS having it)<br>
                <input type="number" name="phone_number" required value="{{phone_number_value}}"></p>
            {%  if term_position_value != "SFSS Council-Representative"%}
                <p><b>Github Username</b>: <input type="text" name="github_username" value="{{ github_username_value }}" required></p>
            {%  endif %}
            <p>
                <b>Your 2 Favorite SFU Course</b>:<br>preferably comp sci related<br>
                <input type="text" name="course1" value="{{ course1_value }}" required > & <input type="text" name="course2" value="{{ course2_value }}" required>
            </p>
            <p>
                <b>Your 2 Favorite Computer Science programming languages of choice</b>:<br>
                <input type="text" name="language1" value="{{ language1_value }}" required> & <input type="text" name="language2" value="{{ language2_value }}" required>
            </p>
            <p>
                <b>Bio</b>: (needs to already be in <a href="https://wordtohtml.net/">HTML format</a>)<br>
                For examples look at <a href="http://sfucsss.org/about/list_of_officers"> Past Bios</a><br>
                <textarea name="bio" cols="40" rows="1" required>{{bio_value}}</textarea></p>
            <input type="submit" value="Submit">
        </form>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
