{% extends "csss/new_header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	<h1 class="title">Create Links for New Term of Officers</h1>
	<form action="{{URL_ROOT}}about/show_page_with_creation_links" method="post" class="form">
		{% csrf_token %}
        <id>Term <id style="color: #ff0000">*</id>
			<select name="term">
				{% for term in terms %}
                    {%  if term == current_term  %}
                        <option selected value="{{term}}">{{term}}</option>
                    {%  else %}
                        <option value="{{term}}">{{term}}</option>
                    {%  endif %}

				{% endfor %}
			</select>

		<p>Year <id style="color: #ff0000">*</id>
			<select name="year">
				{% for year in years %}
					<option selected value="{{year}}">{{year}}</option>
				{% endfor %}
			</select>

		<p>Positions *<br>(enter them in a newline separated list)<br>
			<textarea name="positions" cols=40" rows=10" required>
President
Vice-President
Treasurer
Director of Resources
Director of Events
Assistant Director of Events
Director of Communications
Director of Archives
Exec-at-Large
Exec-at-Large
First Year Rep
First Year Rep
By-Election Officer
General Election Officer
SFSS Council-Representative
Frosh Chair</textarea>
		</p>

		Overwrite Current Officer for selected term <id style="color: #ff0000">*</id>
            <br>
            <input type="radio" name="overwrite" value="true" required>Yes
            <input type="radio" name="overwrite" value="false" required>No
            <br><br><input type="submit" value="submit" />
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</form>
{% endblock %}
