{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
{% load static %}
{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
  <section class="section">
    <div class="container">

      <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <a href="{{ previousButtonLink|safe }}" class="pagination-previous">Previous</a>
        <a  href="{{ nextButtonLink|safe }}" class="pagination-next">Next page</a>
      </nav> 

      <h1 class="title has-text-centered">{{album.date}} - {{album.name}}</h1>
      <br>

      <div class="columns is-multiline">
          <!--Generate image previews-->
            {% for media in medias %}
              {% if media.video.youtube_link == None %}
                <div class="column is-one-quarter-desktop is-half-tablet">
                  <div class="card">
                      <div class="card-image">
                          <figure class="image is-3by2">
                            <img id="{{ media.id }}" src="{% static media.picture.static_path %}" alt="Image">
                          </figure>
                      </div>
                      <footer class="card-footer">
                        <p class="subtitle is-6">{{media.name}}</p>                      
                      </footer>
                  </div>
                </div>
              {% else %}
                {{media.video.youtube_link | safe}}
              {% endif %}


          <!--Generate image modals-->

          <div class="modal" data-content="{{ media.id }}">
            <div class="modal-background"></div>
            <div class="modal-content">
              <p class="image">
                <img src="{% static media.picture.static_path %}" alt="">
              </p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
          
        {% endfor %}
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>

</body>
  
<script>

$(document).ready(function() {
$('img').on('click', function() {
  var id = $(this).attr("id")
  console.log(id)
  $("div[data-content=" + id + "]").addClass('is-active');
});

$("div[class='modal-background'").click(function() {
   $(".modal").removeClass("is-active");
});

$("button[class*='modal-close'").click(function() {
   $(".modal").removeClass("is-active");
});

});

</script>

{% endblock %}
