{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
{% load static %}
{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
  <section class="section">
    <div class="container">
    
      {% for content in contents %}
      <p>content={{content}}</p>
      {% endfor %}
      {% for event in events %}
        <div class="container is-fluid has-text-centered">

          <h3 class="title">{{event}}</h3>
          <br>

          <div class="row">
            <div class="tile is-ancestor">
            {% for album in albums %}
              {% if album.event == event %}
                <div class="tile is-child is-2">
                  <!-- http://dev.sfucsss.org:8000/STATIC_URL/documents_static/event-photos/Tutorials/2015-11-10%20Git/12241747_10201174490840856_7097942773547939440_n.jpg -->
                  <a href="{{URL_ROOT}}documents/photo_gallery/{{album.name|iriencode}}/{{ album.date|iriencode }}">
                    <figure class="image">                    
                      <img src="{% static album.album_thumbnail.picture.static_path %}" style="width:100%" alt="Image">
                        <p class="subtitle" >{{album}}</p>
                    </figure>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
          
        </div>
        <br>
        <br>

      {% endfor %}
    </div>
  </section>

<br>
<br>
<br>

</body>
{% endblock %}
