{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}
{% load static %}
{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
<h1 class="title">Photo Gallery</h1>

  <section class="section">
    <div class="container">
    
      {% for content in contents %}
      <p>content={{content}}</p>
      {% endfor %}
      {% for event in events %}
        <div class="container is-fluid has-text-centered">

          <h3 class="title">{{event}}</h3>
          <br>

          <div class="columns is-multiline">
            {% for album in albums %}
              {% if album.event == event %}

                <div class="column is-one-quarter-desktop is-half-tablet">
                  <div class="card">
                      <div class="card-image">
                          <figure class="image is-3by2">
                            <img src="{% static album.album_thumbnail.picture.static_path %}" alt="Image">
                          </figure>
                      </div>
                      <footer class="card-footer">
                          <a href="{{URL_ROOT}}documents/photo_gallery/{{album.name|iriencode}}/{{ album.date|iriencode }}">{{album}}</a>
                      </footer>
                  </div>
                </div>
            
              {% endif %}
            {% endfor %}
          </div>
          
        </div>
        <br>
        <br>

      {% endfor %}
    </div>
  </section>

<br>
<br>
<br>

</body>
{% endblock %}
