{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    <form action="/administration/elections/determine_election_action" method="post">
      {% csrf_token %}
      <p>Election to Modify/Delete:
          <select name="election_id">
                {% for election in elections %}
                    <option value="{{election.slug}}">{{election}}</option>
                {% endfor %}
            </select>
        </p>
	<button name="action" value="delete" type="submit">Delete</button>
	<button name="action" value="Modify" type="submit">Modify</button>
    </form>
{% endblock %}
