{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	<ul>
		<li><a href='/documents/'>Constitution</a></li>
		<li><a href='/documents/policies'>Policies</a></li>
		<li><a href='http://sfss.ca/about/documents/'>SFSS Documents</a></li>
		<li><a href='/documents/photo_gallery'>Photo Gallery</a></li>
		<li><a href='/documents/file_uploading/multiple'>Upload Photo/Videos from CSSS Events</a></li>
	</ul>
{% include "csss/includes/htmlsnippet.html" %}
{% endblock %}
