{% extends "documents/header.html" %}

{% block content %}
{{ block.super }}
{% load static %}
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  div.polaroid-container {
      text-align: center;
      padding: 10px 20px;
  }
</style>

<p>"{% static '' %}"</p>
<p>"{% get_static_prefix %}"</p>
<h1>Contact</h1>
<form  method="post">
    {% csrf_token %}
    {{ form.get }}
    <button type="submit">Submit</button>
</form>

<h1> Contact 2</h1>
<form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>

<div class="container-fluid bg-3 text-center">    
  <h3>Boardgames Night</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a href="https://vault.sfu.ca/index.php/s/MkXLTJP7QioyEKw">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=01%2520-%2520Boardgames.png& t=Cl5oD3zSZhdTkt9&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2017-07-21</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <h3>Frosh Week</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a href="https://vault.sfu.ca/index.php/s/hmcTT7BqRadIfgD">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=21475987_1698580590154893_1424233799_n.jpg&t=NRYC5RaguJ9sSUL&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2017</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3"> 
      <a href="https://vault.sfu.ca/index.php/s/eRgEQzuR8VHGkUs">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=DSC_0030.JPG&t=rcPgwk2unCCz6ZO&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2015</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3"> 
      <a href="https://vault.sfu.ca/index.php/s/1tum8WuOV5xfDkD">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=IMG_20140905_184205.jpg&t=2VoiZ5xSvAnmeYs&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2014</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://vault.sfu.ca/index.php/s/rFuikFBhjlKuDji">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=09.JPG&t=ghtbw6lWBqoJNhs&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2013</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">    
  <h3>Hackathons</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a href="https://vault.sfu.ca/index.php/s/xQXDQJwH2escZvk">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=IMG_20180217_134737.jpg&t=8YMdXiaKqFBcfo0&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2018 Mountain Madness</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3"> 
      <a href="https://vault.sfu.ca/index.php/s/1ve4nSoMHfgauWy">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=CSSS-160212-9616_7_8HDR.jpg&t=3iaewEuRFX3qP0w&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2016 Hackentines</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">    
  <h3>Silicon Valley</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <a href="https://vault.sfu.ca/index.php/s/MB1mYcWJaGVUkW4">
        <div class="polaroid">
          <img src="https://vault.sfu.ca/index.php/apps/files_sharing/ajax/publicpreview.php?x=1680&y=534&a=true&file=IMG_2577.JPG&t=RVljeO5zLrdeGHS&scalingup=0" class="img-responsive" style="width:100%" alt="Image">
          <div class="polaroid-container">
            <p>2017</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="polaroid">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="polaroid-container">
          <p>N/A</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

{% endblock %}

