
/* ************************** */

#what-container {
    width: 100%; 
    margin: 12px 0; 
    padding: 24px;

    background-color: #000; 
    color: #fff; 
}
#what {
    display: inline-block; 
    
    font-size: 2em; 
    text-decoration: none;
    
    font-family: "NotoSansGeorgian-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    color: #fff; 
}

/* ************************** */

#timeline-container {
    width: 100%; 
    margin: 12px 0; 
    padding: 24px;

    border: #000 2px solid; 
    background-color: #fff; 
}
#timeline {
    display: inline-block; 
    
    font-size: 2em; 
    text-decoration: none;
    
    font-family: "NotoSansGeorgian-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    color: #000; 
}

/* ************************** */

#interested-container {
    width: 100%; 
    margin: 12px 0; 
    padding: 24px;

    background-color: #000; 
    color: #fff; 
}
#interested {
    display: inline-block; 
    
    font-size: 2em; 
    text-decoration: none;
    
    font-family: "NotoSansGeorgian-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    color: #fff; 
}

/* ************************** */

#footer-code {
    width: 17em; 
    text-align: left; 
    margin: 0 auto 20px auto;
}
#footer-code > p {
    padding: 0;
}

#mountain-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: -100px;
}

.footer-mountain {
    position: absolute;
    bottom: -30px;
    float: left;
}
