{% load get_position_names %}
{% load get_position_id %}
{% load clear_variable %}
{%  for position_names_and_speech_pairing in nominee.position_names_and_speech_pairings %}
    speech_index = nominee_speeches.childElementCount;
    speech_div_name = nominee_div_name + '_speech_' + speech_index;
    new_nominee_speech = document.createElement('div');
    new_nominee_speech.setAttribute('id',speech_div_name);
    new_nominee_speech.innerHTML += "<p>Positions:</p>";

    {%  for position in current_officer_positions %}
        nominee_position = document.createElement('div');
        nominee_position.setAttribute('class','csss_nominee_positions_on_same_line');
        {% get_position_names position_names_and_speech_pairing.position_names as selected_position_names %}
        {% if position.position_name in selected_position_names %}
            {% get_position_id position.position_name position_names_and_speech_pairing.position_names as position_id %}
            nominee_position.innerHTML += "<input name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_speech_and_position_pairing__name}}]["+speech_index+"][{{input_nominee_position_names__name}}]\" type=\"checkbox\" value=\"{{ position.position_name }}_{{ position_id }}\" checked />";
            {%  clear_variable as position_id %}
        {%  else %}
            nominee_position.innerHTML += "<input name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_speech_and_position_pairing__name}}]["+speech_index+"][{{input_nominee_position_names__name}}]\" type=\"checkbox\" value=\"{{ position.position_name }}\"  />";
        {%  endif %}

        nominee_position.innerHTML += "<label>{{ position.position_name }}</label><br>";
        new_nominee_speech.appendChild(nominee_position);
    {%  endfor %}

    new_nominee_speech.innerHTML += "<p>Speech: (speech needs to already be in <a href=\"{{ URL_ROOT }}markdown/\" target=\"_blank\"> Markdown format</a> )<br>";
    new_nominee_speech.innerHTML += `<textarea name=\"[{{nominee_div__name}}][${nominee_index}][{{input_nominee_speech_and_position_pairing__name}}][${speech_index}][{{input_nominee_speech__name}}]\" cols=\"40\" rows=\"1\" required>{{position_names_and_speech_pairing.speech}}</textarea></p>`;
    new_nominee_speech.innerHTML += "<input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_speech_and_position_pairing__name}}]["+speech_index+"][{{input_speech_id__name}}]\" value=\"{{position_names_and_speech_pairing.id}}\" hidden readonly>"
    new_nominee_speech.innerHTML += "<input type=\"button\" value=\"Remove Speech\" onClick=\"removeDiv('#"+speech_div_name+"');\">";
    nominee_speeches.appendChild(new_nominee_speech);
{%  endfor %}