<!DOCTYPE html>
<html lang="en">

<head>
	<title>SFU CSSS</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'csss/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
   $('#myTab a').click(function (e) {
     e.preventDefault()
     $(this).tab('show')
   })
</script>
<style type="text/javascript">
	$('.dropdown-toggle').dropdown()
</style>
<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'csss/img/logo.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>SFU's Computing Science Student Society</h3>
				  </center>
			  </div>
		</div><hr>

		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div style="background-color:#fff">
				<ul class="nav nav-tabs">
				  <li role="presentation" class="active"><a href="/">Home</a></li>
				  <li role="presentation" class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="about" role="button" aria-haspopup="true" aria-expanded="false">
				  		About Us
				  	</a>
				  	<ul class="dropdown-menu">
				  		<li><a href='/about/who_we_are'>Who we are</a></li>
				  		<li><a href='/about/list_of_officers'>List of Officers</a></li>
				  	</ul>
				  </li>
				  <li role="presentation" class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="/documents/" role="button" aria-haspopup="true" aria-expanded="false">
				  		Documents
				  	</a>
				  	<ul class="dropdown-menu">
						<li><a href='/documents/'>Constitution</a></li>
						<li><a href='/documents/bylaws'>ByLaws</a></li>
						<li><a href='/documents/sfss_documents'>SFSS Documents</a></li>
						<li><a href='/documents/photo_gallery'>Photo Gallery</a></li>
				  	</ul>
				  </li>  
				  <li role="presentation" class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="/events/" role="button" aria-haspopup="true" aria-expanded="false">
				  		Events
				  	</a>
				  	<ul class="dropdown-menu">
						<li><a href='/events/'>Calendar</a></li>
						<li><a href='/events/general_meetings'>General Meetings</a></li>
						<li><a href='/events/board_games'>Board Games Nights</a></li>
						<li><a href='/events/gameJam'>Game Jam</a></li>
						<li><a href='/events/frosh_week'>Frosh Week</a></li>
				  	</ul>
				  </li>
				  <li role="presentation" class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="/750_project/" role="button" aria-haspopup="true" aria-expanded="false">
				  		750 Project
				  	</a>
				  	<ul class="dropdown-menu">
						<li><a href='/750_project/'>About 750</a></li>
						<li><a href='/750_project/dev_tools'>Dev Tools</a></li>
						<li><a href='/750_project/hacktime'>Hacktime</a></li>
						<li><a href='/750_project/workshop'>Workshops</a></li>
				  	</ul>
				  </li>
				  <li role="presentation" class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="/comp_sci_guide/" role="button" aria-haspopup="true" aria-expanded="false">
				  		Comp Sci Guide
				  	</a>
				  	<ul class="dropdown-menu">
						<li><a href='/comp_sci_guide/'>Course Map</a></li>
						<li><a href='/comp_sci_guide/software'>Software</a></li>
						<li><a href='/comp_sci_guide/textbooks'>Textbooks</a></li>
						<li><a href='/comp_sci_guide/course_reviews'>Course Reviews</a></li>
				  	</ul>
				  </li>
				  <li role="presentation"><a href="/bursaries_and_awards/">Bursaries and Awards</a></li>
				  <li role="presentation" class="dropdown">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="/associated_dsus_and_clubs/" role="button" aria-haspopup="true" aria-expanded="false">
				  		Associated DSUs and Clubs
				  	</a>
				  	<ul class="dropdown-menu">
						<li><a href='/associated_dsus_and_clubs/'>WiCS</a></li>
						<li><a href='/associated_dsus_and_clubs/esss'>ESSS</a></li>
						<li><a href='/associated_dsus_and_clubs/mechs'>Mechs</a></li>
						<li><a href='/associated_dsus_and_clubs/ssss'>SSSS</a></li>
						<li><a href='/associated_dsus_and_clubs/wie'>WiE</a></li>
				  	</ul>
				  </li>
				</ul>
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	

</body>

</html>
