{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'tech_fair/2023/css/reset.min.css' %}">
        <link rel="stylesheet" href="{% static 'tech_fair/2023/css/main.css' %}?v1.00">
        <title>Tech Fair 2023</title>
    </head>

    <body class="preload" onload="onload()" onresize="updateBanner()">
        <div id="nav-bar">
            <div>
                <div class="nav-button">
                    <a href="{{ URL_ROOT }}">
                        <img class="csss-logo" src="{% static 'tech_fair/csss_logo.png' %}" alt="CSSS Logo">
                    </a>
                </div>
                <a href="#" class="nav-button nav-black">
                    <span>Tech Fair 2023</span>
                </a>

                <div class="noselect nav-divider"><span>|</span></div>

                <a href="#booths" class="nav-button nav-pink">
                    <span>Booths</span>
                </a>
                <a href="#schedule" class="nav-button nav-pink">
                    <span>Schedule</span>
                </a>
                <a href="#students" class="nav-button nav-pink">
                    <span>For Students</span>
                </a>
               
                <div class="noselect nav-divider"><span>|</span></div>

                <a href="#companies" class="nav-button nav-blue">
                    <span>For Companies</span>
                </a>
                <a href="{{ URL_ROOT }}events/tech_fair/2023/company_package" class="nav-button nav-blue">
                    <span>Package Info</span>
                </a>
                <a href="#history" class="nav-button nav-blue">
                    <span>History</span>
                </a>
            </div>
        </div>

        <div id="column-container">
            <whitespace></whitespace>

            <header id="code-title">
                <h1>
                    <pink>SFU_CSSS</pink>.TechFair(<navy>2023</navy>);
                </h1>
                <h1>
                    <lightpink id="before-cursor"></lightpink>
                    <span id="cursor" class="noselect">|</span>
                </h1>
            </header>

            <header id="logo-title">
                <div id="laptop">
                    <object id="laptop-child" class="noselect" type="image/svg+xml" data="{% static 'tech_fair/2023/images/laptop.svg' %}"></object>
                </div>
                <div id="logo-title-text">
                    <div>Tech Fair</div>
                    <div>2023</div>
                </div>
            </header>

            <img id="mountain" alt="mountain" src="{% static 'tech_fair/2023/images/mountain.svg' %}">

            <!-- info-text -->
            <div>
                <div id="info-banner-bg" hidden></div>

                <div id="info-text">
                    <div>
                        <br>
                        <img id="info-img" class="zoom" title="Long Shot of Tech Fair 2022" alt="Long Shot of Tech Fair 2022" src="{% static 'tech_fair/2023/images/tf-image-1.jpg' %}">
                        <div>
                            <h2>Welcome to Tech Fair!</h2>
                            <p>Tech Fair is our annual career fair, bringing students and companies together. This is a great opportunity to set up a booth and expand the name recognition of your company!</p>
                            <ul>
                                <li>Located in <a class="light-pink-link" href="https://roomfinder.sfu.ca/apps/sfuroomfinder_web/?q=AQ">AQ North</a> at SFU's Burnaby campus</li>
                                <li>Over 2000 SFU Computing Science Students invited</li>
                                <li title="Moved due to unforeseen logistical conflicts with the SFU School of CS's 50th Anniversary"><b style="color: #84eb7a">October 25th</b> from 10:00am - 4:00pm <span style="color: #777;">(moved from <span style="color: #777">September 27, 28</span> due to sudden logistical conflicts)</span></li>
                                <li>Meet your future employees!</li>
                            </ul>
                        </div>
                    </div>
                    
                    <whitespace style="height: 50px;"></whitespace>
                    
                    <div id="info-buttons-container">
                        <div>
                            <p>Are you a <b>student</b> interested in stopping by?</p>
                            <br>
                            <a href="https://forms.gle/57eiVPhzHs2aVHi7A" class="rsvp-button zoom2">RSVP!</a>
                        </div>
                        <div>
                            <p>Are you a <b>company</b> interested in participating?</p>
                            <br>
                            <a href="{{ URL_ROOT }}events/tech_fair/2023/company_package#join" class="join-tech-fair-button zoom2">Join Tech Fair</a>
                        </div>
                    </div>

                    <whitespace style="height: 50px;"></whitespace>

                    <p>Feel free to reach out to us at <a class="light-pink-link" href="mailto:csss-techfair@sfu.ca">csss-techfair@sfu.ca</a> for any further questions.</p>
                    <br>
                </div>
            </div>
            
            <whitespace style="height: 50px;"></whitespace>

            <div id="booths-container">
                <a id="booths" href="#booths">Who's Coming?</a>
        
                <whitespace style="height: 50px;"></whitespace>

                <!-- TODO: fix the CSS for company cards as well -->

                <!--
                <div style="white-space: nowrap; display: flex; flex-wrap: wrap; row-gap: 16px; column-gap: 16px;">
                    <div class="company-card">
                        <img style="height: 225px; width: 100%; object-fit: cover;" src="{% static 'images/samples/cubes.jpg' %}"/>
                        <div style="white-space: normal; display: inline-block; vertical-align: top; width: 100%; padding: 20px; background-color: #fff; color: #000;">
                            <p2 class="noto-bold" style="padding: 0; float: right; font-size: 1.4em; margin-top: -2px;">Untitled Company</p2>
                            <p class="noto" style="color: #aaa; letter-spacing: -2px; padding: 0; float: left;">////////////////////////////////////////</p>
                            
                            <br><br>

                            <div style="font-size: 0.85em; margin-top: -10px;">
                                <br>
                                <p style="overflow-y: scroll; height: 55px; padding: 0;">This very very cool company could be you!</p>
                                <div style="display: inline-block; padding: 8px;">
                                    <a href="#" class="tag" style="color: #8db7ff; font-size: 1.1em; display: inline;">&lt;Gaming&gt;</a>
                                </div>
                                <a href="#companies" class="noto white-a" style="color: #fff; background-color: #000; float: right;">See more</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="company-card">
                        <img style="height: 225px; width: 100%; object-fit: cover;" src="{% static 'images/samples/globe.gif' %}"/>
                        <div style="white-space: normal; display: inline-block; vertical-align: top; width: 100%; padding: 20px; background-color: #fff; color: #000;">
                            <p2 class="noto-bold" style="padding: 0; float: right; font-size: 1.4em; margin-top: -2px;">Untitled Company</p2>
                            <p class="noto" style="color: #aaa; letter-spacing: -2px; padding: 0; float: left;">////////////////////////////////////////</p>
                            
                            <br><br>

                            <div style="font-size: 0.85em; margin-top: -10px;">
                                <br>
                                <p style="overflow-y: scroll; height: 55px; padding: 0;">This could be you!</p>
                                <div style="display: inline-block; padding: 8px;">
                                    <a href="#" class="tag" style="color: #ee8695; font-size: 1.1em; display: inline;">&lt;Public Service&gt;</a>
                                </div>
                                <a href="#companies" class="noto white-a" style="color: #fff; background-color: #000; float: right;">See more</a>
                            </div>
                        </div>
                    </div>

                    <div class="company-card">
                        <img style="height: 225px; width: 100%; object-fit: cover;" src="{% static 'images/samples/mongolia.jpg' %}"/>
                        <div style="white-space: normal; display: inline-block; vertical-align: top; width: 100%; padding: 20px; background-color: #fff; color: #000;">
                            <p2 class="noto-bold" style="padding: 0; float: right; font-size: 1.4em; margin-top: -2px;">Untitled Company</p2>
                            <p class="noto" style="color: #aaa; letter-spacing: -2px; padding: 0; float: left;">////////////////////////////////////////</p>
                            
                            <br><br>

                            <div style="font-size: 0.85em; margin-top: -10px;">
                                <br>
                                <p style="overflow-y: scroll; height: 55px; padding: 0;">This could be you!</p>
                                <div style="display: inline-block; padding: 8px;">
                                    <a href="#" class="tag" style="color: #8db7ff; font-size: 1.1em; display: inline;">&lt;Gaming&gt;</a>
                                </div>
                                <a href="#companies" class="noto white-a" style="color: #fff; background-color: #000; float: right;">See more</a>
                            </div>
                        </div>
                    </div>

                    <div class="company-card">
                        <img style="height: 225px; width: 100%; object-fit: cover;" src="{% static 'images/samples/cubes.jpg' %}"/>
                        <div style="white-space: normal; display: inline-block; vertical-align: top; width: 100%; padding: 20px; background-color: #fff; color: #000;">
                            <p2 class="noto-bold" style="padding: 0; float: right; font-size: 1.4em; margin-top: -2px;">Untitled Company</p2>
                            <p class="noto" style="color: #aaa; letter-spacing: -2px; padding: 0; float: left;">////////////////////////////////////////</p>
                            
                            <br><br>

                            <div style="font-size: 0.85em; margin-top: -10px;">
                                <br>
                                <p style="overflow-y: scroll; height: 55px; padding: 0;">This could be you!</p>
                                <div style="display: inline-block; padding: 8px;">
                                    <a href="#" class="tag" style="color: #6bc96c; font-size: 1.1em; display: inline;">&lt;Networking&gt;</a>
                                </div>
                                <a href="#companies" class="noto white-a" style="color: #fff; background-color: #000; float: right;">See more</a>
                            </div>
                        </div>
                    </div>

                    <div class="company-card">
                        <img style="height: 225px; width: 100%; object-fit: cover;" src="{% static 'images/samples/winter.jpg' %}"/>
                        <div style="white-space: normal; display: inline-block; vertical-align: top; width: 100%; padding: 20px; background-color: #fff; color: #000;">
                            <p2 class="noto-bold" style="padding: 0; float: right; font-size: 1.4em; margin-top: -2px;">Untitled Company</p2>
                            <p class="noto" style="color: #aaa; letter-spacing: -2px; padding: 0; float: left;">////////////////////////////////////////</p>
                            
                            <br><br>

                            <div style="font-size: 0.85em; margin-top: -10px;">
                                <br>
                                <p style="overflow-y: scroll; height: 55px; padding: 0;">This could be you!</p>
                                <div style="display: inline-block; padding: 8px;">
                                    <a href="#" class="tag" style="color: #6bc96c; font-size: 1.1em; display: inline;">&lt;Networking&gt;</a>
                                </div>
                                <a href="#companies" class="noto white-a" style="color: #fff; background-color: #000; float: right;">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <p style="text-align: center;">
                    It's empty here, you could be <a href="{{ URL_ROOT }}events/tech_fair/2023/company_package#package">the very first one!</a>
                </p>
            </div>
            
            <whitespace></whitespace>
            
            <div id="schedule-container">
                <a id="schedule" href="#schedule" class="noto-bold">Schedule</a>
                <whitespace style="height: 50px;"></whitespace>

                <div id="day-schedule">
                    <p>Wednesday, October 25th</p>
                    <table>
                        <tr>
                            <td>
                                <span>8</span>
                                <span> AM</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr> 
                        <tr>
                            <td>
                                <span>10</span>
                                <span> AM</span>
                            </td>
                            <td id="techfair-balloon">
                                <div>
                                    <p><b>Tech Fair 2023</b></p>
                                    <p>(10:00am - 4:00pm)</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>12</span>
                                <span> PM</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr> 
                        <tr>
                            <td>
                                <span>2</span>
                                <span> PM</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr> 
                        <tr>
                            <td>
                                <span>4</span>
                                <span> PM</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>  
                        <tr>
                            <td>
                                <span>6</span>
                                <span> PM</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr> 
                        <tr>
                            <td>
                                <span>8</span>
                                <span> PM</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr> 
                    </table>
                </div>

                <whitespace style="height: 125px;"></whitespace>

                <div id="bg-text-schedule" class="noto-bold noselect">Schedule</div>
            </div>

            <whitespace style="height: 50px;"></whitespace>

            <div id="students-container">
                <a id="students" href="#students">Students</a>
                
                <p>As a student, Tech Fair is all about <u>you</u>, but why should you come to Tech Fair in the first place?</p>
                <ul>
                    <li>Make connections with local companies</li>
                    <li>Learn about the computing industry in Vancouver</li>
                    <li>Build your professional image</li>
                </ul>
                <br>

                <a href="https://forms.gle/57eiVPhzHs2aVHi7A" class="rsvp-button zoom2">RSVP!</a>
            </div>
            
            <whitespace style="height: 50px;"></whitespace>

            <div id="companies-container">
                <a id="companies" href="#companies">For Companies</a>

                <div style="display: table; clear: both; width: 100%;">
                    <p>Tech Fair 2023 gives you and your company the opportunity to expand your brand to hundreds of talented and interested students who could become potential stars in your company.</p>
                    <ul>
                        <li>Reach out to hundreds of passionate Computing Science students at various points in their degree</li>
                        <li>Let students learn about you, your culture, and your opportunities - so you're first in mind when they start their career journeys</li>
                    </ul>
                    <br>

                    <p><b>Attend TechFair 2023</b>: our students might meet their next co-op, and you might meet your next full-time employee!</p>
                    <br>
                </div>

                <p class="banded-hr">//////////////////////////////////////////////////////</p> <br>
                <p>Interested in setting up a booth?</p>
                <a href="{{ URL_ROOT }}events/tech_fair/2023/company_package#join" class="join-tech-fair-button zoom2">Join Tech Fair</a>
            </div>

            <whitespace style="height: 50px;"></whitespace>

            <div id="history-container">
                <a id="history" href="#history">History</a>
                <p>
                    Just a short decade ago, Tech Fair was a standing CSSS tradition at SFU. Unforunately, due to the curse of time, it's fallen out of favour in recent years.
                    <br><br> 

                    However! This all changed in 2022, when the event was brought back to life.
                    <br><br>

                    This is the second year in a row we're running Tech Fair, and we've become much more serious about it than before, with the ultimate goal of keeping this event going long after we leave.
                </p>
                <br>

                <div id="gallery">
                    <h4>Photo Gallery</h4>
                    <img class="zoom" title="Long Shot of Tech Fair 2022" alt="Long Shot of Tech Fair 2022" src="{% static 'tech_fair/2023/images/tf-image-1.jpg' %}">
                    <img class="zoom" title="Students at Tech Fair 2022" alt="Students at Tech Fair 2022" src="{% static 'tech_fair/2023/images/tf-image-2.jpg' %}">
                    <img class="zoom" title="A Booth at Tech Fair 2022" alt="A Booth at Tech Fair 2022" src="{% static 'tech_fair/2023/images/booth.jpg' %}">
                    <img class="zoom" title="View from SFU's Burnaby Campus" alt="View from SFU's Burnaby Campus" src="{% static 'tech_fair/2023/images/sfu.jpg' %}">
                </div>
            </div>

            <div id="footer">
                <p><em><pink>SFU_CSSS</pink>.TechFair(<navy>2023</navy>);</em></p>
                <p>
                    <a href="mailto:csss-techfair@sfu.ca">csss-techfair@sfu.ca</a> | 
                    <a href="https://www.linkedin.com/company/sfucsss/">LinkedIn</a> | 
                    <a href="https://www.instagram.com/sfu_csss/">@sfu_csss</a> | 
                    <a href="http://discord.sfucsss.org/">discord</a>
                </p>
            </div>
        </div>

        <script src="{% static 'tech_fair/2023/js/tech_fair_2023.js' %}"></script>
        <script>
            setTimeout(() => {
                document.body.className = "";
            }, 200);
        </script>
    </body>
</html>
