{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'tech_fair/2023/css/reset.min.css' %}">
        <link rel="stylesheet" href="{% static 'tech_fair/2023/css/main.css' %}?v1.00">
        <link rel="stylesheet" href="{% static 'tech_fair/2023/css/company_package.css' %}?v1.00">
        <title>Tech Fair 2023</title>
    </head>

    <body class="preload" onload="onload()" onresize="updateBanner()">
        <div id="nav-bar">
            <div>
                <div class="nav-button">
                    <a href="{{ URL_ROOT }}">
                        <img class="csss-logo" src="{% static 'tech_fair/csss_logo.png' %}" alt="CSSS Logo">
                    </a>
                </div>

                <a href="{{ URL_ROOT }}events/tech_fair/2023" class="nav-button nav-black" >
                    <span>&lt;&lt; Tech Fair 2023</span>
                </a>
                
                <div class="noselect nav-divider"><span>|</span></div>

                <a href="#package" class="nav-blue nav-button">
                    <span>Package Info</span>
                </a>
                <a href="#join" class="nav-blue nav-button">
                    <span>Join Tech Fair</span>
                </a>
            </div>
        </div>

        <div id="column-container">
            <whitespace style="height: 365px;"></whitespace>

            <header id="logo-title">
                <div id="laptop">
                    <object id="laptop-child" class="noselect" type="image/svg+xml" data="{% static 'tech_fair/2023/images/laptop.svg' %}"></object>
                </div>
                <div id="logo-title-text">
                    <div>Tech Fair</div>
                    <div>2023</div>
                </div>
            </header>

            <img id="mountain" alt="mountain" src="{% static 'tech_fair/2023/images/mountain.svg' %}">

            <!-- info-text (company package info) -->
            <div>
                <div id="info-banner-bg" hidden></div>

                <div id="info-text">
                    <br>
                    <div>
                        <img id="flowchart-img" class="zoom" title="Tech Fair's fee" src="{% static 'tech_fair/2023/images/flowchart.png' %}">
                        <a id="package" href="#package">Company Package Info</a>
                        <div style="width: 55%;">
                            <p>
                                Companies attending our Tech Fair will be provided with a <b>table</b>, <b>chairs</b>, <b>bulletin board</b>, and a <b>10ft by 6ft space</b> to set up in. 
                                
                                As before, Tech Fair will run from <pink><b>10:00am</b></pink> to <pink><b>4:00pm</b></pink> on <green><b>October 25th</b></green> <s title="Moved due to unforeseen logistical conflicts with the SFU School of CS's 50th Anniversary" style="color: #777;">September 27, 28</s>. 
                                
                                Lunch will be provided to all employees running the booths.
                            </p>
                            <br>

                            <p>In order to support smaller companies, Tech Fair's attendance fee depends on the number of employees:</p>
                            <ul>
                                <li>
                                    <pink><b>$400.00 CAD</b></pink> for companies with under 50 employees 
                                </li>
                                <li>
                                    <pink><b>$750.00 CAD</b></pink> for companies with over 50 employees
                                </li>
                            </ul>
                            
                            <whitespace></whitespace>
                        </div>
                    </div>
                </div>
            </div>

            <whitespace style="height: 125px;"></whitespace>

            <div id="awesome-container">
                <h2>
                    <span>This sounds awesome, <em>how do I join?</em></span>
                </h2>
                <p class="noselect" style="font-size: 2.5em;">↓</p> 
                <!-- TODO: on hover, wiggle / move downwards -> transition -->
            </div>
            
            <whitespace style="height: 50px;"></whitespace>

            <div id="join-container">
                <br>
                
                <a id="join" href="#join">Join Tech Fair</a>
                
                <br><br>
                
                <p>If you'd like to join Tech Fair, please send an email to us at <a class="light-pink-link" href="mailto:csss-techfair@sfu.ca">csss-techfair@sfu.ca</a>, indicating the following:</p>
                <ul>
                    <li>Your company's name</li>
                    <li>Any questions you have about the event</li>
                </ul>
                <br>

                <p style="text-align: center;">We look forwards to seeing you there!</p>
                <br>
            </div>
            
            <whitespace style="height: 50px;"></whitespace>

            <div id="footer">
                <p><em><pink>SFU_CSSS</pink>.TechFair(<navy>2023</navy>);</em></p>
                <p>
                    <a href="mailto:csss-techfair@sfu.ca">csss-techfair@sfu.ca</a> | 
                    <a href="https://www.linkedin.com/company/sfucsss/">LinkedIn</a> | 
                    <a href="https://www.instagram.com/sfu_csss/">@sfu_csss</a> | 
                    <a href="http://discord.sfucsss.org/">discord</a>
                </p>
            </div>
        </div>

        <script src="{% static 'tech_fair/2023/js/tech_fair_2023.js' %}"></script>
        <script> 
            setTimeout(() => {
                document.body.className = "";
            }, 200);
        </script>
    </body>
</html>
