{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load staticfiles %}

{% block content %}
	<link rel="stylesheet" href="{%  static 'csss_static/csss_custom.css' %}">
	<h2 class="title is-size-2">Modify Election</h2>
    {%  include 'csss/error_htmls/html_snippet_for_general_error_validations.html' %}
	<form method="post" class="form">
		{%  include 'elections/webform/form__webform.html' %}
	</form>

	<script>
		function removeDiv(divName){$(divName).remove();}

		{%  include 'elections/webform/js_functions/on_load_js_function/main_function.html' %}

		{%  include 'elections/webform/js_functions/add_blank_nominee.html' %}

		{%  include 'elections/webform_format/js_functions/add_blank_speech.html' %}
	</script>
{% endblock %}
