{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	{%  include 'csss/display_errors.html' %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'csss_static/csss_custom.css' %}">
	<div class="csss_box_borders_new_entries">
		<h3 class="title is-size-3">Update {{ nominee_links.0.election.human_friendly_name }}</h3>
		<form method="post" class="form">
			{%  csrf_token %}
			{%  include 'elections/election_info/election_date.html' %}
			{%  include 'elections/election_info/election_time.html' %}
			{%  include 'elections/election_info/election_type.html' %}
			{%  include 'elections/election_info/election_websurvey.html' %}
			<table class="saved_nominee_links_table">
				<tr>
					<th>Select Links to Delete</th>
					<th>Nominee Link ID</th>
					<th>Nominee Link Name</th>
					<th>Nominee</th>
					<th>Link For Nominee</th>
					<th></th>
				</tr>
				{%  for draft_nominee_link in draft_nominee_links %}

					<tr>
						<td>
							{%  if draft_nominee_link.delete is not None %}
								<input type="checkbox" class="nominee_link" checked name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{delete__html_name}}]" value="True">
							{%  else %}
								<input type="checkbox" class="nominee_link" name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{delete__html_name}}]" value="True">
							{%  endif %}
						</td>
						<td>
							<input type="number" name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{saved_nominee_link__id__html_name}}]" value="{{ draft_nominee_link.saved_nominee_link__id }}" readonly required>
						</td>
						<td>
							<input type="text" name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{ saved_nominee_link__name__html_name }}]" value="{{ draft_nominee_link.saved_nominee_link__name }}" required>
						</td>
						<td>
							<select name="[{{saved_nominee_links__html_name}}][{{ draft_nominee_link.saved_nominee_link__id}}][{{saved_nominee_link__nominee__html_name}}]{{ draft_nominee_link.saved_nominee_link__nominee }}">
								<option value="{{no_nominee_linked__html_name}}">No Nominee Linked</option>
								{% for nominee in current_election.nominee_set.all %}
									{% if draft_nominee_link.saved_nominee_link__nominee == nominee.id|stringformat:"i" %}
										<option selected value="{{ nominee.id }}">{{ nominee.name }}</option>
									{%  else %}
										<option value="{{ nominee.id }}">{{ nominee.name }}</option>
									{%  endif %}
								{%  endfor %}

							</select>
						</td>
						<td>
							<a target="_blank" href='{{ draft_nominee_link.link }}'>Nominee Link</a>
						</td>
						<td>
							<a target="_blank" href="{{ URL_ROOT }}elections/{{create_or_update_nominee_via_nominee_link__html_name}}/?{{nominee_link_id__html_name}}={{ draft_nominee_link.saved_nominee_link__id }}">
								{%  if draft_nominee_link.saved_nominee_link__nominee != "no_nominee_linked" %}
									Created Linked Nominee
								{%  else %}
									Edit Linked Nominee
								{%  endif %}
							</a>
						</td>
					</tr>

				{%  endfor %}
				{%  if draft_nominee_links is None %}
					{%  for nominee_link in nominee_links %}
						<tr>
							<td>
								<input type="checkbox" class="nominee_link" name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{delete__html_name}}]" value="True">
							</td>
							<td>
								<input type="number" name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{saved_nominee_link__id__html_name}}]" value="{{ nominee_link.id }}" readonly required>
							</td>
							<td>
								<input type="text" name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{ saved_nominee_link__name__html_name }}]" value="{{ nominee_link.name }}" required>
							</td>
							<td>
								<select name="[{{saved_nominee_links__html_name}}][{{ nominee_link.id}}][{{saved_nominee_link__nominee__html_name}}]{{ nominee_link.id }}">
									<option value="{{no_nominee_linked__html_name}}">No Nominee Linked</option>
									{% for nominee in nominee_link.election.nominee_set.all %}
										{% if nominee_link.nominee == nominee %}
											<option selected value="{{ nominee.id }}">{{ nominee.name }}</option>
										{%  else %}
											<option value="{{ nominee.id }}">{{ nominee.name }}</option>
										{%  endif %}
									{%  endfor %}

								</select>
							</td>
							<td>
								<a target="_blank" href='{{ nominee_link.link }}'>Nominee Link</a>
							</td>
							<td>
								<a target="_blank" href="{{ URL_ROOT }}elections/{{create_or_update_nominee_via_nominee_link__html_name}}/?{{nominee_link_id__html_name}}={{ nominee_link.id }}">
									{%  if nominee_link.nominee is None %}
										Created Linked Nominee
									{%  else %}
										Edit Linked Nominee
									{%  endif %}
								</a>
							</td>
						</tr>
					{%  endfor %}
				{%  endif %}
			</table>
		<input class="select_all_nominee_links" type="checkbox" id="select_all_nominee_links">
		<label for="select_all_nominee_links" class="select_nominee_link_label">Select All Nominee Links</label><br>
			Full name[s] of the nominees to create links for: [separate the nominees with a newline if there are more than 1]<br>
			{%  if new_nominee_names is not None %}
				<textarea name="new_nominee_names" cols="10" rows="3">{{new_nominee_names}}</textarea><br>
			{%  else %}
				<textarea name="new_nominee_names" cols="10" rows="3"></textarea><br>
			{%  endif %}
			{%  include 'elections/create_election/submission_buttons.html' %}
		</form>
	<script>
		$( '.select_all_nominee_links' ).click(
			function () {
				const select_all_nominee_links_text = "Select All Nominee Links";
				const de_select_nominee_links_text = "De-Select All Nominee Links";
				const select_nominee_links = $('.select_nominee_link_label')[0].innerHTML === select_all_nominee_links_text;
				$( '.nominee_link' ).prop('checked', select_nominee_links)
				this.checked = !this.checked
				$('.select_nominee_link_label')[0].innerHTML = (
					select_nominee_links ? de_select_nominee_links_text : select_all_nominee_links_text
				);
			}
		)
	</script>
	</div>
{% endblock %}
