<form method="post" action="{{ URL_ROOT }}about/officer_position_and_github_mapping/save_new_github_officer_team_mapping">
    {%  csrf_token %}
    <div id="new_github_officer_team_name_mapping">
        {% if unsaved_github_officer_team_name_mapping is not None %}
            <div style="border: 3px solid black; padding: 10px;">
                <label>Github Team Name: </label>
                <input type="text" id="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" name="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" value="{{ unsaved_github_officer_team_name_mapping.team_name }}" required><br>
                <label>Applicable Officer: </label><br>
                    {%  for position in unsaved_github_officer_team_name_mapping.officer_positions %}
                        <div style="border: 1px transparent solid; display:inline-block;" >
                            {% if position.checked %}
                                <input type="checkbox" checked name="github_mapping_selected_officer_position" id="{{ position.position_index }}" value="{{ position.position_index }}" />
                            {%  else %}
                                <input type="checkbox" name="github_mapping_selected_officer_position" id="{{ position.position_index }}" value="{{ position.position_index }}" />
                            {%  endif %}
                            <label>{{ position.position_name }}</label><br>
                        </div>
                    {%  endfor %}
                <label>Github Team Name</label>
            </div>
        {%  endif %}

        {%  if unsaved_github_officer_team_name_mapping is None %}
            <div style="border: 3px solid black; padding: 10px;">
                <label>Github Team Name: </label>
                <input type="text" id="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" name="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" required><br>
                <label>Applicable Officer: </label><br>
                {%  for position in github_position_mapping %}
                    <div style="border: 1px transparent solid; display:inline-block;" >
                        <input type="checkbox" name="github_mapping_selected_officer_position" id="{{ position.position_index }}" value="{{ position.position_index }}" />
                        <label>{{ position.position_name }}</label><br>
                    </div>
                {%  endfor %}

            </div>
        {%  endif %}
    </div>
{#    <input type="button" value="Remove Last Github Team Mapping" onClick="removeGithubOfficerMapping('#new_github_officer_team_name_mapping');">#}
{#    <input type="button" value="Add Another Github Team Mapping" onClick="addGithubOfficerMapping('new_github_officer_team_name_mapping');">#}
    <input type="submit" name="create_new_github_mapping" value="Submit">
</form>

{#<script type="text/javascript">#}
{#    function addGithubOfficerMapping(divName){#}
{#        var github_team = document.createElement('div');#}
{#        document.getElementById(divName).appendChild(github_team);#}
{##}
{#        github_team.setAttribute("style","border: 3px solid black; padding: 10px;");#}
{#        github_team.innerHTML += "<label for=\"{{GITHUB_TEAM__TEAM_NAME_KEY}}\">Github Team Name: </label>\n";#}
{#        github_team.innerHTML += "<input type=\"text\" id=\"{{ GITHUB_TEAM__TEAM_NAME_KEY }}\" name=\"{{ GITHUB_TEAM__TEAM_NAME_KEY }}\" required><br>\n";#}
{#        github_team.innerHTML += "<label>Applicable Officer: </label><br>";#}
{##}
{#        {% for position in github_position_mapping %}#}
{#            var current_positions = document.createElement('div');#}
{#            current_positions.setAttribute("style", "border: 1px transparent solid; display:inline-block;")#}
{#            current_positions.innerHTML += "<input  type=\"checkbox\" name=\"github_mapping_selected_officer_position\" id=\"{{ position.position_index }}\" value=\"{{ position.position_index }}\" />";#}
{#            current_positions.innerHTML += "<label >{{ position.position_name }}</label>";#}
{#            current_positions.innerHTML += "</div>";#}
{#            github_team.appendChild(current_positions);#}
{#        {%  endfor %}#}
{#        github_team.innerHTML += "</div>";#}
{##}
{##}
{#    }#}
{#    function removeGithubOfficerMapping(divName){#}
{#        $(divName).children().last().remove();#}
{#    }#}
{#</script>#}