<form method="post" action="save_new_github_officer_team_mapping">
    {%  csrf_token %}
    <div id="new_github_officer_team_name_mapping">
        {% if unsaved_github_officer_team_name_mapping is not None %}
            <div style="border: 3px solid black; padding: 10px;">
                <label>Officer-</label>
                <select name="{{ GITHUB_TEAM__OFFICER_KEY }}" id="{{ GITHUB_TEAM__OFFICER_KEY }}">
                    {%  for position in unsaved_github_officer_team_name_mapping.officer_positions %}
                        {% if position.checked %}
                            <option selected value="{{ position.position_index }}">{{ position.position_name }}</option>
                        {%  else %}
                            <option value="{{ position.position_index }}">{{ position.position_name }}</option>
                        {%  endif %}
                    {%  endfor %}
                </select>
                <label for="{{ GITHUB_TEAM__TEAM_NAME_KEY }}">Github Team Name</label>
                <input type="text" id="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" name="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" value="{{ unsaved_github_officer_team_name_mapping.team_name }}" required><br>
            </div>
        {%  endif %}

        {%  if unsaved_github_officer_team_name_mapping is None %}
            <div style="border: 3px solid black; padding: 10px;">
                <label>Github Team Name: </label>
                <input type="text" id="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" name="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" required><br>
                <label for="{{ GITHUB_TEAM__OFFICER_KEY }}">Applicable Officer: </label><br>
                    {%  for position in github_position_mapping %}
                        <div style="border: 1px transparent solid; display:inline-block;" >
                            <input type="checkbox" name="github_mapping_selected_officer_position" id="{{ position.position_index }}" value="{{ position.position_index }}" />
                            <label>{{ position.position_name }}</label><br>
                        </div>
                    {%  endfor %}

            </div>
        {%  endif %}
    </div>
    <input type="button" value="Remove the last Position Slot" onClick="removeGithubOfficerMapping('#new_github_officer_team_name_mapping');">
    <input type="button" value="Add another Position Slot" onClick="addGithubOfficerMapping('new_github_officer_team_name_mapping');">
    <input type="submit" name="create_new_github_mapping" value="Submit">
</form>

<script type="text/javascript">
    function addGithubOfficerMapping(divName){
        var newNominee = document.createElement('div');

        {#var sel = document.createElement('select');#}
        {#sel.setAttribute("name", "{{ GITHUB_TEAM__OFFICER_KEY }}")#}
        {#sel.setAttribute("id", "{{ GITHUB_TEAM__OFFICER_KEY }}")#}
        {#{% for position in officer_position_and_github_mapping %}#}
        {#    var opt = document.createElement('option');#}
        {#    opt.value = {{position.term_position_number}};#}
        {#    opt.innerHTML = "{{position.officer_position}}";#}
        {#    sel.appendChild(opt);#}
        {#{%  endfor %}#}
        document.getElementById(divName).appendChild(newNominee);

        newNominee.setAttribute("style","border: 3px solid black; padding: 10px;");
        newNominee.innerHTML += "<label for=\"{{GITHUB_TEAM__TEAM_NAME_KEY}}\">Github Team Name: </label>\n";
        newNominee.innerHTML += "<input type=\"text\" id=\"{{ GITHUB_TEAM__TEAM_NAME_KEY }}\" name=\"{{ GITHUB_TEAM__TEAM_NAME_KEY }}\" required><br>\n";
        newNominee.innerHTML += "<label>Applicable Officer: </label><br>";

        {% for position in position_mapping %}
            var current_positions = document.createElement('div');
            current_positions.setAttribute("style", "border: 1px transparent solid; display:inline-block;")
            current_positions.innerHTML += "<input  type=\"checkbox\" name=\"github_mapping_selected_officer_position\" id=\"{{ position.term_position_number }}\" value=\"{{ position.officer_position }}\" />";
            current_positions.innerHTML += "<label >{{ position.officer_position }}</label>";
            current_positions.innerHTML += "</div>";
            newNominee.appendChild(current_positions);
        {%  endfor %}
        {#newNominee.appendChild(sel)#}
        newNominee.innerHTML += "</div>";


    }
    function removeGithubOfficerMapping(divName){
        $(divName).children().last().remove();
    }
</script>