{% load staticfiles %}
<link rel="stylesheet" href="{% static 'about_static/saved_officer_position_mappings.css' %}">
{%  if saved_officer_positions is not None %}
	<form method="post" action="{{ URL_ROOT }}about/officer_position_and_github_mapping/update_saved_position_mappings">
		{%  csrf_token %}
		<table class="saved_positions_table">
			<tr>
				<th>Position Mapping IDs</th>
				<th>Officer Position Indices</th>
				<th>Officer Position Names</th>
				<th>Officer SFU Email-List Addresses</th>
				<th>Elected Via Election Officer</th>
				<th>Will be Deleted</th>
			</tr>
			{%  for position in saved_officer_positions %}
				<tr>
						<td><input type="number" name="[saved_officer_positions][{{position.id}}][officer_email_list_and_position_mapping__id]" value="{{ position.id }}" readonly required></td>
						<td><input type="number" name="[saved_officer_positions][{{position.id}}][officer_email_list_and_position_mapping__position_index]" value="{{ position.position_index }}" required></td>
						<td><input type="text" name="[saved_officer_positions][{{position.id}}][officer_email_list_and_position_mapping__position_name]" value="{{ position.position_name }}"  required></td>
						<td><input type="text" name="[saved_officer_positions][{{position.id}}][officer_email_list_and_position_mapping__email_list_address]" value="{{ position.email }}" required></td>
						<td>
							<select name="[saved_officer_positions][{{ position.id }}][officer_email_list_and_position_mapping__elected_position]" required size="2">
								{%  if position.elected_via_election_officer is True %}
									<option value="True" selected>True</option>
									<option value="False">False</option>
								{%  elif position.elected_via_election_officer is False %}
									<option value="True">True</option>
									<option value="False" selected>False</option>
								{%  endif %}
							</select>
						</td>
						<td>
							<select name="[saved_officer_positions][{{ position.id }}][officer_email_list_and_position_mapping__delete_status]" required size="2">
								{%  if position.marked_for_deletion is True %}
									<option value="True" selected>True</option>
									<option value="False">False</option>
								{%  elif position.marked_for_deletion is False %}
									<option value="True">True</option>
									<option value="False" selected>False</option>
								{%  endif %}
							</select>
						</td>
				</tr>
			{%  endfor %}
		</table>
		<input type="submit" name="update_position_mapping" value="Update">
	</form>
{%  endif %}