{%  if github_teams is not None %}
    <table>
        <tr>
            <th>Github Mapping ID</th>
            <th>Officer</th>
            <th>Github Team</th>
        </tr>
        {% for github_team in github_teams %}
            <tr>
                <form method="post" action="{{ URL_ROOT }}about/officer_position_and_github_mapping/update_saved_github_mappings">
                    {% csrf_token %}
                    <td><input type="number" name="{{ GITHUB_TEAM__ID_KEY }}" value="{{ github_team.team_id }}" readonly required></td>
                    <td>
                        {%  for positions_mapped_to_team in github_team.positions %}
                            {% if positions_mapped_to_team.checked %}
                                <input name="github_mapping_selected_officer_position" checked  type="checkbox" id="{{ positions_mapped_to_team.position_index }}" value="{{ positions_mapped_to_team.position_index }}" />
                            {%  else %}
                                <input name="github_mapping_selected_officer_position"  type="checkbox" id="{{ positions_mapped_to_team.position_index }}" value="{{ positions_mapped_to_team.position_index }}" />
                            {%  endif %}
                            <label>{{ positions_mapped_to_team.position_name }}</label><br>
                        {%  endfor %}
                    </td>
                    <td><input type="text" name="{{ GITHUB_TEAM__TEAM_NAME_KEY }}" value="{{ github_team.team_name }}"></td>
                    <td>
                        {%  if github_team.marked_for_deletion is True %}
                            <input type="submit" name="un_delete_github_mapping" value="Un-Delete">
                        {%  else %}
                            <input type="submit" name="update_github_mapping" value="Update">
                            <input type="submit" name="delete_github_mapping" value="Delete">
                            <input type="submit" name="mark_for_deletion_github_mapping" value="Mark for Deletion">
                        {%  endif %}
                    </td>
                </form>
            </tr>
        {%  endfor %}
    </table>
{%  endif %}