new_nominee = document.createElement('div');
new_nominee.setAttribute('id',nominee_div_name);
new_nominee.setAttribute('class', 'csss_box_borders_new_entries');
if (nominee_link_election_form == false){
    new_nominee.innerHTML += "<input type=\"button\" value=\"Remove Nominee\" onClick=\"removeDiv('#"+nominee_div_name+"');\">";
}
if (draft_or_finalized_nominee_to_display == true){
	{%  if include_id_for_nominee_in_weform__html_name is True %}
		new_nominee.innerHTML += "<input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_id__name}}]\" value=\""+id+"\" hidden readonly>";
	{%  endif %}
	new_nominee.innerHTML += "<p>Full Name: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_name__name}}]\" value=\""+name+"\" required></p>";
    {%  if election_officer_request %}
	    new_nominee.innerHTML += "<p>SFUID: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_sfuid__name}}]\" value=\""+sfuid+"\" required></p>";
    {%  endif %}
	new_nominee.innerHTML += "<p>Facebook Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_facebook__name}}]\" value=\""+facebook+"\" required></p>";
	new_nominee.innerHTML += "<p>Instagram Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_instagram__name}}]\" value=\""+instagram+"\" required></p>";
	new_nominee.innerHTML += "<p>LinkedIn Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_linkedin__name}}]\" value=\""+linkedin+"\" required></p>";
	new_nominee.innerHTML += "<p>Email Address: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_email__name}}]\" value=\""+email+"\" required></p>";
	new_nominee.innerHTML += "<p>Discord ID: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_discord_id__name}}]\" value=\""+discord_id+"\" required><b><a target=\"_blank\" href=\"https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-\">How to find your Discord ID</a></b></p>";

}else{
    /*
    if accessing via /elections/new_election_webform or /election/<election_slug>/election_modification_webform
    and there are no nominees, will display a form to enter the first nominee
    */
	new_nominee.innerHTML += "<p>Full Name: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_name__name}}]\" required></p>";
    {%  if election_officer_request %}
        if (typeof sfuid === "undefined"){
	        new_nominee.innerHTML += "<p>SFUID: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_sfuid__name}}]\" required></p>";
        }else{
            new_nominee.innerHTML += "<p>SFUID: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_sfuid__name}}]\" value=\""+sfuid+"\" required></p>";
        }
    {%  endif %}
	new_nominee.innerHTML += "<p>Facebook Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_facebook__name}}]\" value=\"NA\" required></p>";
	new_nominee.innerHTML += "<p>Instagram Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_instagram__name}}]\" value=\"NA\" required></p>";
	new_nominee.innerHTML += "<p>LinkedIn Link: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_linkedin__name}}]\" value=\"NA\" required></p>";
	new_nominee.innerHTML += "<p>Email Address: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_email__name}}]\" value=\"NA\" required></p>";
	new_nominee.innerHTML += "<p>Discord ID: <input type=\"text\" name=\"[{{nominee_div__name}}]["+nominee_index+"][{{input_nominee_discord_id__name}}]\" value=\"NA\" required><b><a target=\"_blank\" href=\"https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-\">How to find your Discord ID</a></b></p>";

}
new_nominee.innerHTML += "<input type=\"button\" value=\"Add Another Speech\" onClick=\"addBlankSpeech('"+nominee_index+"');\">";
document.getElementById(nominees_div_name).appendChild(new_nominee);

nominee_speeches = document.createElement('div');
nominee_speeches.setAttribute('id',speech_parent_div_name);
new_nominee.appendChild(nominee_speeches);

if (draft_or_finalized_nominee_to_display == true){

	{% if webform_election__html_name %}
        {%  for position_names_and_speech_pairing in nominee.position_names_and_speech_pairings %}
            {%  include 'elections/webform_format/js_functions/on_load_js_function/position_names_and_speech_pairing/position_names_and_speech_pairing.html' %}
        {%  endfor %}
	{%  else %}
        {%  for position_names_and_speech_pairing in draft_nominee__html_name.position_names_and_speech_pairings %}
            {%  include 'elections/webform_format/js_functions/on_load_js_function/position_names_and_speech_pairing/position_names_and_speech_pairing.html' %}
        {%  endfor %}
	{%  endif %}
}