{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
	{% if final_nominee__html_name.0.nominee.name is not None %}
		<h2 class="title is-size-2">Modify {{final_nominee__html_name.0.nominee.name }}'s info for {{ final_nominee__html_name.0.nominee.election.human_friendly_name }}</h2>
	{%  else %}
		<h2 class="title is-size-2">Modify Nominee Info</h2>
	{%  endif %}
    {%  include 'csss/display_errors.html' %}
	<form method="post" class="form">
        {%  include 'elections/update_election/nominee_links/form.html' %}
    </form>

    <script>
		function removeDiv(divName){$(divName).remove();}

        {%  include 'elections/update_election/nominee_links/js_functions/on_load_js_functions/main_function.html' %}

        {%  include 'elections/update_election/nominee_links/js_functions/add_blank_speech.html' %}
    </script>

	{%  include 'elections/update_election/nominee_links/view_nominee.html' %}
{% endblock %}
