{% extends "documents/header.html" %}

{% block content %}
    {{ block.super }}
    {% load staticfiles %}
    {% block body %}
        <h1>{{election.type_of_election}} {{election.datePublic}}</h1>
        <div id='content'>
            {% if nominees == "none" %}
                It seems like the time hasn't come to announce the nominees yet....
            {% else %}
              {% if election.websurvey != "NONE" %}
                <p> <a href="{{election.websurvey}}">websurvey Link</a></p>
              {% endif %}
          		{% for nominee in nominees %}
          			{% ifchanged nominee.Position %}
          				<h1>Position: {{nominee.Position}}</h1>
                    {% endifchanged %}
          				<p><br/><br/>Nominee Name: <b>{{nominee.name}}</b></p>
          				<p>Contact/Social Media: <a href="{{nominee.Facebook}}">Facebook Profile</a> <b>|</b> <a href="{{nominee.LinkedIn}}">LinkedIn Profile</a><b> | </b><a href="mailto:{{nominee.Email}}">Email Link</a><b> | </b>Discord Profile: {{nominee.Discord_Username}}</p>
          				<p>Nominee Speech:</p> {{nominee.Speech|safe|linebreaks}}
          		{% endfor %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
