{% extends "csss/header.html" %}

{% load static %}
{% load staticfiles %}
{% block content %}
    {{ block.super }}
	{%  include 'csss/display_invalid_privilege_errors.html' %}
	{%  if invalid_privilege_error_messages is None or invalid_privilege_error_messages|length == 0 %}
		{%  include 'csss/display_errors.html' %}

		{%  include 'about/github_position_mapping/saved_github_mappings.html' %}

		{%  include 'about/github_position_mapping/input_new_github_officer_team_mappings.html' %}
	{%  endif %}
{% endblock %}