{% extends "csss/new_header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    {% if error_experienced %}
        <p style="color: red">Experienced Following Error<br>
            {%  for error in error_experienced %}
                {{ error }}<br>
            {%  endfor %}
        </p>
    {%  endif %}
    {% if g_drive_users %}
	<h1 class="title">Users with Access To SFU CSSS Google Drive:</h1>
        <table >
            <tr>
                <th>ID</th>
                <th>User's Name</th>
                <th>Gmail</th>
                <th>Google Drive Folder/File ID</th>
                <th>Google Drive Folder/File Name</th>
                <th>Actions</th>
            </tr>
            {% for user in g_drive_users %}
            <tr>
                <form action="/resource_management/gdrive/update_current_gdrive_user" method="post">
                    {% csrf_token %}
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_DB_RECORD_KEY}}" value="{{user.id}}" readonly required></td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_NAME_KEY}}" value="{{user.name}}" required> </td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_GMAIL_KEY}}" value="{{user.gmail}}" required></td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_ID_KEY}}" value="{{user.file_id}}" ></td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_NAME_KEY}}" value="{{user.file_name}}" readonly required></td>
                    <td>
                        <button name="action" value="update" type="submit">Update</button>
                        <button name="action" value="delete" type="submit">Delete</button>
                    </td>
                    </form>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

	<h1 class="title">Users To Grant Access To SFU CSSS Google Drive:</h1>
	<form action="/resource_management/gdrive/add_users_gdrive" method="post">
		{% csrf_token %}
        <table id="google_drive_users">
            <tr>
                <th>User's Name</th>
                <th>Gmail</th>
                <th>Google Drive Folder/File ID<sup>[1]</sup></th>
            </tr>
            <tr>
                <td><input type="text" name="{{GOOGLE_DRIVE_USERS_NAME_KEY}}"required> </td>
                <td><input type="text" name="{{GOOGLE_DRIVE_USERS_GMAIL_KEY}}" required></td>
                <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_ID_KEY}}"></td>
            </tr>
        </table>
        <input type="submit" value="Submit" />
        <input type="button" value="Add another Google Drive user" onClick="AddRowToGoogleDriveUsersTable();">
		<input type="button" value="Remove the last Google Drive user" onClick="removeGDriveUser('google_drive_users');">
        <p><sup>[1]</sup>If no File ID is specified, will default to root CSSS directory</p>
	</form>


    {% if g_drive_public_links %}
        <h1 class="title">Publicly Available Google Drive Links</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Google Drive Folder/File ID</th>
                <th>Google Drive Folder File/Name</th>
                <th>Google Drive Folder/File Link</th>
                <th>Actions</th>
            </tr>
            {% for links in g_drive_public_links %}
            <tr>
                <form action="/resource_management/gdrive/update_gdrive_public_linls" method="post">
                    {% csrf_token %}
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_DB_RECORD_KEY}}" value="{{links.id}}" readonly required></td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_ID_KEY}}" value="{{links.file_id}}" required></td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_NAME_KEY}}" value="{{links.file_name}}"  readonly required></td>
                    <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_LINK_KEY}}" value="{{links.link}}" readonly required></td>
                    <td>
                        <button name="action" value="update" type="submit">Update</button>
                        <button name="action" value="delete" type="submit">Delete</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h1  class="title">Folder/File to make publicly available:</h1>
    <form action="/resource_management/gdrive/make_folder_public_gdrive" method="post">
		{% csrf_token %}
        <table id="google_drive_public_links">
            <tr>
                <th>Google Drive Folder/File ID</th>
            </tr>
            <tr>
                <td><input type="text" name="{{GOOGLE_DRIVE_USERS_FILE_ID_KEY}}" required></td>
            </tr>
        </table>
        <input type="submit" value="submit" />
            <input type="button" value="Add another Publicly Available File" onClick="AddRowToPublicGoogleDriveFilesTable();">
            <input type="button" value="Remove the last Publicly Available File" onClick="removeGDriveUser('google_drive_public_links');">
    </form>
	<script type="text/javascript">
		function AddRowToGoogleDriveUsersTable(){
            var table = document.getElementById('google_drive_users');

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(-1);

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
// Add some text to the new cells:
            cell1.innerHTML = "<input type=\"text\" name=\"{{GOOGLE_DRIVE_USERS_NAME_KEY}}\" required>";
            cell2.innerHTML = "<input type=\"text\" name=\"{{GOOGLE_DRIVE_USERS_GMAIL_KEY}}\" required>";
            cell3.innerHTML = "<input type=\"text\" name=\"{{GOOGLE_DRIVE_USERS_FILE_ID_KEY}}\" required>";
		}

		function AddRowToPublicGoogleDriveFilesTable(){
            var table = document.getElementById('google_drive_public_links');

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(-1);

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);

            // Add some text to the new cells:
            cell1.innerHTML = "<td><input type=\"text\" name=\"{{GOOGLE_DRIVE_USERS_FILE_ID_KEY}}\" required></td>";
		}
		function removeGDriveUser(divName) {
            var table = document.getElementById(divName);
            var rowCount = table.rows.length;
            table.deleteRow(rowCount -1);
		}
	</script>
{% endblock %}
