{% extends "csss/header.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    {% if error_experienced %}
        <p style="color: red">Experienced Following Error<br>
            {%  for error in error_experienced %}
                {{ error }}<br>
            {%  endfor %}
        </p>
    {%  endif %}
    {% if non_officer_github_member %}
        <h1 class="title">Non-Officers with access to SFU CSSS GitHub Resources</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Team Name</th>
                <th>User name</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            {% for member in non_officer_github_member %}
            <tr>
                <form action="{{URL_ROOT}}resource_management/github/update_github_non_officer" method="post">
                    {% csrf_token %}
                    <td><input type="text" name="{{GITHUB_RECORD_KEY}}" value="{{member.id}}" required readonly></td>
                    <td><input type="text" name="{{GITHUB_TEAM_KEY}}" value="{{member.team_name}}" required></td>
                    <td><input type="text" name="{{GITHUB_USERNAME_KEY}}" value="{{member.username}}" required></td>
                    <td><input type="text" name="{{LEGAL_NAME_KEY}}" value="{{member.legal_name}}" readonly required></td>
                    <td>
                        <button name="action" value="update" type="submit">Update</button>
                        <button name="action" value="delete" type="submit">Delete</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h1 class="title">Non-Officers to grant access to SFU CSSS GitHub Resources</h1>
    <form action="{{URL_ROOT}}resource_management/github/add_non_officer_to_github_team" method="post">
		{% csrf_token %}
        <table id="google_drive_public_links">
            <tr>
                <th>Team Name</th>
                <th>Github Username</th>
                <th>User's Legal Name</th>
            </tr>
            <tr>
                <td><input type="text" name="{{GITHUB_TEAM_KEY}}" required></td>
                <td><input type="text" name="{{GITHUB_USERNAME_KEY}}" required></td>
                <td><input type="text" name="{{LEGAL_NAME_KEY}}" required></td>
            </tr>
        </table>
        <input type="submit" value="submit" />
            <input type="button" value="Add Another Non-Officer Slot" onClick="addRowToTableForNonOfficersToAdd();">
            <input type="button" value="Remove the last Non-Officer Slot" onClick="removeRowFromTableForNewNonOfficersToAdd();">
    </form>
	<script type="text/javascript">
        function addRowToTableForNonOfficersToAdd(){
            var table = document.getElementById("google_drive_public_links");

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(-1);

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);

            // Add some text to the new cells:
            cell1.innerHTML = "<td><input type=\"text\" name=\"{{GITHUB_TEAM_KEY}}\" required></td>";
            cell2.innerHTML = "<td><input type=\"text\" name=\"{{GITHUB_USERNAME_KEY}}\" required></td>";
            cell3.innerHTML = "<td><input type=\"text\" name=\"{{LEGAL_NAME_KEY}}\" required></td>";
		}
		function removeRowFromTableForNewNonOfficersToAdd() {
            var table = document.getElementById("google_drive_public_links");
            var rowCount = table.rows.length;
            table.deleteRow(rowCount -1);
		}
	</script>
{% endblock %}
