{%  extends "csss/header.html" %}
{%  block content %}
    {%  include 'csss/error_htmls/html_snippet_for_general_error_validations.html' %}
    <form method="post" class="form">
        {% csrf_token %}
        <button name="{{cron_jobs_action_button_name__html_name}}" value="{{update_cron_job_details__html_name}}">Update Cron Job Details</button>
        <table>
            <tr>
                <th>Active</th>
                <th>Cron Name</th>
                <th>Cron Schedule</th>
                <th>Run</th>
                <th>Average run-time so far</th>
            </tr>
            {% for cron_mapping in cron_mappings %}
                <tr>
                    <td>{{ cron_mapping.active }}</td>
                    <td>{{ cron_mapping.job_name }}</td>
                    <td><input type="text" name="[{{cron_job_schedules__html_name}}][{{ cron_mapping.job_name }}]" value="{{ cron_mapping.schedule }}"></td>
                    <td><button name="{{cron_jobs_action_button_name__html_name}}" value="{{run_job_action__html_name}}{{ cron_mapping.job_name }}">Run Job</button></td>
                    <td>{{ cron_mapping.average_run_time }}</td>
                </tr>
            {%  endfor %}
        </table>
        <a href="/{{cron_logs_base_url_key__html_name}}/">Logs</a><br>
        <button name="{{cron_jobs_action_button_name__html_name}}" value="{{update_cron_schedule__html_name}}">Update Cron Schedule</button>
    </form>
{%  endblock %}