{% extends "csss/new_header.html" %}

{% block content %}
{{ block.super }}

<body>
    <section class="section">
        <div class="container">
            <div class="content" >
                <h1>Scholarships, Awards, and Bursaries</h1>

                <p>There are numerous scholarships, awards, and bursaries both administered by SFU and by external groups. Below is a small list that you might qualify for during your time here at SFU. Also, don’t be turned away by the stipulation for high academic standing. Apply anyways, the worst they will say is no.</p>
                
                <hr>

                <h2>Olga and Richard Murray Bursary in Applied Sciences</h2>
                
                <p>Awarded in the summer and fall terms, this bursary is granted to graduate or undergraduate students in the Faculty of Applied Sciences on the basis of demonstrated financial need and satisfactory academic performance. If possible, preference will be given to a student, or the spouse or child of a person, who is a member of the Telecommunication Workers Union or of Van-Tel Credit Union.</p>
                
                <h2>IODE Burnaby Municipal Chapter Bursary</h2>
                
                <p>Awarded all three terms to third or fourth year students majoring in science or applied sciences. Students must be Canadian citizens and graduates of Burnaby Senior Secondary School. Financial need and satisfactory academic standing is required.</p>
                
                <h2>Simba Technologies Inc. Scholarships in Computing Science</h2>
                
                <p>Two scholarships at a minimum of $2,000 each will be awarded in any term, preferably one in Fall term and one in Spring term, to an undergraduate female student majoring in Computing Science on the basis of full-time enrollment and excellent academic standing. Preference will be given to female students with demonstrated community/volunteer service. Applications should include a CV outlining the candidate&#39;s community/volunteer activities. The awards will be made by the Senate Undergraduate Awards Adjudication Committee upon the recommendation of the Dean of the Faculty of Applied Sciences.</p>
                
                <h2>Scotiabank Student Scholarship in the Faculty of Applied Sciences</h2>
                
                <p>This $2500 award will be granted annually in the summer term to a Faculty of Applied Sciences student with at least 90 units who exemplifies the aspects of a well-rounded student scholar: academic excellence, and community involvement. Academic excellence is based on academic merit as determined by cumulative grade point average (CGPA). Community involvement may be service to the University community or the community at large. The award will be made by the Senate Undergraduate Awards Adjudication Committee.</p>
                
                <h2>Elma Krbavac Undergraduate Scholarship in Computing Science</h2>
                
                <p>An annual scholarship in any term to an undergraduate student in Computing Science based on high academic standing and demonstrated volunteer involvement. Candidates should demonstrate their involvement in volunteer activities by providing such details in a resume and cover letter with their application. The award will be made by the Senate Undergraduate Awards Adjudication Committee. Value of the scholarship is $3000.</p>
                
                <h2>Matthew LeDuc Memorial Scholarship in Computing Science</h2>
                
                <p>Awarded annually on the basis of academic achievement to a Computing Science major, with demonstrated excellence in the field of computer graphics. The award will be made by the Senate Undergraduate Awards Adjudication Committee. Value of the scholarship is $600.</p>
                
                <h2>Joe and Mary Merchant Scholarship in Science</h2>
                
                <p>An annual scholarship, based on scholastic merit, will be awarded in any term to a full-time third or fourth year undergraduate student in the Faculty of Science or the Faculty of Applied Sciences. The award will be made by the Senate Undergraduate Awards Adjudication Committee. Value of the scholarship is $1100.</p>
                
                <h2>CSSS Award</h2>
                
                <p>In need of financial aid? Don’t know where to look? Why not apply for the CSSS Award? This award recognizes a CSSS member’s contributions to the Society and its activities. It’s our way of noticing who’s been working hard to keep the CSSS as awesome as it can be. The award is available once in the fall and once in the spring semesters.</p>
                
                <h2>Service Awards</h2>
                
                <p>Applications are only open from March-April for each year. This award recognizes service to the University and/or community at large. Basically if you volunteer on or off campus, you qualify for this award.</p>
                



            </div>
        </div>
    </section>

    <br>
    <br>
    <br>

</body>



{% endblock %}
