{% extends "csss/header.html" %}

{% block content %}
{{ block.super }}
	<section class="section">
        <div class="container">
            <div class="content" >
                <h1>Scholarships, Awards, and Bursaries</h1>

                <p>There are numerous scholarships, awards, and bursaries both administered by SFU and by external groups. Below is a small list that you might qualify for during your time here at SFU. Also, don’t be turned away by the stipulation for high academic standing. Apply anyways, the worst they will say is no. Please note that all information here is not finalized, please check the actual sources or more details and correct infromation on applications.</p>
                
                <hr>

                <h2>Computing Science Undergraduate Student Society Award</h2>
                
                <p>In need of financial aid? Don’t know where to look? Why not apply for the CSSS Award? This award recognizes a CSSS member’s contributions towards volunteering at SFU. Time spent volunteering in the Computing Science Student Society, Women in Computing Science, peer tutoring and many other clubs/groups around campus are a great way to increase your chances at being awarded this award. It’s our way of noticing who’s been working hard to keep the CSSS as awesome as it can be. The award is available in the Spring, Summer and Fall. Each award is at minimum 3k in value. The award was founded in 1993 by the Computing Science Student Society and the endowment created has continued to grow to this day!</p>
                
<p>Please watch your email for more information regarding applying to this award at the beginning of each semester it is being offered. </p>

<div><a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/61829">Computing Science Undergraduate Student Society Award</a></div>

<a href="https://sfucsss.org">Computing Science Student Society Website</a>


<h2>Bit Quill Technologies Scholarship for Women in Computing Science</h2>
		
<p>Two or more scholarships, valued at $2,500 each, will be granted annually in any term. The scholarships will be awarded to undergraduate female student majoring in Computing Science on the basis of full-time enrollment and excellent academic standing. </p>

<div><a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62186">Bit Quill Technologies Scholarship for Women in Computing Science</a></div>

<a target="_blank" href="https://www.bitquill.com/">Bit Quill Technologies Website</a>

<h2>Women in Computing Science Alumni Award</h2>
<p>This award, valued at a minimum of $800, will be granted annually in any term, to a female student who fulfills the following criteria: is enrolled full-time and majoring in a Computing Science stream in the Faculty of Applied Sciences; is in good academic standing; demonstrated commitment through community/volunteer service to the goals of WICS (Women in Computing Science) at SFU.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62343">Women in Computing Science Alumni Award</a>

<h2>Fortinet Undergraduate Scholarship in Computing Science and Engineering Science</h2>
<p>One scholarship, valued at a minimum of $3,400, will be granted annually in any term to an undergraduate student who meets the following criteria:- is enrolled in a full-time Bachelor's degree program in the School of Computing Science or in the School of Engineering Science in the Faculty of Applied Sciences during the term of eligibility;- majoring in Computing Science or Software Systems in the School of Computing Science;- or majoring in Computer Engineering or Electronics Engineering in the School of Engineering Science;- has completed 60 units; and- is in excellent academic standing.Preference will be given to students who have completed courses in cyber security, networking or software security.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62476">Fortinet Undergraduate Scholarship in Computing Science and Engineering Science</a>

<h2>School of Computing Science Undergraduate Scholarship</h2>
<p>One scholarship, valued at $1,000, will be awarded annually in any term to an undergraduate student who meets the following criteria:- is enrolled full-time, majoring in Computing Science; and- is in excellent academic standing.The scholarship will be granted by the Senate Undergraduate Awards Adjudication Committee.</p>
<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62321">School of Computing Science Undergraduate Scholarship</a>


<h2>Douglas M. Gregg Bursary in Computing Science </h2>
<p>The Douglas M. Gregg Bursary provides an annual bursary of $1000 minimum and is offered to an undergraduate student majoring in Computing Science who is a Canadian citizen, has demonstrated financial need, and in good academic standing. The award will be made by the Senate Undergraduate Awards Adjudication Committee on Scholarships Awards and Bursaries.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62182">Douglas M. Gregg Bursary in Computing Science</a>


<h2>Elma Krbavac Undergraduate Scholarship in Computing Science</h2>
<p>An annual scholarship in any term to an undergraduate student in Computing Science based on excellent academic standing and demonstrated volunteer involvement. Candidates should demonstrate their involvement in volunteer activities by providing the following:- a one page cover letter describing your recent unpaid volunteer/community service;- a resume outlining unpaid volunteer service, including dates and total hours of service for the past 2 years;- at least one reference letter supporting your community/volunteer involvement.The scholarship will be made by the Senate Undergraduate Awards Adjudication Committee.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62103">Elma Krbavac Undergraduate Scholarship in Computing Science</a>


<h2>Ryan Wilk Mastercard Memorial Award in Computing Science</h2>

<p>One or more awards, valued at the university award minimum will be granted annually to undergraduate students who meet the following criteria:-Are pursuing a bachelor's degree in the Faculty of Applied Sciences with a declared major or honours in any program in the School of Computing Science;-Are enrolled full-time in the term of eligibility;-Are in good academic standing; and -Have made contributions to the well-being of their local, provincial, or national community. Applications should include:-A resume outlining the applicant's community/volunteer involvement; and-A letter of reference from a community member who can verify the community/volunteer involvement and the impact of the applicant's role.The award will be granted by the Senate Undergraduate Awards Adjudication Committee upon the nomination of the Dean, Faculty of Applied Sciences or their designate.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62557">Ryan Wilk Mastercard Memorial Award in Computing Science</a>


<h2>Peng Tu Ge Undergraduate Scholarship for Women in Engineering Science or in Computing Science</h2>

<p>One or more scholarships, valued at a minimum of $1,000 each, will be granted annually in any term to undergraduate female students who meet the following criteria:- are enrolled full-time in the term of eligibility;- are pursuing a bachelor's degree in the Faculty of Applied Sciences with a declared major in any program within the School of Computing Science or within the School of Engineering Science;-have completed at least 60 units; and-are in excellent academic standing.The scholarship will be granted by the Senate Undergraduate Awards Adjudication Committee. </p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62489">Peng Tu Ge Undergraduate Scholarship for Women in Engineering Science or in Computing Science</a>

<h2>Matthew LeDuc Memorial Scholarship in Computing Science</h2>

<p>Awarded annually on the basis of academic achievement to a Computing Science major, with demonstrated excellence in the field of computer graphics. The award will be made by the Senate Undergraduate Awards Adjudication Committee upon the nomination of the Director, School of Computing Science.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62128">Matthew LeDuc Memorial Scholarship in Computing Science</a>

<h2>Mark and Nancy Brooks Computing Science Innovation Award</h2>

<p>Granted to a computing science student in good academic standing who demonstrates exceptional accomplishment, promise or innovation in the area of computing science outside classroom work. The application should include a description of the interest or innovative ideas that student is considering. The award will be made by the Senate Undergraduate Awards Adjudication Committee on the nomination of the Director, School of Computing Science.</p>

<a target="_blank" href="https://awards-search.sfu.ca/Home/AwardDetail/62094">Mark and Nancy Brooks Computing Science Innovation Award</a>

<h2>(External Award) Irving K. Barber BC Scholarship Society Women in Technology Scholarships</h2>

<p>You must have completed a minimum of one-year of post-secondary studies (30 credits) leading to an undergraduate degree, diploma or certificate in Computer/Data Science, Engineering, or Mathematics, and be continuing in your studies at a BC public post-secondary institution for at least one additional year.

Women in Technology Scholarships and Indigenous Women in Technology Scholarships are awarded on the basis of academic achievement (Minimum B+ GPA required), and a demonstrated commitment to the pursuit of a career in the Technology Sector.</p>

<a target="_blank" href="https://www.ikbbc.ca/women-in-tech/about-this-scholarship/">Irving K. Barber BC Scholarship Society Women in Technology Scholarships</a>

            </div>
        </div>
    </section>
{% endblock %}
