{% extends "csss/header.html" %}

{% block content %}
{{ block.super }}
	<section class="section">
        <div class="container">
            <div class="content" >
                <h1 class="title">Getting Started</h1>
                <p>Eager to get some hands-on experience coding but don't know where to start? Let's see if we can't help with that.</p>
                <p>Below are some ideas to get you started on cranking out code. And don't worry, if the greener you are to the world of code, the more you are welcome here</p>
                <p>If you want a human to talk to, feel free to reach out on discord to our wonderful VP Valerie Kistrina or in the <\channel> to ask for help.</p>
                <p>If you don't understand the repos linked below, feel free to reach out to the maintainer [Jace] on discord at @modernNeo</p>

                <h2 class="title">Project Ideas</h2>
                <ul>
                    <li><a href="https://github.com/CSSS/csss-site/#1-setup-python-environment">contribute to the CSSS website</a></li>
                    <li><a href="https://github.com/CSSS/wall_e">contribute to the discord.py CSSS discord bot wall_e</a></li>
                    <li>or get help with an idea you already have</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
